@import "functionsbase";
@import "settings";
@import "functions";
@import "normalize";
@import "fonts";
@import "images";
@import "grid";
@import "hamburguer";
@import "animations";
@import "_validationform";
@import "idiomas";

/*===========================
-------- GENERALES --------*/

/*sass --watch sass/style.scss:style.css*/


html {
  font-size: font-default;
}
body {
  font-family: 'helvetica-pro', Arial, Sans-Serif;
  font-size: font-default;
  background-color: white;
  color: text-default;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  padding-left: 35px;
  box-sizing: border-box;
  li {
    margin-bottom: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
    box-sizing: border-box;
  }

  
  &.big-bullets {
    list-style: none;
    counter-reset: section;
    padding-left: 0;
    @include clean;
    li {
      position: relative;
      margin: 19px 0;
      display: block;
      width: 100%;
      float: left;
      padding-left: 65px;
      &:before {
        counter-increment: section;
        content: counter(section);
        position: absolute;
        top: -12px;
        left: 0;
        display: block;
        text-align: center;
        font-size: toEm(40);
        font-family: 'knockout';
        letter-spacing: 5px;
        background-color: black;
        border-radius: 100%;
        color: white;
        width: 52px;
        height: 52px;
        line-height: 52px;
        z-index: 1;
        text-indent: 3px;
      }
      ul {
        list-style: disc;
        li {
          margin: 0 0 20px 0;
          padding-left: 0;
          display: list-item;
          &:before {
            display: none;
          }
        }
      }
    }
  }
}
p {
  margin-top: 0;
  line-height: 1.5;
  font-size: toEm(17);
  /*letter-spacing: 1px;**/
  letter-spacing:0;
  @include responsive('max', $w-mobile) {
    font-size: toEm(16);
    line-height: 1.3;
  }
  &:empty {
    display: none;
  }
}
hr {
  background-color: $col-line;
  border: 0;
  height: 1px;
  margin: 0 0 1.75em;
}
table,
th,
td {
  border: 1px solid #d1d1d1;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.75em;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
th {
  border-width: 0 1px 1px 0;
  font-weight: 700;
}
td {
  border-width: 0 1px 1px 0;
}
th,
td {
  padding: 0.4375em;
}
blockquote {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 50px 0;
  p {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 1.2;
    margin: 0;
  }
}
footer {
  padding: 200px;
}
//--FORMS
[type="submit"],
button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-shadow: none;
  box-shadow: none;
  padding: 5px;
  margin: 5px;
  border-radius: 0;
  background: none;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 1px solid $col-line;
  padding: 13px;
  margin-bottom: 15px;
  box-sizing: border-box;
  @include placeholder {
    text-transform: uppercase;
    color: #7F7F7F;
    font-size: 14px;
  }
}
textarea {
  height: 125px;
}
.group {
  box-sizing: border-box;
}
//--- LISTS
.big-w-bullets,
.big-b-bullets {
  counter-reset: section;
  .bullet-txt {
    position: relative;
    padding-left: 65px;
    @include responsive('max', $w-mobile) {
      padding-left: 54px;
    }
    &:before {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      top: 33px;
      left: 0;
      display: block;
      text-align: center;
      font-size: toEm(40);
      font-family: 'knockout';
      letter-spacing: 5px;
      background-color: white;
      border-radius: 100%;
      color: black;
      width: 52px;
      height: 52px;
      line-height: 52px;
      z-index: 1;
      text-indent: 3px;
      @include responsive('max', $w-mobile) {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: toEm(30);
      }
    }
  }
}
.big-b-bullets {
  .bullet-txt {
    &:before {
      top: -10px;
      color: white;
      background-color: black;
    }
  }
}

/*----- links -----*/

.btn-link1,
[type="submit"] {
  font-size: toEm(14);
  letter-spacing: 0.4px;
  line-height: 1;
  color: white;
  text-transform: uppercase;
  padding: 15px 22px;
  font-family: 'helvetica', Arial, Sans-Serif;
  text-decoration: none;
  background: black;
  border: 1px solid black;
  display: inline-block;
  transition: all 100ms ease-in-out;
  text-align: center;
  &:hover {
    background: white;
    color: black;
  }
}
.btn-link2 {
  font-size: toEm(12);
  letter-spacing: 1px;
  line-height: 1;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 15px 22px;
  text-decoration: none;
  background: black;
  border: 1px solid black;
  display: inline-block;
  transition: all 100ms ease-in-out;
  font-family: 'helvetica', Arial, Sans-Serif;
  &:hover {
    background: white;
    color: black;
  }
}

/*---STYLES--*/

.center {
  text-align: center;
}
.group-inline {
  display: inline-block;
}
.beige {
  background-color: #f8f8f6;
  color: black;
}

/*---ATOMS--*/

.title {
  font-size: toEm(105);
  line-height: 0.75;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'knockout';
  font-weight: normal;
  margin:0 0 10px;
  @include responsive('max', $w-large) {
      font-size: toEm(95);
    }
  @include responsive('max', $w-mobile) {
    font-size: toEm(70);
     line-height: 0.9;
  }
  &.white {
    color: white;
  }
}
.data {
  text-align: center;
}
.data-label {
  text-transform: uppercase;
  font-size: toEm(12);
  letter-spacing: 1px;
}
.num {
  font-size: toEm(50);
  font-weight: 700;
  line-height: 1;
  @include responsive('max', $w-mobile) {
    font-size: toEm(32);
  }
}

/*----GROUPS--*/

.head-section {
  margin-top: 50px;
  margin-bottom: 20px;
  @include clean;
  .title {
    float: left;
  }
  .data {
    float: left;
    &:last-child {
      padding-right: 10px;
      margin-left: 47px;
      padding-left: 47px;
      border-left: 1px solid #f1f1f1;
      @include responsive('max', $w-mobile) {
        width: 50%;
        margin: 0;
        padding: 0;
        float: left;
      }
    }
    @include responsive('max', $w-mobile) {
      width: 50%;
      margin: 0;
      padding: 0;
      float: left;
      box-sizing: border-box;
    }
  }
  .data-label {
    margin-bottom: 15px;
  }
  .data-wrapper {
    float: right;
    @include clean;
    margin-top: 5px;
    @include responsive('max', $w-mobile) {
      width: 100%;
      margin-top: 20px;
    }
  }
}

/*----- BLOCKS ----*/

.block {
  h3 {
    margin: 0;
    font-size: toEm(18);
    line-height: 1.4;
    letter-spacing: 0;
  }
  p {
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.3;
    font-size: toEm(15);
    letter-spacing: 0;
  }
}
.blocks-type1 {
  .row {
    padding-bottom: 50px;
    /*border-bottom: 1px solid $col-line;*/
    margin-bottom: 50px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .wrap-imgcover {
    height: 420px;
    margin-bottom: 20px;
    @include responsive('max', $w-mobile) {
      height: 340px;
      img {
        -o-object-position: top center;
        object-position: top center;
      }
    }
  }
}
.destacado1 {
  margin-bottom: 70px;
  [class*="wide"] {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
    &:first-child {
      padding-right: 40px;
      @include responsive('max', $w-mobile) {
        padding-right: 0;
      }
      .btn-link1 {
        margin-left: -10px;
        @include responsive('max', $w-mobile) {
          margin-left: 0;
        }
      }
    }
    &:last-child {
      padding-left: 40px;
      border-left: 1px solid $col-line;
      @include responsive('max', $w-mobile) {
        padding-left: 0;
        border: 0;
      }
      .btn-link1 {
        margin-left: 20px;
        @include responsive('max', $w-mobile) {
          margin-left: 0;
        }
      }
    }
  }
  .wide60 {
    h2 {
      font-size: toEm(40);
      margin: 0 0 30px 0;
      line-height: 1.25;
      letter-spacing: -1px;
      padding-top: 20px;
      @include responsive('max', $w-mobile) {
        font-size: toEm(30);
      }
    }
    @include responsive('max', $w-mobile) {
      margin-bottom: 30px;
    }
  }
  .num {
    font-size: toEm(150);
    font-weight: 700;
    line-height: 0.7;
    padding-top: 40px;
    @include responsive('max', $w-mobile) {
      font-size: toEm(100);
    }
  }
  p {
    font-size: toEm(20);
    margin-top: 20px;
    line-height: 1.25;
  }
  .btn-link1 {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    @include transform(translate(-50%, 0));
  }
}
.actions-archive {
  background: #eeeeea;
  padding: 8px 0;
  text-align: left;
  position: relative;
  z-index: 1;
  overflow: initial;
  a {
    color: inherit;
  }
  span {
    font-size: toEm(20);
    font-weight: 700;
    margin-right: 50px;
  }
  [class*="from"] {
    display: inline-block;
  }
  .group-inline {
    float: right;
    position: relative;
   
    a {
      text-decoration: none;
      margin-right: 36px;
      font-size: 14px;
      display: inline-block;
      @include responsive('max', $w-mobile) {
        margin-bottom: 15px;
      }
      &:before {
        content: "";
        display: inline-block;
        width: 33px;
        height: 35px;
        background: url(assets/fotoicono.svg) no-repeat;
        background-size: 33px auto;
        vertical-align: bottom;
        margin-right: 7px;
        background-position: center;
        opacity: 0.5;
        top: 8px;
        position: relative;
      }
      &.ico-video {
        &:before {
          background-image: url(assets/videoicono.svg);
        }
      }
      &.ico-nota {
        &:before {
          background-image: url(assets/textoicono.svg);
        }
      }
      &.ico-todo {
        &:before {
          background-image: url(assets/todoicono.svg);
        }
      }
      &.ico-audio {
        &:before {
          background-image: url(assets/audioicono.svg);
        }
      }
    }
  }
  .wrap-text {
    &>* {
      @include responsive('max', $w-mobile) {
        margin-bottom: 15px;
        width: 100%;
        display: block;
      }
    }
  }
}
.text-centered-block {
  position: relative;
  .wrap-imgcover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .row {
    position: relative;
  }
  .wrap-text {
    width: 100%;
    text-align: center;
    height: 730px;
    display: table;
    box-sizing: border-box;
    @include responsive('max', $w-mobile) {
      height: auto;
      padding: 50px;
    }
    .inner {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .title {
    margin-bottom: 24px;
    margin-top: -55px;
    @include responsive('max', $w-mobile) {
      margin-top: 0;
    }
  }
  .group-inline {
    a {
      margin: 0 5px;
    }
  }
}

/*--- MODULOS IMG TEXTO  ---*/

.col-x2-full {
  position: relative;
  h1.from-top {
    margin: 0;
    font-size: toEm(240);
    font-family: 'knockout';
    font-weight: normal;
    text-transform: uppercase;
    line-height: 0.75;
    letter-spacing: 7px;
    @include responsive('max', $w-large) {
      font-size: toEm(200);
    }
    @include responsive('max', $w-tablet) {
      font-size: toEm(170);
    }
    @include responsive('max', $w-mobile) {
      font-size: toEm(100);
    }
  }
  .btn-link1 {
    margin-top: 14px;
  }
  .wrap-imgcover {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    box-sizing: border-box;
    @include responsive('max', $w-mobile) {
      position: relative;
      height: 300px;
      width: 100%;
      border-bottom: 1px solid $col-line;
    }
    &.left {
      right: auto;
      left: 0;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
    &>*:not(img) {
      position: relative;
      z-index: 1;
    }
  }
  [class*="row"] {
    position: relative;
  }
  .inner {
    position: relative;
    display: table;
    /*height: 764px;*/
    width: 50%;
    box-sizing: border-box;
    @include pos_abs('padding-left', 1);
    padding-right: 50px;
    @include responsive('max', $w-mobile) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      height: auto;
    }
  }
  .wrap-text {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 0;
    @include responsive('max', $w-mobile) {
      padding-bottom: 30px;
    }
    &>*:first-child {
      margin-top: 0px /*40px*/;
      @include responsive('max', $w-mobile) {
        margin-top: 0px;
        margin-bottom: 30px;
      }
    }
    &>*:last-child {
      margin-bottom: 40px;
    }
  }
  &.banner {
    border-bottom: 0px solid $col-line;
    h1 {
      @include responsive('max', $w-mobile) {
        color: white;
      }
    }
    p {
      font-size: toEm(20);
      line-height: 1.4;
      margin-top: 10px;
      @include responsive('max', $w-mobile) {
        font-size: toEm(16);
        margin-left: -20px;
        margin-right: -20px;
        background: white;
        box-sizing: border-box;
        padding: 20px 20px 0px 20px;
      }
    }
    .inner {
      width: 54%;
      @include responsive('max', $w-mobile) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
        padding-top: $rsp-h-imgs;
      }
    }
    .wrap-imgcover {
      @include responsive('max', $w-mobile) {
        position: absolute;
        @include mask(black, 0.3);
        height: calc(100% - #{$rsp-h-imgs});
        width: 100%;
      }
    }
  }
  &.mod-2 {
    .inner {
      height: 520px;
      width: 54%;
      @include responsive('max', $w-mobile) {
        width: 100%;
        height: auto;
      }
    }
    .wrap-imgcover {
      width: 46%;
      @include responsive('max', $w-mobile) {
        width: 100%;
      }
    }
  }
}
.block-txt-only {
  .title {
    font-size: toEm(70);
  }
  .cols-x-2 {
    padding: 90px 0;
    @include responsive('max', $w-mobile) {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }
  .block {
    &:first-child {
      width: (100% / 12) * 4;
      text-align: center;
      @include responsive('max', $w-mobile) {
        width: 100%;
      }
    }
    &:last-child {
      width: (100% / 12) * 8;
      padding-left: $gutter;
      @include responsive('max', $w-mobile) {
        width: 100%;
        padding-left: 0;
      }
    }
  }
  .title {
    margin-bottom: 15px;
    @include responsive('max', $w-mobile) {
      text-align: left;
    }
  }
  &.mod-2 {
    .title {
      padding-left: $gutter;
      @include responsive('max', $w-mobile) {
        padding-left: 0;
        margin-bottom: 30px;
      }
    }
    .block {
      &:first-child {
        width: (100% / 12) * 6;
        text-align: left;
        @include responsive('max', $w-mobile) {
          width: 100%;
        }
      }
      &:last-child {
        width: (100% / 12) * 6;
        padding-left: $gutter;
        @include responsive('max', $w-mobile) {
          width: 100%;
          padding-left: 0;
        }
      }
    }
  }
  &.mod-3 {
    .title {
      text-align: left;
    }
  }
  &.mod-4 {
    p {
      margin-top: 0;
      line-height: 1.5;
      font-size: toEm(17);
      letter-spacing: 1px;
    }
    h3 {
      text-transform: uppercase;
      line-height: 1.5;
      font-size: toEm(17);
    }
    .cols-x-2 {
      padding: 40px 0;
    }
    .block {
      float: left;
      &:first-child {
        width: (100% / 12) * 5;
        text-align: left;
        margin-left: (100% / 12);
        @include responsive('max', $w-mobile) {
          width: 100%;
          margin-left: 0;
        }
      }
      &:last-child {
        width: (100% / 12) * 6;
        padding-left: $gutter;
        @include responsive('max', $w-mobile) {
          width: 100%;
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
  }
  &.black {
    background-color: black;
    color: white;
  }
}
[class*="block-txt-img"] {
  background: white;
  color: black;
  .inner {
    height: 506px;
    padding-right: 50px;
    @include responsive('max', $w-mobile) {
      height: auto;
    }
  }
  .title {
    margin-bottom: 15px;
  }
  .wrap-text {
    padding: 80px 0 50px 0;
    padding-right: 50px;
    vertical-align: top;
    @include responsive('max', $w-mobile) {
      padding: 50px 0 30px 0;
    }
    &>*:first-child {
      margin-top: 0;
    }
  }
  &.large-block {
    .inner {
      @include pos_abs_large('padding-left', 1);
    }
  }
  &.leftside {
    .col-x2-full {
      @include clean;
    }
    .inner {
      float: right;
    }
    .wrap-imgcover {
      right: auto;
      left: 0;
    }
  }
  &.beige {
    background-color: #f8f8f6;
    color: black;
  }
  &.black {
    background: black;
    color: white;
     .wrap-text a {
        font-size: toEm(12);
        letter-spacing: 1px;
        line-height: 1;
        color: white;
        text-transform: uppercase;
        padding: 15px 22px;
        font-family: 'helvetica', Arial, Sans-Serif;
        text-decoration: none;
        background: black;
        border: 1px solid #fff;
        display: inline-block;
        transition: all 100ms ease-in-out;
        &:hover {
          background: white;
          color: black;
        }
     }
        
    .col-x2-full .wrap-imgcover {
      @include responsive('max', $w-mobile) {
        border-bottom: 0;
      }

    }
  }
}
.block-txt-img2 {
  $w-txt: 58%;
  .inner {
    width: (100% - $w-txt);
    height: 520px;
    @include responsive('max', $w-mobile) {
      width: 100%;
      height: auto;
    }
  }
  .wrap-imgcover {
    width: $w-txt;
    @include responsive('max', $w-mobile) {
      width: 100%;
    }
  }
  .title {
    font-size: toEm(70);
    margin-bottom: 22px;
  }
  .wrap-text {
    padding: 80px 0;
    @include responsive('max', $w-mobile) {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }
  &.mod-2 {
    $w-txt: 35%;
    .inner {
      width: $w-txt;
      @include responsive('max', $w-mobile) {
        width: 100%;
      }
    }
    .wrap-imgcover {
      width: (100% - $w-txt);
      @include responsive('max', $w-mobile) {
        width: 100%;
      }
    }
  }
  &.mod-3 {
    $w-txt: 42%;
    border-top: 0px solid $col-line;
    border-bottom: 0px solid $col-line;
    .inner {
      width: (100% - $w-txt);
      @include responsive('max', $w-mobile) {
        width: 100%;
        padding: 0;
      }
      .wrap-imgcover {
        right: auto;
        left: 0;
        width: 35%;
        @include responsive('max', $w-mobile) {
          width: 100%;
          position: static;
          border-top: 1px solid $col-line;
          border-bottom: 0;
          img {
            position: static;
          }
        }
      }
      .wrap-text {
        padding-left: 45%;
        padding-right: 30px;
        @include responsive('max', $w-mobile) {
          box-sizing: border-box;
          padding-left: 20px;
          padding-right: 20px;
          width: 100%;
          display: block;
        }
      }
    }
    .wrap-imgcover {
      width: $w-txt;
      @include responsive('max', $w-mobile) {
        width: 100%;
        img {
          position: static;
        }
      }
    }
  }
  &.mod-4 {
    $w-txt: 50%;
    .inner {
      width: $w-txt;
      @include responsive('max', $w-mobile) {
        width: 100%;
      }
    }
    .wrap-imgcover {
      width: (100% - $w-txt);
      padding-left: $gutter;
      @include responsive('max', $w-mobile) {
        width: 100%;
        padding-left: 0
      }
    }
    ul,
    ol {
      @include clean;
      ul,
      ol {
        margin-top: 10px;
        .group {
          float: left;
          width: 50%;
          @include clean;
          @include responsive('max', $w-mobile) {
            width: 100%;
          }
        }
        a {
          float: right;
          display: block;
        }
      }
    }
  }
}
.block-txt-img3 {
  $w-txt: 61.3%;
  .inner {
    width: $w-txt;
    height: 550px;
    padding-left: calc(#{(100%/12)/2} + #{$gutter});
    @include pos_abs_large('padding-right', 1);
    @include responsive('max', $w-mobile) {
      width: 100%;
      padding: 0 20px;
    }
  }
  .wrap-imgcover {
    width: (100% - $w-txt);
    @include pos_abs_large('padding-left', 1);
    @include responsive('max', $w-mobile) {
      width: 100%;
      padding: 0;
    }
    .title {
      margin-top: 90px;
      padding-left: 48%;
      @include responsive('max', $w-mobile) {
        padding: 0 20px;
      }
    }
  }
  .title {
    font-size: toEm(70);
  }
  .wrap-text {
    vertical-align: middle;
  }
  &.mod-2 {
    $w-txt: 66%;
    .inner {
      width: $w-txt;
      padding-left: 20px;
      height: 450px;
      @include pos_abs_large('padding-right', 1);
      @include responsive('max', $w-mobile) {
        padding: 0 20px;
        width: 100%;
        height: auto;
      }
    }
    .wrap-imgcover {
      width: (100% - $w-txt);
      @include pos_abs_large('padding-left', 1);
      @include responsive('max', $w-mobile) {
        padding: 0;
        width: 100%;
      }
    }
    .wrap-text {
      vertical-align: top;
    }
  }
  &.mod-3 {
    $w-txt: 100% - 31%;
    .inner {
      width: $w-txt;
      height: 450px;
      @include pos_abs_large('padding-right', 1);
      @include responsive('max', $w-mobile) {
        width: 100%;
        height: auto;
      }
    }
    .wrap-imgcover {
      width: (100% - $w-txt);
      padding-left: 0;
      @include responsive('max', $w-mobile) {
        width: 100%;
      }
    }
    .wrap-text {
      vertical-align: top;
    }
  }
  &.mod-4 {
    $w-txt: 100% - 26.7%;
    border-top: 1px solid $col-line;
    margin-top: 50px;
    @include responsive('max', $w-mobile) {
      margin-top: 0;
    }
    .inner {
      width: $w-txt;
      height: 450px;
      padding-left: $gutter*2;
      @include pos_abs('padding-right', 1);
      @include responsive('max', $w-mobile) {
        width: 100%;
        height: auto;
        padding-left: 0;
      }
    }
    .wrap-imgcover {
      width: (100% - $w-txt);
      padding-left: 0;
      margin-top: -100px;
      height: calc(100% + 100px);
      @include responsive('max', $w-mobile) {
        width: 100%;
        margin-top: 0;
        height: 300px;
      }
      img {
        -o-object-position: top right;
        object-position: top right;
      }
    }
    .wrap-text {
      vertical-align: top;
      padding-top: 70px;
      @include responsive('max', $w-mobile) {
        padding-top: 30px;
      }
    }
    .group {
      display: inline-block;
      .title {
        font-size: toEm(95);
      }
      &:first-child {
        padding-right: 50px;
        margin-right: 50px;
        border-right: 1px solid $col-line;
        @include responsive('max', $w-mobile) {
          padding-top: 20px;
        }
      }
    }
    .titles-group {
      margin-top: 65px;
      @include clean;
    }
  }
}
.block-txt-img4 {
  $w-all: (100% / 12)*10;
  .title {
    font-size: toEm(70);
  }
  .wrap-text {
    padding: 60px 0;
    @include responsive('max', $w-mobile) {
      padding: 50px 0 30px 0;
    }
  }
  .col-x2-full {
    @include gralm;
    @include clean;
  }
  .wrap-imgcover {
    top: 40%;
    @include transform(translate(0, -50%));
    width: $w-all/2;
    padding-left: $gutter;
    height: auto;
    @include responsive('max', $w-mobile) {
      width: 100%;
      @include transform(translate(0, 0));
      padding-left: 0;
      height: 360px;
    }
  }
  .inner {
    width: $w-all/2;
    margin-left: (100% / 12)*2;
    @include responsive('max', $w-mobile) {
      width: 100%;
      margin-left: 0;
      padding: 0;
    }
  }
  .wrap-text {
    .btn-link2 {
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
  &.leftside {
    .inner {
      margin-left: 0;
      padding-right: 0;
      width: (100% / 12)*4;
      padding-left: $gutter*2;
      @include responsive('max', $w-mobile) {
        width: 100%;
        padding-left: 0;
      }
    }
    .wrap-imgcover {
      height: 100%;
      top: 0%;
      transform: translate(0, 0);
      width: (100% / 12)*6;
      margin-left: (100% / 12)*2;
      padding-right: $gutter*2;
      @include responsive('max', $w-mobile) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        height: 360px;
        margin-left: 0;
      }
    }
  }
}
.block-txt-imgfull {
  color: white;
  .inner {
    height: 629px;
    width: 34%;
    @include responsive('max', $w-mobile) {
      width: 100%;
    }
  }
  .wrap-text {
    padding-top: 90px;
    padding-right: 50px;
    vertical-align: top;
    @include responsive('max', $w-mobile) {
      padding-top: 50px;
    }
    &>*:first-child {
      margin-top: 0;
    }
  }
  .wrap-imgcover {
    width: 100%;
    @include mask(black, 0.3)
  }
  &.mod-2 {
    .wrap-imgcover {
      width: 40%;
      right: auto;
      left: 0;
      @include mask(black, 0);
      @include responsive('max', $w-mobile) {
        width: 100%;
      }
    }
    .wrap-text {
      color: black;
    }
    .inner {
      height: auto;
    }
  }
}
.left4col {
  position: relative;
  .row {
    position: relative;
  }
  .inner {
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $gutter;
    box-sizing: border-box;
    height: 525px;
    left: 40px;
    @include responsive('max', $w-mobile) {
      max-width: none;
      padding: 0;
      height: auto;
      left: 0;
    }
    .wrap-text {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/*-- MULTICOLUMNS --*/

.text-multicolums {
  .block {
    padding-bottom: 70px;
    position: relative;
  }
  .btn-link1 {
    position: absolute;
    display: block;
    bottom: 0;
    left: $gutter;
    padding: 15px;
    @include responsive('max', $w-mobile) {
      left: 0;
    }
  }
}
.double-cols2-full {
  .wrap-cols-text,
  .wrap-title {
    height: 513px;
    padding-bottom: 60px;
    box-sizing: border-box;
    display: table;
    width: 100%;
    @include responsive('max', $w-mobile) {
      height: auto;
      padding-bottom: 0;
    }
    &>* {
      display: table-cell;
      vertical-align: bottom;
    }
  }
  .btn-link1 {
    margin-top: 30px;
  }
}
.double-cols2-full {
  &.mod-2 {
    .col-x2-full {
      position: relative;
    }
    .wrap-imgcover {
      width: 100%;
      @include responsive('max', $w-mobile) {
        position: absolute;
        height: 100%;
        border-bottom: 0;
      }
      &:first-child {
        left: 0;
        right: auto;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: calc(100% - 268px);
        top: 268px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
        @include responsive('max', $w-mobile) {
          height: 100%;
          top: 0;
        }
      }
    }
    .row {
      position: relative;
      z-index: 1;
    }
    .block {
      position: relative;
      padding-top: 268px;
      @include responsive('max', $w-mobile) {
        padding-top: 0px;
        margin-bottom: 0;
      }
      &:first-child {
        @include pos_abs('padding-left', 1);
        @include responsive('max', $w-mobile) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      &:last-child {
        @include pos_abs('padding-right', 1);
        @include responsive('max', $w-mobile) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    .wrap-txt {
      padding-top: 50px;
      padding-bottom: 120px;
      color: white;
      padding-left: 74px;
      line-height: 1.3;
      padding-right: 40px;


      @include responsive('max', $w-mobile) {
        padding-top: 44px;
        padding-left: 54px;
      }
      .btn-link2 {
        margin-top: 30px;
        position: absolute;
        left: 75px; bottom: 50px;
      }
    }
  }
}
.infodatos {
  .text {
    font-size: toEm(17);
    line-height: 1.45;
  }
  .title {
    text-align: left;
  }
  .data-label {
    font-weight: 700;
    padding-top: 20px;
  }
  .wrap-imgcover {
    margin-top: 60px;
  }
  .wrapinfo {
    margin-top: 90px;
  }
  .imagen {
    position: absolute;
    img {
      width: 100%;
    }
  }
  .group {
    position: relative;
    @include clean;
    &>* {
      float: left;
      width: 50%;
      box-sizing: border-box;
      @include responsive('max', $w-mobile) {
        
      }
    }
    &.cabecera_textos {
      padding-bottom: 60px;
      border-bottom: 1px solid $col-line;
        .title  {width:45%;}
        .text  {width:55%; letter-spacing:0;}
    }
    &.datos_tienda {
      padding: 35px 0 55px 0;
      border-bottom: 1px solid $col-line;
       @include responsive('max', $w-mobile) {
        padding: 0;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      .imagen {
        width:275px; right: 20px; top:20px;
         @include responsive('max', $w-mobile) {
          width:232px; right: 20px; top:20px;
         }
      }
      .data-label {padding-top: 0px;}
      .num {
        font-size: toEm(130);
        &:before {display: inline-block; content: "+"}
      }
    }
    &.categoria_distribucion {
      padding-left: 28%;
      padding-top: 60px;
      padding-bottom: 68px;
      border-bottom: 1px solid $col-line;
      @include responsive('max', $w-mobile) {
        padding: 0;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      &:before {
          content: "";
          display: block;
          width: 1px;
          height: 100%;
          position: absolute;
          background-color: $col-line;
          top: 0;
          left: 65%;
          @include responsive('max', $w-mobile) {
           left: 50%;
          }
        }
      .num {
        position: relative;
        font-size: toEm(70);
      }
      .imagen {
        width: 207px;
        top:-30px;
        left: 20px;
        z-index: 1;
        @include responsive('max', $w-mobile) {
          display: none;
        }
      }
    }
    &.facturacion_empleados {
      padding-top: 65px;
      padding-bottom: 85px;
      border-bottom: 1px solid $col-line;
      @include responsive('max', $w-mobile) {
       padding-top: 40px;
       padding-bottom: 40px;
      }
       &:before {
          content: "";
          display: block;
          width: 1px;
          height: 100%;
          position: absolute;
          background-color: $col-line;
          top: 0;
          left: 62%;
          @include responsive('max', $w-mobile) {
           left: 50%;
          }
        }
      .data {
        &:first-child {
          text-align: left;
          padding-top: 50px;
          @include responsive('max', $w-mobile) {
            padding-top: 0px;
          }
          .num {
            font-size: toEm(120);
          }
          .data-label {max-width: 220px; text-align: center; padding-top:0px;}
        }
        &:last-child {
          padding-left: 15%;
          @include responsive('max', $w-mobile) {
             padding-left: 0;
          }

          .data-label {padding-top:0px;}
          .num {
            font-size: toEm(80);
            padding-top: 85px;
             &:before {display: inline-block; content: "+"}
            @include responsive('max', $w-mobile) {
             padding-top: 0px;
            }
          }
        }
      }
      .imagen {
        width: 160px;
        top: -66px;
        left: 50%;
        @include transform(translate(-60%, 0));
        @include responsive('max', $w-mobile) {
          display: none;
        }
      }
    }
    &.mapa {
      padding-top: 30px;
      margin-bottom: 30px;
      .map {
        position: static;
        opacity: 0.6;
        @include responsive('max', $w-mobile) {
          width: 100%;
        }
      }
      .data {
        width: 70%;
        @include responsive('max', $w-mobile) {
          width: 100%;
        }
      }
      .data + .data {width:30%; padding-top:80px;}
      .num {
        font-size: toEm(100);
      }
    }
  }
}
.landing-content {
  @include clean;
  margin-top: 79px;
}

body.home .landing-content {
  margin-top: 56px;
}

   
.landingnav {
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  @include clean;
  padding: 15px;
  border-top: 1px solid $col-line;
  border-bottom: 1px solid $col-line;
  box-sizing: border-box;
  &>span {
    font-size: toEm(16);
    display: block;
    text-transform: uppercase;
  }
  button {
    position: absolute;
    top: 24px;
    right: 20px;
    @include responsive('max', $w-mobile) {
      right: 15px;
    }
  }
  
}

.home .landingnav button {top: 14px;}
.landingnav .separa {display: inline-block; padding:0 10px;}
.migas {
  font-size: 12px;
  margin-top: 10px;
  text-transform: uppercase;
}
.menulanding {
  text-align: center;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  width: 222px;
  border: 7px solid black;
  border-right: 0;
  padding: 30px 15px;
  box-sizing: border-box;
  @include transform(translate(100%, 0));
  transition: transform 0.5s ease-in-out;
  &>ul {
    &>li {
      border-bottom: 1px solid $col-line;
      &:first-child {
        border-top: 1px solid $col-line;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li.current-menu-item a {color: #FF3800;}
    li.current-menu-item li a {color: #333333;}
    li:last-child a {border-bottom: 1px solid #f2f2f2;}
    li {
      margin: 0;
      padding: 0;
      a {
        color: #333333;
        font-size: toEm(16);
        text-decoration: none;
        font-weight: 700;
        display: block;
        padding: 10px 0;
        border-top: 1px solid #f2f2f2;
      }

      li {
        a {
          font-weight: 400;
          font-size: 0.815em;
          border:0px;
        }
      }

    }
  }
  &.toggle {
    @include transform(translate(0, 0));
  }
}
.titlemenu {
  font-size: toEm(24);
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: -1px;
}
.gallery-slider {
  .wrap-img {
    height: 400px;
    overflow: hidden;
  }
  .caption {
    margin-top: 15px;
    font-size: toEm(13);
  }
}

/*--- FICHA --*/

.header-post {
  position: relative;
  min-height: 330px;
  background: #f8f8f6;
  @include responsive('max', $w-mobile) {
    min-height: 0;
  }
  h1 {
    margin: 20px 0 6px 0;
    font-size: toEm(45);
    letter-spacing: -1px;
    @include responsive('max', $w-mobile) {
      font-size: toEm(30);
    }
  }
  .excerpt,
  .excerpt p {
    margin: 0;
    font-size: toEm(20);
    line-height: 1.4;
    @include responsive('max', $w-mobile) {
      font-size: toEm(16);
      line-height: 1.3;
    }
  }
  .inner {
    max-width: $global-width;
    width: $percent-width;
    margin: 0 auto;
    @include clean;
    padding-top: 30px;
    padding-bottom: 80px;
    @include responsive('max', $w-mobile) {
      width: 100%;
      padding-top: 150px;
    }
  }
  .wrap-texts {
    width: 69%;
    float: left;
    padding-right: 30px;
    box-sizing: border-box;
    @include responsive('max', $w-mobile) {
      width: 100%;
      padding: 50px 20px 0px 20px;
      position: relative;
      z-index: 1;
      color: white;
    }
    .tag {
      @include responsive('max', $w-mobile) {
        color: white;
      }
    }
  }
  .wrap-imgcover {
    width: 31%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    @include responsive('max', $w-mobile) {
      width: 100%;
      @include mask(black, 0.3);
    }
    img {
      width: 100%;
      -o-object-position: top center;
      object-position: top center;
    }
  }
  .info {
    font-size: toEm(14);
    float: left;
    @include responsive('max', $w-mobile) {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .fecha {
    color: #7F7F7F;
    @include responsive('max', $w-mobile) {
      color: white;
    }
  }
  .bottom {
    @include clean;
    margin-top: 35px;
  }
}
.body-post {
  padding-top: 55px;
  padding-bottom: 40px;
  a {
    color: $orange; text-decoration: underline;
  }
  ul,
  dl,
  ol {
    li,
    dt,
    dd {
      margin-top: 0;
      line-height: 1.5;
      font-size: toEm(17);
      letter-spacing: 0;
      margin-bottom: 15px;
    }
  }
  p {
    letter-spacing: 0;
  }
  blockquote {
    p {
      letter-spacing: -1px;
    }
    .author {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
  .link-grupo {
    color: #7F7F7F;
  }
  .inner {
    margin: 0 $gutter*-1;
    @include clean;
    &>* {
      box-sizing: border-box;
      padding: 0 $gutter;
    }
  }
}
.header-post .tag {
  color: $orange;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.listen {
  padding-left: 33px;
  color: inherit;
  text-decoration: none;
  background: url('assets/escucharnoticia.svg') no-repeat;
  display: block;
  float: right;
  @include responsive('max',
  $w-mobile) {
    width: 100%;
    box-sizing: border-box;
  }
}
.author {
  text-align: center;
  .img {
    width: 65px;
    height: 65px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
  }
  img {
    width: 100%;
  }
}
.name,
.link-grupo {
  font-size: toEm(14);
  color: #7F7F7F;
  margin-top: 12px;
  display: block;
  &:after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('assets/flechactasimple.svg') no-repeat center;
    vertical-align: middle;
    margin-left: 7px;
  }
}
.leftside-post {
  float: left;
  width: ((100% / 12) * 2);
  @include responsive('max',
  $w-mobile) {
    width: 100%;
  }
  .twitter {
    display: inline-block;
    margin-top: 10px;
    svg {
      fill: #a1a1a1;
      @include transform(scale(1.2));
    }
  }
}
.content-post {
  width: ((100% / 12) * 7);
  float: left;
  @include responsive('max',
  $w-mobile) {
    width: 100%;
    margin: 50px 0;
  }
}
.rightside-post {
  width: ((100% / 12) * 2.7);
  float: right;
  @include responsive('max',
  $w-mobile) {
    width: 100%;
  }
  p {
    font-size: toEm(14);
    line-height: 1.25;
  }
  [type="submit"] {
    display: block;
    margin: 0 0 0 auto;
  }
  .tag {
    color: black;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid $col-line;
    text-transform: none;
    letter-spacing: normal;
    margin-bottom: 10px;
    font-family: 'helvetica', Arial, Sans-Serif;
    text-decoration: none;
    color: #7F7F7F;
  }
  .tag:hover {background-color: #eee;}
  .socials {
    margin-bottom: 55px;
    a {
      display: inline-block;
      width: 25px;
      margin-right: 20px;
      text-align: center;
    }
    svg {
      fill: black;
      height: 20px;
      width: auto;
    }
  }
  .twitter {
    svg {
      @include transform(scale(0.9));
    }
  }
  .title {
    margin-bottom: 20px;
    font-size: toEm(28);
  }
  .group {
    margin-bottom: 50px;
  }
 

  .rightside-block {
    .wrap-imgcover {
      position: static;
      width: 100%;
      height: auto;
    }
    .wrap-imgcover img {height:auto; width: 100%;}
    .wrap-texts {
      width: 100%;
    }
    .title {
      margin-top: 15px;
    }
    input[type="text"] {
      width: 100%;
    }
  }
}
.info-grupo {
  font-size: toEm(18);
  line-height: (25/18);
  display: block;
  font-weight:600;
}

 .single-new  .group .wrap-info {
    max-width:300px;
  }

/*-- NEWSLETTER --*/

.rightside-block {
  position: relative;
  margin: 50px 0;
  @include clean;
  .wrap-imgcover {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
  }
  .wrap-texts {
    width: 60%;
    float: right;
    background: black;
    color: white;
    padding: 23px;
    box-sizing: border-box;
  }
  .tag-news {
    color: white;
    text-transform: uppercase;
  }
  .title {
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 5px;
  }
  p {
    font-size: toEm(15);
    line-height: (21/15);
  }
  input[type="text"] {
    background: #333333;
    border-color: #333333;
    width: calc(100% - 140px);
    float: left;
    display: block;
  }
  input[type="submit"] {
    width: 120px;
    float: none;
    display: block;
    border-color: #333333;
    margin: 0 0 0 auto;
  }
  form {
    @include clean;
    margin-top: 30px;
  }
}
.contact-footer {
  background: #f8f8f6;
  padding: 70px 0;
  float: left;
  width: 100%;
  p {
    font-size: toEm(15);
    line-height: 21px;
    margin-top: 10px;
  }
  .inner {
    margin: 0 $gutter*-1;
    @include clean;
  }
  .title {
    font-size: toEm(42);
    margin-bottom: 17px;
    letter-spacing: 4px;

  }
  .link-group {
    margin-top: 12px;
  }
  .row {
    @include clean;
  }
  .group {
    width: ((100% / 12) * 4);
    float: left;
    padding: 0 $gutter;
    &:last-child {
      width: ((100% / 12) * 8);
    }
  }
  .wrap-info {
    margin-bottom: 20px;
  }
}
.newsblock {
  .title {
    font-size: toEm(80);
  }
  .link-grupo {
    float: right;
    margin-top: 38px;
  }
  .wrap-imgcover {
    height: 310px;
  }
  .video,
  .audio {
    position: relative;
    .wrap-imgcover {
      @include mask(black,
      0.3);
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 130px;
        height: 130px;
        z-index: 1;
        @include transform(translate(-50%,
        -50%));
        background: url('assets/iconovideo.svg') no-repeat center;
      }
    }
    &.no-imagen {
      .wrap-text {
        &:before {
          content: "";
          display: block;
          margin: 0 auto;
          width: 50px;
          height: 50px;
          z-index: 1;
          background: url('assets/iconovideo_black.svg') no-repeat center;
          background-size: 90%;
          margin-bottom: 20px;
        }
      }
    }
  }
  .audio {
    .wrap-imgcover {
      &:before {
        background-image: url('assets/iconoaudio_1.svg');
        background-size: auto;
      }
    }
    &.no-imagen {
      .wrap-text {
        &:before {
          background-image: url('assets/iconoaudio_1_black.svg');
          background-size: auto;
        }
      }
    }
  }
  .no-imagen {
    text-align: center;
    a {
      height: 100%;
      display: block;
      padding: 30px;
      box-sizing: border-box;
      background: #eeeeea;
    }
    h3 {
      font-size: toEm(22);
      line-height: 1.25;
      margin-bottom: 10px;
    }
    .wrap-text {
      padding-top: 45px;
    }
  }
}

/*--- NEWSROOM ---*/

.newsroom {
  .block-txt-imgfull {
    p {
      width: 50%;
      letter-spacing: 1px;
      @include responsive('max',
      $w-mobile) {
        width: 100%;
      }
    }
    .inner {
      width: ((100% / 12) * 6);
      padding-right: 0;
      height: 520px;
      @include responsive('max',
      $w-mobile) {
        width: 100%;
      }
    }
    .title {
      font-size: 135px;
      line-height: 0.8;
      @include responsive('max',
      $w-mobile) {
        font-size: 100px;
      }
    }
    .wrap-imgcover {
      @include responsive('max',
      $w-mobile) {
        position: absolute;
        height: 100%;
      }
    }
    .wrap-text {
      padding: 125px 0 20px 0;
      vertical-align: middle;
    }
  }
  .block-txt-img3.mod-4 {
    .title {
      @include responsive('max',
      $w-mobile) {
        font-size: toEm(60);
      }
    }
    .inner {
      @include responsive('max',
      $w-mobile) {
        padding: 0 20px;
      }
    }
    .group {
      margin-bottom: 30px;
      @include responsive('max',
      $w-mobile) {
        border: 0;
      }
    }
    .titles-group {
      @include responsive('max',
      $w-mobile) {
        margin: 30px 0;
      }
    }
  }
}
.content-newsroom {
  float: left;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
  @include responsive('max',
  $w-mobile) {
    margin-bottom: 30px;
  }
  .wrap-imgcover {
    border: 0px solid $col-line;
  }
  .newsblock {
    float: left;
    width: calc(#{((100% / 12) * 9)} - 8px);
    @include responsive('max',
    $w-mobile) {
      width: 100%;
    }
    .head-section {
      margin-top: 0;
    }
  }
  .rightside-post {
    width: 20.5%;
    @include responsive('max',
    $w-mobile) {
      width: 100%;
    }
  }
}
.nos-necesitas {
  .group {
    width: (100% / 12) * 2;
    @include responsive('max',
    $w-mobile) {
      width: (100% / 12) * 6;
    }
    &:nth-child(2) {
      width: (100% / 12) * 3;
      @include responsive('max',
      $w-mobile) {
        width: (100% / 12) * 6;
      }
    }
    &:nth-child(3) {
      width: (100% / 12) * 7;
      @include responsive('max',
      $w-mobile) {
        width: 100%;
        margin-top: 40px;
      }
    }
  }
  .info-grupo {
    font-size: toEm(17);
  }
  .wrap-info {
    @include clean;
  }
  form {
    margin-top: 25px;
    input[type="submit"] {
      width: 120px;
      float: none;
      display: block;
      margin: 0 0 0 auto;
    }
  }
}
.block-madewithlove {
  .title {
    @include responsive('max',
    $w-mobile) {
      
    }
  }
  .group-inline {
    @include responsive('max',
    $w-mobile) {
      @include clean;
      display: block;
    }
    .btn-link1 {
      @include responsive('max',
      $w-mobile) {
        float: right;
        clear: right;
        margin-bottom: 15px;
      }
    }
  }
  .wrap-text {
    @include responsive('max',
    $w-mobile) {
      padding: 50px 0;
    }
  }
}
.homemulticolumn {
  margin-top: 45px;
  margin-bottom: 100px;
  @include responsive('max',
  $w-mobile) {
    margin-bottom: 50px;
  }
}
.amornocontanima {
  .cols-x-2.gutter-x1 {
    padding-bottom: 0;
  }
}
.factoriaemociones {
  ul,
  ol {
    list-style: none;
    counter-reset: section;
    padding-left: 0;
    margin: 30px 0;
    @include clean;
    ul,
    ol {
      padding-left: 35px;
      margin: 10px 0;
    }
    li {
      box-sizing: border-box;
      position: relative;
      margin-bottom: 40px;
      margin-top: 0;
      display: block;
      width: 100%;
      float: left;
      padding-left: 65px;
      @include responsive('max',
      $w-mobile) {
        margin-bottom: 35px;
      }
      &:before {
        counter-increment: section;
        content: counter(section);
        position: absolute;
        top: -12px;
        left: 0;
        display: block;
        text-align: center;
        font-size: toEm(40);
        font-family: 'knockout';
        letter-spacing: 5px;
        background-color: black;
        border-radius: 100%;
        color: white;
        width: 52px;
        height: 52px;
        line-height: 52px;
        z-index: 1;
        text-indent: 3px;
      }
      ul {
        list-style: disc;
        li {
          margin: 0 0 20px 0;
          padding-left: 0;
          display: list-item;
          &:before {
            display: none;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.peoplefirsthome {
  .title.white {
    @include responsive('max',
    $w-mobile) {
      color: black;
      margin-top: 25px;
      display: block;
    }
  }
}
.livedatahome {
  &.infodatos {
    .group {
      @include responsive('max',
      $w-mobile) {
        
      }
    }
    .data {
      @include responsive('max',
      $w-mobile) {
      
      }
      .num {
        @include responsive('max',
        $w-mobile) {
          font-size: 80px!important;
          text-align: center;
        }
      }
      .data-label {
        @include responsive('max',
        $w-mobile) {
          text-align: center;
          padding-top: 10px;
          margin-bottom: 20px;
        }
      }
    }
    .group:nth-child(1) {
      &>* {
        &:first-child {
          float: left;
          @include responsive('max',
          $w-mobile) {
            text-align: left;
            margin-bottom: 15px;
          }
        }
        &:last-child {
          @include responsive('max',
          $w-mobile) {
            float: left;
          }
        }
      }
    }
  }
  .wrap-imgcover {
    @include responsive('max',
    $w-mobile) {
      position: relative;
      height: 300px;
      width: 100%;
      img {
        -o-object-position: top center;
        object-position: top center;
      }
    }
  }
  .wrapinfo {
    @include responsive('max',
    $w-mobile) {
      margin-top: 20px;
    }
  }
}
.madewithlove-apertura {
  &.block-txt-imgfull {
    color: black;
    .wrap-imgcover:after {
      display: none;
    }
  }
}
.vision-block {
  padding-bottom: 50px;
  .inner {
    height: auto;
    padding:70px 0px 50px;
    @include responsive('max',
    $w-mobile) {
      height: auto;
    }
  }
  .wrap-text {max-width: 700px;}
  .title  {font-size: toEm(70);}
  .block {
    margin-bottom: 30px!important;
    h3 {font-size: toEm(39); line-height: 1; letter-spacing: 0px; padding-bottom: 5px;}
    p {margin-bottom: 0px;}
    .wrap-text{ background-color: #F8F8F6; height: 100%;}
    .txt {text-align: left; padding: 20px;}
    .wrap-imgcover {padding-bottom:20px;}
    .wrap-imgcover img {height:220px;}
    .numero {color:#fff; font-family: 'knockout'; font-size: 2.5em;  position: absolute; left: 20px; top:20px; width: 52px; height: 48px; padding-top:4px; border-radius:300px; text-align: center; background-color: #000; }
  }
}
.nosotros-apertura {
  .col-x2-full .wrap-imgcover {
    @include responsive('max',
    $w-mobile) {
      position: absolute;
      height: 100%;
    }
  }
  &.block-txt-imgfull .inner {
    @include responsive('max',
    $w-mobile) {
      height: auto;
      padding: 130px 20px 30px 20px;
    }
  }
}
.peoplefirst-apertura {
  &.block-txt-imgfull.mod-2 .inner {
    height: 430px;
    @include responsive('max',
    $w-mobile) {
      height: auto;
    }
  }
}
.personas-trabajar {
  .block {
    h3 {
      margin-bottom: 20px;
    }
    &:last-child {
      .wrap-title {
        float: left;
        width: 100%;
        box-sizing: border-box;
      }
      p {
        width: 50%;
        float: left;
      }
    }
  }
}
.pagination {
  margin: 40px 0;
  text-align: right;
  div {
    display: inline-block;
    a,
    span {
      color: black;
      font-size: 14px;
      padding: 0 10px;
      transition: color 200ms ease-in-out;
      &:hover {
        color: #FF3800;
      }
    }
    span {
      &.current {
        font-weight: 700;
      }
    }
  }
  .prev,
  .next {
    a {
      color: #7F7F7F;
      position: relative;
      padding: 0 15px;
      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 15px;
        width: 1px;
        background: darken($col-line, 10%);
        top: 50%;
        @include transform(translate(0,
        -50%));
      }
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        background: url(assets/flechactasimple.svg) no-repeat center;
        top: 50%;
      }
    }
  }
  .next {
    a {
      &:after {
        left: 0;
      }
      &:before {
        right: -10px;
        @include transform(translate(0,
        -50%) rotate(0deg));
      }
    }
  }
  .prev {
    a {
      &:after {
        right: 0;
      }
      &:before {
        left: -10px;
        @include transform(translate(0,
        -50%) rotate(180deg));
      }
    }
  }
}

/*--STYLE SELECTORS---*/

.wrapselectlist {
    width: auto;
    height: 100%;
    display: inline-block;
  ul {
    border: 0;
    border-top: 0;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    border: 1px solid $col-line;
    z-index: 10;
    padding: 10px 5px;
    top: 50px;
    min-width: 150px;
  }
  li {
    transition: all 100ms ease;
    padding: 10px 30px 10px 15px;
    border-bottom: 0;
    cursor: default;
    cursor: pointer;
    font-size: 13px;
    color: #7F7F7F;
    font-weight: normal;
    margin-bottom: 0;
    text-align: right;
    position: relative;
    line-height: 1;
    letter-spacing: 0;
    &:hover {
      color: black;
    }
    &.seleccionado {
      color: black;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      -webkit-transform-origin: center;
      -moz-transform-origin: center;
      transform-origin: center;
      top: 50%;
      @include transform(translate(0,
      -50%));
      right: 10px;
      width: 14px;
      height: 14px;
      background: url('assets/flechactasimple.svg') no-repeat;
      background-position: center;
      transition: transform 400ms ease-in-out;
    }
  }
  li::-moz-selection {
    color: white;
    background: transparent;
  }
  li::selection {
    color: white;
    background: transparent;
  }
  li:last-child {
    border-bottom: 0;
    padding-bottom: 15px;
  }
}
.seleclist {
  background: transparent;
}
.actoption {
  padding: 4px 50px 4px 0px;
  border: 0;
  background-color: transparent;
  color: #7F7F7F;
  cursor: pointer;
  height: 30px;
  box-sizing: border-box;
  line-height: 22px;
  position: relative;
  height: 100%;
  font-size: 13px;
  line-height: 57px;
  font-weight: normal;
  transition: background 200ms ease-in-out;
  &:hover {
    // background: rgba(95, 99, 231, 0.4);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    transform-origin: center;
    top: calc(50% - 3px);
    @include transform(translate(0,
    -50%));
    right: 20px;
    width: 14px;
    height: 14px;
    background: url('assets/flechactasimple.svg') no-repeat;
    background-position: center;
    margin-top: 3px;
    transition: transform 400ms ease-in-out;
  }
  &.up {
    &:after {
      @include transform(translate(0,
      -50%) rotate(90deg));
    }
  }
}
.actoption::-moz-selection {
  color: white;
  background: transparent;
}
.actoption::selection {
  color: white;
  background: transparent;
}

/*extras*/


/*home*/
#banner img {width: 600px;     bottom:0px;  -o-object-position: center center; object-position: center center;}
#banner .col-x2-full .wrap-text > *:last-child {margin-bottom: 30px;}
#banner .inner {min-height:680px;} 
#madewithlove.section {background-color:#f4f8f7;}
#madewithlove .inner {height: 685px; padding-left:40px; } 
#madewithlove  .wrap-imgcover img {left: auto; right:0px; width:100%;  -o-object-position: top right; object-position: top right;}
#madewithlove .wrap-text {vertical-align: middle; margin-right:0px;}
#madewithlove .btn-link1 {padding:15px 18px;}
#madewithlove .col-x2-full .wrap-text > *:last-child {margin-bottom: 0px;}
#peoplefirst .inner,
#peoplefirst .wrap-text {padding-right: 0px; padding-top:60px;}
#peoplefirst .wrap-text .block {position: relative; padding-bottom:50px; padding-top:10px;}
#peoplefirst .wrap-text .block p {font-size: 14px;}
#peoplefirst .wrap-text .block .btn-link1 {position: absolute; left:0.9375rem; bottom:0px; margin:0px;}

#livedata { background: url('imgs/lifeandfacts.jpg') no-repeat -100px bottom;  background-size:50%; }
.categoria_distribucion .label-pop1,
.categoria_distribucion .label-pop2 {cursor: pointer; text-decoration: underline;}
.categoria_distribucion .pop { display: none; text-align: left; position: absolute; top:0px; left:200px; z-index: 9; font-size: toEm(15); line-height:1.2; background-color:#fff; border:3px solid #000; padding: 20px; color: #000; width:250px;}
.categoria_distribucion .pop.active {display: block;}
.categoria_distribucion .pop ul {list-style: none; padding:0px; margin:0px;}
.categoria_distribucion .pop li {padding:0px; margin:0px; font-weight: 700; }
.categoria_distribucion .pop1 {left:0px; top:-25px; width:300px; }
.categoria_distribucion .pop1 li {display:inline-block; width:45%;}

#newsroom .head-section {margin: 60px 0px}
#newsroom .head-section .group {float: left;}
#newsroom .head-section .title {float: none;}
#newsroom .head-section .btn-link1 {float: right; margin-top: 60px; position: relative; bottom: -15px;}

/*made-with-love*/
.madewithlove-apertura {background-color:#f4f8f7}
.madewithlove-apertura .title {font-size: toEm(105);}
.madewithlove-apertura .inner {height:590px; padding-left:0px;  } 
.madewithlove-apertura .inner p {max-width: 480px; letter-spacing: 1px;}
.madewithlove-apertura .wrap-imgcover img {max-width: 85%; }

.quehacemos-section .wrap-imgcover img {width: 50%; position: static; float: left;}
.quehacemos-section .inner {width: 35%;}
.quehacemos-section .wrap-imgcover { width: 65%;}

.block-txt-img3.comolohacemos-section .inner {height:550px; }
.proposito-seccion .inner {padding-left: 0px;}

/*loving-you*/
.loving-you-apertura p {margin-bottom: 10px;}
.loving-you-apertura .wrap-text {padding-right: 0px;}
.loving-you-apertura .wrap-imgcover img { -o-object-position: top left; object-position: top left;}
.factoriaemociones .inner {width:50%; padding-right: 20px;}
.factoriaemociones .wrap-imgcover {width:50%;}
.factoriaemociones .wrap-imgcover img { -o-object-position: top right;  object-position: top right;}
.factoriaemociones  p {letter-spacing: 1px;}
#quehacemos.block-txt-img3 .inner {padding-left: 4%; }

.amornocontanima .wrap-text {padding-right: 10px;}
.amornocontanima .wrap-text p {font-size: toEm(17); }
.amornocontanima .wrap-imgcover img {width: 90%; float: right;}
.amornocontanima .destacados {background-color:#fff;  padding:40px!important; border-radius:40px;}
.amornocontanima .destacados h2 { font-size: toEm(13); padding-bottom: 40px; font-weight: 17px; text-transform: uppercase;}
.amornocontanima .destacado  {padding:0px; box-sizing: border-box; float: left; width: 100%;}
.amornocontanima .destacado .img {width:60px; float: left;}
.amornocontanima .destacado .img img {width: 100%;}
.amornocontanima .destacado .txt { padding-bottom:10px;   box-sizing: border-box; width: calc(100% - 60px); padding-left:30px; float: left; }
.amornocontanima .destacado .txt h3 { font-size: toEm(17); padding-bottom: 10px;}

.amornocontanima .block .txt p {font-size: toEm(14);}

.codigoconducta-section.block-txt-only.mod-2 .block:first-child {width: 40%;}
.codigoconducta-section .title {float: right; max-width:285px; padding-bottom:30px; }
.codigoconducta-section .block p {font-size: toEm(17); }
.codigoconducta-section .wrap-imgcover {width: 100%; float: left; }
.codigoconducta-section .wrap-imgcover img {max-width: 500px; min-height: 562px; float: right;}
.codigoconducta-section .wrap-text {padding-left:20px;}
.codigoconducta-section .destacados {float:left; width:100%; padding-bottom: 20px;}
.codigoconducta-section .destacado  {box-sizing: border-box; float: left; width: 100%; padding:10px 0 5px; }
.codigoconducta-section .destacado .img {width:35px; float: left;}
.codigoconducta-section .destacado .img img {width: 100%;}
.codigoconducta-section .destacado .txt {    box-sizing: border-box; width: calc(100% - 35px); padding-left:20px; float: left; }
.codigoconducta-section .destacado .txt h3 { font-size: toEm(17); padding-bottom: 10px;}
.codigoconducta-section .btn-link1 {font-size: toEm(12);}

/*people-first*/
.peoplefirst-apertura .wrap-imgcover {width: 55%;}
.peoplefirst-apertura .wrap-imgcover img {object-position: top center; width: 100%; height: auto; }
.peoplefirst-apertura .inner {height:600px; padding-left:40px; width:45%; } 

.liberatutalento-section .header {padding:60px 0px; vertical-align: bottom;}
.liberatutalento-section .header .title  {display: inline-block;  padding-right: 10px; vertical-align: bottom;}
.liberatutalento-section .header p  {display: inline-block; vertical-align: bottom;}
.liberatutalento-section + .section .cols-x-2  {margin: 0px;}
.liberatutalento-section + .section .cols-x-2 h3 {padding-bottom: 10px;}
.liberatutalento-section + .section .cols-x-2 p {font-size: toEm(14);}
.section-trabajarconpersonas .title {padding:60px 0px 40px; font-size: toEm(70); margin:0px; }
.section-trabajarconpersonas .gutter-x1.cols-x-4  .block  {padding:10px;}
.section-trabajarconpersonas .block .wrap-text {background-color:#fff; position: relative;}
.section-trabajarconpersonas .block .wrap-text .txt  {position: absolute; top:0px; left:0px; padding: 20px;}
.section-trabajarconpersonas .block .wrap-text .txt h3 {font-size: toEm(22); background-color: #fff; padding-right:6px;}
.section-trabajarconpersonas .wrap-imgcover  {height: 290px;}
.section-trabajarconpersonas .wrap-imgcover img {width: auto; height: 100%; float: right;}

.section-people .wrap-imgcover img {top:45px;}
.section-people.block-txt-img2.mod-3 .inner {width:62%;}
.section-people.block-txt-img2.mod-3 .inner p {letter-spacing: 1px;}
.section-people.block-txt-img2.mod-3 .inner .wrap-text { padding-left: 40%;}
.section-people.block-txt-img2.mod-3 .inner .wrap-imgcover {width: 40%;}


/*nosotros*/
.nosotros-apertura .wrap-imgcover:after {opacity: 0.4;}
.nosotros-apertura .inner {width: 40%}
.nosotros-apertura .inner p {font-size: toEm(19);}

.seccion-historia .wrap-imgcover {margin-top: 20px;}
.seccion-historia .wrap-imgcover img {height: auto; width: 100%;}
.seccion-historia .wrap-imgcover {width:55%;}
.seccion-historia .inner {width:45%; padding-right:0px;}
.seccion-historia .inner .wrap-text {padding-right:0px;}

.seccion-aroundtheworld .inner {height:700px; width:36%;}
.seccion-aroundtheworld .mapa {width: 64%;}
.seccion-aroundtheworld .mapa img {opacity: 0.25; padding:60px 0px;  width: 90%; height: auto;}
.seccion-aroundtheworld .wrap-text {position: relative;}
.seccion-aroundtheworld .wrap-text strong {cursor: pointer; text-decoration: underline;}
.seccion-aroundtheworld .pop {display: none; position: absolute; top:250px; left:300px; font-size: toEm(15); line-height:1.2; background-color:#fff; border:3px solid #000; padding: 20px; color: #000; width:250px;}
.seccion-aroundtheworld .pop strong {text-decoration: none;}
.seccion-aroundtheworld .pop.active {display: block;}

.section-headquarters {padding-bottom:40px;}
.section-headquarters .title {font-size: toEm(72);}
.section-headquarters .header {padding:60px 0px; }
.section-headquarters .gutter-x1.cols-x-4  .block  {padding:10px;}
.section-headquarters .block .wrap-text {height: 300px; background-color:#fff; position: relative;}
.section-headquarters .block .wrap-imgcover {height:150px;}
.section-headquarters .block .txt {padding:20px 40px 20px 20px; position: relative;}
.section-headquarters .block .txt p {margin:0px; padding:0px;}
.section-headquarters .block .txt h3 {font-size: toEm(60); line-height: 1;}

.section-headquarters .block:nth-child(2) .wrap-imgcover,
.section-headquarters .block:nth-child(4) .wrap-imgcover,
.section-headquarters .block:nth-child(7) .wrap-imgcover,
.section-headquarters .block:nth-child(8) .wrap-imgcover,
.section-headquarters .block:nth-child(11) .wrap-imgcover {height: 100%;background-color:#000;}

.section-headquarters .block:nth-child(2) .wrap-imgcover img,
.section-headquarters .block:nth-child(4) .wrap-imgcover img,
.section-headquarters .block:nth-child(7) .wrap-imgcover img,
.section-headquarters .block:nth-child(8) .wrap-imgcover img,
.section-headquarters .block:nth-child(11) .wrap-imgcover img {opacity:0.7;}

.section-headquarters .block:nth-child(2) .txt,
.section-headquarters .block:nth-child(4) .txt,
.section-headquarters .block:nth-child(7) .txt,
.section-headquarters .block:nth-child(8) .txt,
.section-headquarters .block:nth-child(11) .txt {position: absolute; left:0px; bottom:0px; color:#fff;}

.section-headquarters .block:nth-child(2) .txt h3,
.section-headquarters .block:nth-child(4) .txt h3,
.section-headquarters .block:nth-child(7) .txt h3,
.section-headquarters .block:nth-child(8) .txt h3,
.section-headquarters .block:nth-child(11) .txt h3 {font-size: toEm(35);}

.section-headquarters .block:nth-child(9) .wrap-imgcover img {/*height: 73px; width: 123px; margin:50px auto 0;*/}
.section-headquarters .block:nth-child(12) .wrap-imgcover img {height: 100%; width: auto; margin:0 auto;}

.seccion-organizacionenmovimiento  .row {padding-left:140px;}
.seccion-organizacionenmovimiento .header {padding:60px 0px 10px;  padding-left: calc(4.1666666667% + 0.9375rem);}
.seccion-organizacionenmovimiento .inner {width: 54%; padding-right:0px;}
.seccion-organizacionenmovimiento .wrap-imgcover {width: 46%;}
.seccion-organizacionenmovimiento .inner .wrap-text {padding-top: 0px; padding-right: 20px;  vertical-align: top}
.seccion-organizacionenmovimiento .wrap-imgcover img {height:450px;}

/*menulanding*/

.menulanding .socials a {padding-top:40px; margin:0 10px; display: inline-block;}
.menulanding .socials a.twitter svg {height:18px; width: auto;}
.menulanding .socials a.facebook svg {height:18px; width: auto;}
.menulanding .socials a.instagram svg {height:18px; width: auto;}
.menulanding .socials a:hover svg {   fill: #a1a1a1;}

/*listas textos*/
.simple_list ul { list-style: none;  padding-left: 20px;}
.simple_list ul li {  position: relative; padding-left:15px;}
.simple_list ul li:before { content: ''; position: absolute; left: 0px; top:10px; width:7px; height: 7px; border-radius:100px;  display: block;  background-color: #fff;}

/*video*/
.video .wrap-imgcover a {
      width: 100%; height: 100%; display: block;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 130px;
        height: 130px;
        z-index: 1;
        @include transform(translate(-50%,
        -50%));
        background: url('assets/iconovideo.svg') no-repeat center;
      }
}


/*boton textos*/

.seccion-organizacionenmovimiento .wrap-text a {
  font-size: toEm(14);
  letter-spacing: 1px;
  line-height: 1;
  color: white;
  text-transform: uppercase;
  padding: 15px 22px;
  text-decoration: none;
  background: black;
  border: 1px solid black;
  display: inline-block;
  transition: all 100ms ease-in-out;
  font-family: 'helvetica', Arial, Sans-Serif;
  &:hover {
    background: white;
    color: black;
  }
}


/*newsroom*/

.landingnav .link-grupo {font-size: toEm(13); position: absolute; bottom:0px; margin-bottom:15px; left:45%;}

.rightside-block.media .wrap-imgcover  { height:auto;  text-align: center; background-color: #F8F8F6;}
.rightside-block.media .wrap-imgcover img {/*width:67px; height:67px; margin: 20px auto;*/}
.newsroom .block-txt-imgfull .wrap-imgcover:after {opacity:0.5;}

/*archivo*/
.actions-archive .group-inline a.selected {/*color: #FF3800;*/ font-weight:600;}
.actions-archive .from-left {position: relative; z-index: 5;}

/*lista noticias*/
.content-newsroom .newsblock .block {margin-bottom: 70px;}
.content-newsroom .newsblock .block a:hover h3 {opacity:0.7;}
.newsblock .block.no_imagen { text-align: center; position: relative;}
.newsblock .block.no_imagen a {background: #eeeeea; padding:20px;  display: flex; justify-content: center; align-items: center; height:100%;}
.newsblock .block.no_imagen h3 {font-size: toEm(22); padding-bottom:5px; }
.video .wrap-imgcover:hover a:before {opacity:0.7;}

/*ficha noticia*/
.header-post .imagen_full .wrap-imgcover  {width:100%;  position: relative;}
.header-post .imagen_full .wrap-imgcover img {max-height:500px;      -o-object-position: center center;   object-position: center center;}
.header-post .imagen_full + .inner .wrap-texts {width: 100%;}
.inner.full .wrap-texts {width: 100%;}
.header-post .video .wrap-imgcover a {position: absolute;}
.header-post .video .wrap-imgcover {background-color:#000;}
.header-post .video .wrap-imgcover img {opacity: 0.7;}
.quoty-inner button {display: inline-block;}

/*modulos noticia*/

.modulo_imagen .wrap-imgcover {width: 100%;  margin:30px 0 50px;}
.modulo_imagen.ancho_completo .wrap-imgcover {height:700px;}
.modulo_imagen .wrap-imgcover img {width: 100%; height: 100%; min-height: 400px; }
.modulo_imagen .video .wrap-imgcover  {background-color: #000;}
.modulo_imagen .video .wrap-imgcover a {position: absolute;}
.modulo_imagen .video .wrap-imgcover img {opacity: 0.7;}

.content-post h2.tit_lista {border-top:7px solid #000; padding-top: 20px; font-size: toEm(30); margin-top:40px;}
.content-post figure {margin:1em 0 1.5em; max-width: 100%;}
.content-post figcaption {font-size: toEm(13); padding-top: 5px;}
.content-post  img {width: 100%;}

.content-post .wp-video {width: 100%!important; padding: 10px 0 20px 0;}
.content-post .wp-video-shortcode {width: 100%!important;}
.content-post .wp-video .mejs-controls {opacity:0;}

.lista_cronologia {position: relative;}
.lista_cronologia:before {content:""; display: block; position: absolute; left:50%; top:0px; margin-left:-2px; background-color: #C4C4C4; width: 4px; height:  100%;}

.lista_cronologia .ano { padding-left:55%; font-family: 'knockout'; font-size: toEm(130); color:#000;}
.lista_cronologia .cronologia:nth-child(2n) .ano  {text-align: right; padding-left:0px; padding-right:55%; }
.lista_cronologia .cronologia {padding-bottom:40px;}
.lista_cronologia .cronologia:last-child {padding-bottom: 0px;}
.lista_cronologia .bl {background-color:#000; position: relative;} 
.lista_cronologia .dia {font-family: 'knockout'; z-index:2; position: absolute; top:50px; left:20px; color:#fff; font-size: toEm(70); }
.lista_cronologia .txt {background-color:#000; color:#fff; padding:40px 20px;}
.lista_cronologia .imagen  {opacity:0.7;  }
.lista_cronologia .lista_imagenes {min-height: 150px;}
.lista_cronologia .imagen img {}
.lista_cronologia .txt h3 {font-size: toEm(30); margin:0px 0px 10px;}
.lista_cronologia .txt .txto {font-size: toEm(18);}

.owl-nav {display: block;}
.owl-nav button {display: block; position: absolute; top: 50%; margin-top:-39px;  }
.owl-nav button span {display: none;}
body .owl-carousel .owl-nav button.owl-prev {left: 20px; width:45px; height:78px; background:transparent url('imgs/prev.svg') no-repeat center; background-size:100%;}
body .owl-carousel .owl-nav button.owl-next {right: 20px; width:45px; height:78px;  background:transparent url('imgs/next.svg') no-repeat center; background-size:100%; }

.pag-mas {text-align: center;}
.pag-mas .ver-mas {padding:15px 30px; border:1px solid #000; display: inline-block;}

/*404*/
.error-404 {padding-top:120px; text-align: center;}

/*responsive*/
@media only screen and (max-width:1450px) {

    /*home*/
    #livedata {background-size: 57%; background-position: -200px bottom}
    #livedata .wrapinfo{width: 800px;}
    #livedata .wide40 {width: calc(100% - 800px);}
}





@include responsive('max', $w-tablet) {
       #livedata {background:none; }
       #livedata .wrapinfo {width: 100%; padding:0 30px;}
       #livedata .wide40 {display: none;}
       .cols-x-2.gutter-x1 {margin:0px;}
}


@include responsive('max', $w-mobile) {
        #banner .inner {min-height:100px;}
       .infodatos .group.mapa .data + .data {width: 100%; padding-top: 0px;}
       .infodatos .group.facturacion_empleados .data:first-child .data-label {margin:0 auto;}
       #madewithlove .inner {height: auto; text-align: left;}
       .block-madewithlove .group-inline .btn-link1 {float: left; margin-right:10px;}
       .text-multicolums .block {padding-bottom:0px;}
       .gutter-x1.cols-x-5 .block {padding-left: 10px; padding-right: 0; width: 100%;}
       .text-multicolums .btn-link1 {position:static; display: inline-block;}
       .block-txt-img3.comolohacemos-section .inner {height: auto;}
       #peoplefirst .wrap-text {padding-top:0px;}
       #peoplefirst .wrap-text .block .btn-link1 {left:0px;}
       #madewithlove .wrap-imgcover img {-o-object-position: center center;   object-position: center center;}

       /*loving you*/
       .loving-you-apertura .wrap-imgcover {overflow: hidden; height:600px;}
       .loving-you-apertura .wrap-imgcover img {height: auto;}

       #quehacemos .col-x2-full .wrap-imgcover { height:600px;}
       .codigoconducta-section.block-txt-only.mod-2 .block:first-child {width: 100%;}
       .block-txt-only.mod-2 .title {width: 100%; float: left; max-width: 100%;}
       .codigoconducta-section .wrap-imgcover img {max-width: 100%; min-height: 400px;}

       .factoriaemociones .inner {width:100%; }
       .factoriaemociones .wrap-imgcover {width:100%;}

       /*made width love*/
       .madewithlove-apertura .wrap-imgcover img {width: 100%; -o-object-position: center center;   object-position: center center;}
       .madewithlove-apertura .inner {height: auto;}
       .madewithlove-apertura .title {font-size: toEm(70);}
       .madewithlove-apertura .inner {height:auto; padding-left:20px;  } 
       .quehacemos-section .inner {width: 100%}
       .quehacemos-section .wrap-imgcover { width:100%;}
       .comolohacemos-section .wrap-imgcover img {max-width:500px; position: relative; margin:0 auto; -o-object-position: center center;   object-position: center center;}
       .proposito-seccion .wrap-imgcover {background-color:#fff;}
       .proposito-seccion .wrap-imgcover img {min-height:600px; max-width:500px; margin:0 auto;  object-position: top center;}

       .vision-block .gutter-x1.cols-x-3 .block {width: 50%; padding-right: 0.9375rem; padding-left: 0.9375rem;}
       .vision-block .block h3 {font-size: toEm(30);}

       /*nosotros*/
       .seccion-historia .wrap-imgcover {width:100%;}
      .seccion-historia .inner {width:100%; padding-right:20px;}
       .seccion-aroundtheworld .inner {height: auto;}
       .col-x2-full .wrap-imgcover.mapa {position: absolute;}
       .seccion-organizacionenmovimiento {padding-bottom: 40px;}
       .seccion-organizacionenmovimiento.block-txt-img3 .inner {height: auto;}
       .seccion-organizacionenmovimiento .row {padding-left: 0px;}
       .seccion-organizacionenmovimiento .inner {width: 100%; }
      .seccion-organizacionenmovimiento .wrap-imgcover {width: 100%;}
      .seccion-organizacionenmovimiento .inner .wrap-text {padding-right: 0px;}

      .seccion-aroundtheworld .inner {width: 100%;}
     .seccion-aroundtheworld .inner .wrap-text {padding-top: 0px;}
     .col-x2-full .wrap-imgcover.mapa {width: 100%; position: static; height: auto; margin-bottom:20px;}
     .col-x2-full .wrap-imgcover.mapa img {width: 90%; position: static; padding-bottom: 0px; margin: 0 auto;}
     .seccion-aroundtheworld .pop {width: 90%; top:100px; left: -2%;}


       /*people first*/
       .peoplefirst-apertura .wrap-imgcover {width: 100%;}
       .peoplefirst-apertura .inner {width: 100%; height: auto;}

       .section-people.block-txt-img2.mod-3 .inner {width: 100%; height: auto;}
       .section-people.block-txt-img2.mod-3 .inner .wrap-imgcover {width: 100%;}
       .section-people.block-txt-img2.mod-3 .inner .wrap-text {padding-left: 40px;}
       .double-cols2-full.mod-2 .wrap-txt .btn-link2 {left: 50px;}

       .section-people.block-txt-img2.mod-3 .wrap-imgcover {overflow: hidden; height:600px;}
       .section-people.block-txt-img2.mod-3 .wrap-imgcover img {height: auto;  -o-object-fit: none; object-fit: none;}
       .section-trabajarconpersonas .title {font-size: toEm(50); }
       /*newsroom*/
       .content-newsroom .newsblock .block {width: 50%; padding-right: 0.9375rem; padding-left: 0.9375rem;}
       
       .actoption {min-width: 150px;}

       /*ficha noticia*/
       .header-post {background-color:#333;}
       .header-post .video .wrap-imgcover a:before {top:20%;}
       .header-post.no_imagen  .inner {padding-top:40px;}
}


@media only screen and (max-width:500px) {
    .section-headquarters .title,
    .section-trabajarconpersonas .title,
    .vision-block .title,
    .block-txt-only .title,
    .block-txt-img3 .title,
    .block-txt-img2 .title,
    .title {font-size: toEm(50);}

    .newsroom .block-txt-imgfull .title {font-size:90px!important }
    .livedatahome.infodatos .data .num {font-size:70px!important }

    .col-x2-full.banner p {  padding:30px 30px 0 30px;  margin-left: -30px; margin-right: -30px;}
    .row, .normal-row {max-width: 100%; width: 100%; padding-left:30px; padding-right:30px; }
    
    #peoplefirst .wrap-text .block,
    .text-multicolums .block:last-child {margin-bottom:0px;}

    /*margenes*/
    .block-txt-img3.mod-3 .inner,
    .col-x2-full .inner,
    #banner.section .inner,
    #peoplefirst.section .inner,
    #lovingyou.section.section .inner,
    #madewithlove.section .inner,
    .block-txt-img3.comolohacemos-section .inner,
    .section-people.block-txt-img2.mod-3 .inner {padding-left:30px; padding-right:30px;}

     .col-x2-full .row .inner  {padding-left:0px; padding-right:0px;}

    /*home*/
    #madewithlove .wrap-imgcover img {width: 100%;}
    .block-madewithlove .group-inline .btn-link1 {margin-bottom: 0px;}
    .infodatos .group.cabecera_textos .title{width: 100%; padding-top: 20px;}
    .infodatos .group.cabecera_textos .text {width: 100%;}
     #livedata .wrapinfo { padding:0 10px;}
     .infodatos .group.cabecera_textos {padding-bottom: 40px;}
     .infodatos .group.datos_tienda .imagen {display: none;}
     .livedatahome.infodatos .group .data .data-label {margin-bottom:0px;}
     .livedatahome.infodatos .group.categoria_distribucion .data + .data .num {margin-top:20px;}
     .infodatos .data {width: 100%;}
     .infodatos .group.categoria_distribucion:before,
     .infodatos .group.facturacion_empleados:before {display: none;}
     .infodatos .group.facturacion_empleados .data:last-child {padding-top: 20px;}
     .infodatos .group.mapa .map img {margin: 0 auto; max-width: 80%; height: auto;}
     .categoria_distribucion .pop1,
     .categoria_distribucion .pop2 {width: 80%; left: 10%; top:0px;}
     #newsroom .head-section {padding-left: 10px;}
     #newsroom .head-section .btn-link1 {float: none; margin-top: 20px;}

     /*loving-you*/
     .loving-you-apertura .wrap-imgcover {overflow: hidden; height:300px;}
     #quehacemos .col-x2-full .wrap-imgcover { height:300px;}
     .amornocontanima .gutter-x1.cols-x-2 .block {margin-bottom: 0px;}
     .amornocontanima .row {padding-bottom: 30px;}
     .amornocontanima .destacado .img {width:30px;}
     .amornocontanima .destacado .txt {width: calc(100% - 30px);}
     .codigoconducta-section .destacado .img {width:25px;}
     .codigoconducta-section .destacado .txt  {width: calc(100% - 25px);}
     .codigoconducta-section .wrap-text {padding-left: 0px;}
     .codigoconducta-section .title {padding-bottom: 0px;}
     .codigoconducta-section .btn-link1 {text-align: center; line-height:1.3; }
     .codigoconducta-section .wrap-imgcover img { min-height: 300px;}

     .section-people.block-txt-img2.mod-3 .wrap-imgcover img {height: auto;  -o-object-fit: cover; object-fit: cover;}

     /*made-with-love*/
     .vision-block .gutter-x1.cols-x-3 .block {width: 100%; padding-right:0; padding-left:0;}
     .vision-block .block h3 {font-size: toEm(30);}


     /*Mosotros*/
     .nosotros-apertura.block-txt-imgfull .inner {padding:30px; width:100%;}
     .nosotros-apertura.block-txt-imgfull .wrap-text {padding: 250px 0px 0px 0px;}
     .nosotros-apertura.block-txt-imgfull .wrap-text p {margin: 0px;}
     .video .wrap-imgcover a:before {top:150px; width: 100px; height: 100px; background-size: 100%;}
     .seccion-historia .wrap-imgcover img {width: 100%;}
     .seccion-historia .row .inner {padding-left:0px; padding-right:0px;}
     .seccion-aroundtheworld .inner {width: 100%;}
     .seccion-aroundtheworld .inner .wrap-text {padding-top: 0px;}
     .col-x2-full .wrap-imgcover.mapa {width: 100%; position: static;}
     .col-x2-full .wrap-imgcover.mapa img {width: 90%; position: static; padding-bottom: 0px; margin: 0 auto;}
     .seccion-aroundtheworld .pop {width: 90%; top:100px; left: -2%;}
     .section-headquarters .gutter-x1.cols-x-4 .block {width: 100%; padding: 0px;}
     .section-headquarters .gutter-x1.cols-x-4 .block {padding-bottom: 0px;}
     .seccion-organizacionenmovimiento .row {padding-left: 30px;}
     .seccion-organizacionenmovimiento .header {padding-left: 0px;}
     .seccion-organizacionenmovimiento.block-txt-img3 .inner {padding-left: 0px; padding-right: 0px;}

     /*people-first*/
     .section-people.block-txt-img2.mod-3 .inner .wrap-text {padding-left: 0px; padding-right: 0px; }
     .section-trabajarconpersonas {padding-bottom: 40px;}
     .section-trabajarconpersonas .gutter-x1.cols-x-4 .block {width: 100%; padding: 0px;}
     .section-people.block-txt-img2.mod-3 .wrap-imgcover {height: 300px;}

     /*newsroom*/
       .content-newsroom .newsblock .block {width: 100%; padding-right: 0; padding-left: 0;}
       .content-newsroom .newsblock .no_imagen {padding: 20px;}
       .header-post .video .wrap-imgcover a:before {top:15%;}

       .nos-necesitas .group {width:100%; padding-bottom:20px;}
       .nos-necesitas .group:nth-child(2) {width:100%; padding-bottom:0;}
       .landingnav .link-grupo {display: none;}

       .newsblock .title {font-size: toEm(40);}

       .actoption, .seleclist { padding: 4px 35px 4px 0px; display: inline-block; line-height:1;}
       .actoption:after {right:10px;}
       .actions-archive .row {padding-left:20px; padding-right:20px;}
       .actions-archive .group-inline a:before { top:4px;  width: 24px;  height: 24px; background-size:100%;}
       .actions-archive .group-inline a {margin-right:20px; }
       .wrapselectlist ul {top:30px; left:0px;}
       .actions-archive {overflow: initial;}
       .actions-archive .from-left {z-index: 5; position: relative;}

       .actoption {min-width: 100px;}

       /*ficha*/
       .body-post .content-post {margin:30px 0px;}
       .body-post blockquote p {font-size: 30px;}
       .content-post h2.tit_lista {font-size: toEm(24);}
       .modulo_texto .leftside-post {display: none;}

       .lista_cronologia.row {padding: 0px;}
       .lista_cronologia .dia {font-size:45px;}
       .lista_cronologia .txt h3 {font-size: 24px;}

       .contact-footer {padding:30px 0px;}
       .contact-footer .group:last-child,
       .contact-footer .group {width: 100%;}

        .modulo_imagen .wrap-imgcover img {min-height:340px;}
        #message {padding-bottom: 40px;}
}

/*cabecera_corporativa*/
