/* ---------- Careers Landing CSS Starts -------------- */
.landing-bnr-subtxt.trans, .landing-bnr-txt.trans{-webkit-transition:none;transition: none;-moz-transition:none;}

.careers-landing .section3{padding-top: 25px;}

.careers-landing .section1 .section-image img{position: absolute;    top: -100%;    bottom: -100%;    left: -100%;    right: -100%;    width: auto;    height: auto;    margin: auto;    max-width: none;}
  .careers-landing .section1 .section-image{position: relative; overflow: hidden;   bottom: 0;    width: 100%; height: 100%;}
 .careers-landing .section2{padding-top:32px;}  



.careers-landing .section1 .green-box-link{text-align:left;}

.careers-landing .section3 .memberTitle { font-family:'Futura LT W01 Medium', Arial, Helvetica; }
body#ip3-careers #subNav{ display:none; }
/*.careers-landing .landing-banner-text-wrapper .landing-bnr-txt{ padding-top:85px; padding-bottom:20px; }*/
/*.careers-landing .landing-banner-text-wrapper h2{ line-height:1.8em; }*/
/* HP: 15-01-2017 */
/*.careers-landing .leftbox-inner>h3 { color: #000; padding-bottom: 18px; font-size: 3.5rem; }*/
.careers-landing .leftbox-inner>h3 { color: #000; font-size: 3.5rem; }
/* HP: 15-01-2017 */
.careers-landing h3::after { width:30%; position: absolute; bottom: 0; left: 0; content: ""; border-bottom: 1px solid #000; }
.careers-landing .leftbox-inner>h3:after { width:178px; }
.careers-landing .section1 .leftbox-inner{ padding-top:51px;padding-right: 45px; }
.careers-landing .section1 .leftbox-inner-cntnt{ padding-bottom:105px; }
.careers-landing .section1 .leftbox-inner-cntnt p { font-size: 1.8rem; line-height: 1.722em; }
 .careers-landing .section1 .rightbox{    min-height: 702px;    height: 100%;    position: relative;    background: #FFF;    float: right;    overflow: hidden; }
.careers-landing .section2 .leftbox-inner{ padding-top:23px; }
.careers-landing .section2 .leftbox-inner-cntnt{padding-bottom: 0;}
.careers-landing .section2 .bod-item{ opacity:1; float:left; position:relative; width:100%; padding-bottom:15px;padding-top: 0; }
.careers-landing .section2 .bod-item .bod-inner{ width:100%; }
.careers-landing .section2 .bod-item img{ width:100%; }
.careers-landing .section3 .leftbox-inner{ padding-top:75px;padding-right: 45px; }
.careers-landing .section3  .leftbox-inner-cntnt p { font-size: 1.8rem; }
.careers-landing .section3.spotlight-on .rightbox .green-box-link  a span.icon-chevron-right{ position:absolute; top:50%; right:21px; margin-top:0; transform:translateY(-50%); -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -o-transform:translateY(-50%); }
.careers-landing .section3>.row { position: relative; }
.careers-landing .section3 .left-image-wrap { position: absolute; left: 0; bottom: 20px; }
.careers-landing .section3 .memberName{ font-size:1.8rem; }
.careers-landing .section3 .memberDesignation{ font-size:1.4rem; color:#666666; }
.careers-landing .section3 .memberTitle { font-size: 1em; padding-top: 5px;text-transform: uppercase; padding-bottom: 38px; }
.careers-landing .section3 .memberQuote.rad-quote { margin-bottom: 0;font-size: 2.4rem; }
.careers-landing .section3 .memberName { font-size: 1.8rem; padding-bottom: 0; }
.careers-landing .section3 .memberDesignation { font-size: 0.778em; color: #666666; padding-bottom: 48px; }
.careers-landing .section3 .rightbox  .green-box-link-wrap{    text-align: left;  padding-bottom:0; }
.careers-landing .section3.spotlight-on .rightbox .green-box-link { position:relative; display: inline-block; text-align: center; width:235px; margin: 0 9px 0 0; }
.careers-landing .section3.spotlight-on .rightbox .green-box-link a { padding:12px 35px 12px 15px; text-align:left; }
.careers-landing .section3 .siteLinkWrapper{ text-align:center; }
.careers-landing .section3 .siteLinkWrapper { text-align: center; background: #fff; padding-top: 42px; padding-bottom: 32px;} 
.careers-landing .section3 .siteLinkText p { padding-bottom: 16px; }
.careerWebsiteLinkWrap { text-align: center; padding: 60px 0 30px; }
.siteLinkText p { padding-bottom: 15px }

.careers-landing .next-parlx{height:auto;}


.careers-landing .section3 .photo-inner a.rad-video::after{    left: -13px;}
.careers-landing .section3 .green-box-link p{margin-left:0;}

/* ---------- Careers Landing CSS ends ---------------- */



/*----------CR CSS------------*/
