@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=f3570e34-a9b7-4f3a-bbdc-bf48c400b5e6");

@font-face {
  font-family: "Futura LT W01 Medium";
  src: url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/0a41510f-c527-4001-89c5-d66d2c9ed34b.eot");
  src: url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/0a41510f-c527-4001-89c5-d66d2c9ed34b.eot?#iefix") format("eot"), url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/e17c7943-8db2-4470-9e2a-74a8d01f6776.woff2") format("woff2"), url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/6c72b0cb-89a1-4da9-8574-9244967bd9d6.woff") format("woff"), url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/dd79c75a-b0c9-4d70-a5a7-bdde1d5449fd.ttf") format("truetype"), url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/c35c8eec-24d3-4ed7-9159-df80a008bf54.svg#c35c8eec-24d3-4ed7-9159-df80a008bf54") format("svg");
}

@font-face{
  font-family:"Futura LT W01 Medium Condensed";
  src:url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/fbbd35b9-df6a-4550-8731-edef7cb1f764.eot");
  src:url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/fbbd35b9-df6a-4550-8731-edef7cb1f764.eot?#iefix") format("eot"),
    url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/8f8e3475-0d53-4055-8dbc-997d3e7a73de.woff2") format("woff2"),
    url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/5af82934-5078-4495-9aa1-bcaec40ea1e8.woff") format("woff"),
    url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/886112d6-26ae-4248-9ec0-a357acf06bd7.ttf") format("truetype"),
    url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/4ee1d85f-0454-4bbb-acbf-cf896937c708.svg#4ee1d85f-0454-4bbb-acbf-cf896937c708") format("svg");
}

@font-face {
  font-family: "Futura LT W01 X Bold Condensed";
  src: url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/97ce5bfd-aed7-4116-9da0-2425f63659c9.eot");
  src: url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/97ce5bfd-aed7-4116-9da0-2425f63659c9.eot?#iefix") format("eot"), url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/7a06eca1-f8c0-4959-9f4b-a995defb947b.woff2") format("woff2"), url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/4f29cb8d-fdc9-47dc-b281-0c2aa10a66bc.woff") format("woff"), url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/ae06ac5a-4959-47dc-b0e2-000293ec2982.ttf") format("truetype"), url("https://viz.tools.investis.com/ASOS/map/live/css/fonts/ca0fe29a-39cf-4049-be6b-e115f623ea6e.svg#ca0fe29a-39cf-4049-be6b-e115f623ea6e") format("svg");
}

/*@font-face {*/
/*  font-family: "Futura LT W01 Medium";*/
/*  src: url("../~/media/Files/A/Asos-V2/fonts/0a41510f-c527-4001-89c5-d66d2c9ed34b.eot");*/
/*  src: url("../~/media/Files/A/Asos-V2/fonts/0a41510f-c527-4001-89c5-d66d2c9ed34b-.eot#iefix") format("eot"), url("../~/media/Files/A/Asos-V2/fonts/e17c7943-8db2-4470-9e2a-74a8d01f6776.woff2") format("woff2"), url("../~/media/Files/A/Asos-V2/fonts/6c72b0cb-89a1-4da9-8574-9244967bd9d6.woff") format("woff"), url("../~/media/Files/A/Asos-V2/fonts/dd79c75a-b0c9-4d70-a5a7-bdde1d5449fd.ttf") format("truetype"), url("../~/media/Files/A/Asos-V2/fonts/c35c8eec-24d3-4ed7-9159-df80a008bf54.svg#c35c8eec-24d3-4ed7-9159-df80a008bf54") format("svg");*/
/*}*/

/*@font-face{*/
/*  font-family:"Futura LT W01 Medium Condensed";*/
/*  src:url("../~/media/Files/A/Asos-V2/fonts/fbbd35b9-df6a-4550-8731-edef7cb1f764.eot");*/
/*  src:url("../~/media/Files/A/Asos-V2/fonts/fbbd35b9-df6a-4550-8731-edef7cb1f764-.eot#iefix") format("eot"),*/
/*    url("../~/media/Files/A/Asos-V2/fonts/8f8e3475-0d53-4055-8dbc-997d3e7a73de.woff2") format("woff2"),*/
/*    url("../~/media/Files/A/Asos-V2/fonts/5af82934-5078-4495-9aa1-bcaec40ea1e8.woff") format("woff"),*/
/*    url("../~/media/Files/A/Asos-V2/fonts/886112d6-26ae-4248-9ec0-a357acf06bd7.ttf") format("truetype"),*/
/*    url("../~/media/Files/A/Asos-V2/fonts/4ee1d85f-0454-4bbb-acbf-cf896937c708.svg#4ee1d85f-0454-4bbb-acbf-cf896937c708") format("svg");*/
/*}*/

/*@font-face {*/
/*  font-family: "Futura LT W01 X Bold Condensed";*/
/*  src: url("../~/media/Files/A/Asos-V2/fonts/97ce5bfd-aed7-4116-9da0-2425f63659c9.eot");*/
/*  src: url("../~/media/Files/A/Asos-V2/fonts/97ce5bfd-aed7-4116-9da0-2425f63659c9-.eot#iefix") format("eot"), url("../~/media/Files/A/Asos-V2/fonts/7a06eca1-f8c0-4959-9f4b-a995defb947b.woff2") format("woff2"), url("../~/media/Files/A/Asos-V2/fonts/4f29cb8d-fdc9-47dc-b281-0c2aa10a66bc.woff") format("woff"), url("../~/media/Files/A/Asos-V2/fonts/ae06ac5a-4959-47dc-b0e2-000293ec2982.ttf") format("truetype"), url("../~/media/Files/A/Asos-V2/fonts/ca0fe29a-39cf-4049-be6b-e115f623ea6e.svg#ca0fe29a-39cf-4049-be6b-e115f623ea6e") format("svg");*/
/*}*/


/*----    Futura Medium    ---*/

.ir-landing table.rad-highlight[id^="key-data"] td strong, .home-section.section5 .leftbox table.rad-highlight[id^="key-data"] td strong { font-family:"Futura LT W01 Medium", Arial, Helvetica; }

/*----    Futura Medium Condensed    ---*/

.ir-landing table.rad-highlight[id^="key-data"] td, .sec6-box-cntnt p.sec6-box-ttl, .home-section.section5 .leftbox table.rad-highlight[id^="key-data"] td, .rns-item p, .filter-tab ul li, #contentwrapper .newstab ul li { font-family:"Futura LT W01 Medium Condensed", Arial, Helvetica; }

/*----    Futura Xtra Bold Condensed    ---*/

.box-link p, #loadmore a, .article-title, .cs-signpost p.cs-signpost-link, .green-box-link p { font-family: "Futura LT W01 X Bold Condensed", Arial, Helvetica; }

/*----    Icomoon    ----*/
#sitemapcontainer ul li a::before { font-family: 'icomoon'; }

@font-face {
  font-family: 'icomoon';
  src:  url('https://viz.tools.investis.com/kb/asos/icomoon-eot.eot?19h5hh');
  src:  url('https://viz.tools.investis.com/kb/asos/icomoon-eot.eot?19h5hh#iefix') format('embedded-opentype'),
    url('https://viz.tools.investis.com/kb/asos/icomoon-ttf.ttf?19h5hh') format('truetype'),
    url('https://viz.tools.investis.com/kb/asos/icomoon-woff.woff') format('woff'),
    url('https://viz.tools.investis.com/kb/asos/icomoon-svg.svg?19h5hh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {*/
/*  font-family: 'icomoon';*/
/*  src:  url('../~/media/Files/A/Asos-V2/fonts/icomoon-eot-19h5hh.eot');*/
/*  src:  url('../~/media/Files/A/Asos-V2/fonts/icomoon-eot-19h5hh.eot#iefix') format('embedded-opentype'),*/
/*    url('../~/media/Files/A/Asos-V2/fonts/icomoon-ttf-19h5hh.ttf') format('truetype'),*/
/*    url('../~/media/Files/A/Asos-V2/fonts/icomoon-woff.woff') format('woff'),*/
/*    url('../~/media/Files/A/Asos-V2/fonts/icomoon-svg-19h5hh.svg#icomoon') format('svg');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/


[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-outlook:before {
  content: "\e90f";
}
.icon-webcast:before {
  content: "\e911";
}
.icon-xl:before {
  content: "\e912";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-big-down-arrow-ico:before {
  content: "\e900";
}
.icon-camera-ico:before {
  content: "\e901";
}
.icon-cs-page-ico:before {
  content: "\e902";
}
.icon-facebook-ico:before {
  content: "\e903";
}
.icon-googleplus-ico:before {
  content: "\e904";
}
.icon-intsagram-ico:before {
  content: "\e905";
}
.icon-movie-ico:before {
  content: "\e906";
}
.icon-pdf-ico:before {
  content: "\e907";
}
.icon-pinterest-ico:before {
  content: "\e908";
}
.icon-search-ico:before {
  content: "\e909";
}
.icon-tumbler-ico:before {
  content: "\e90a";
}
.icon-twitter-ico:before {
  content: "\e90b";
}
.icon-youtube-ico:before {
  content: "\e90c";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}

.main-sub-nav ul li.level2.haschildren > a > span::after, .main-sub-nav ul li.level2.haschildren > span::after,.main-sub-nav li span.clickmore,.back-Menu:before { font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
