.section{ padding-top:54px; }
.section.no-pad-top{margin-top:1px !important;}
.section0{ padding-top:0; height:900px; }
.home-section.section2.section{ padding-top:0; margin-top:54px; }
.home-section.section5.section{ margin-top:58px !important; padding-top:0 }
.home-section.section3.section{ padding-top:50px; }
.home-section.section4.section{ padding-top:0px; margin-top:58px; }
.home-section.section6.section{ padding-top:48px; }



/*=========Corporate Responsibility==============*/

/* HP: 15-01-2017 */
/*.cr-landing .cr-section.section1{padding-top:38px;}*/
.cr-landing .cr-section.section1{padding-top:54px;}
/* HP: 15-01-2017 */
.cr-section.section2{ padding-top:39; }
.cr-landing .section3.slide, .ir-landing .section2.slide{position: inherit; overflow:hidden;}
.cr-landing .section2 .delivering-value-box{padding-top: 0px;}
.cr-landing  .section.section2 .section-image{margin-top: 0px;}
.cr-landing .cr-section.section2 .drop-down{ padding-top:10px; }
#contentwrapper.cr-landing .cr-section.section2 ul.media-cat { padding-bottom: 11px; }
.cr-landing .cr-section.section2 .delivering-value-box .tab-text {padding-top: 41px;padding-left:0;}
.cr-landing .cr-section.section2 .delivering-value-box .tab-text > p:first-child { margin-bottom: 40px; }
.cr-landing .cr-section.section2 .delivering-value-box .tab-text p:last-child { padding-bottom:0; }
.cr-landing .cr-section.section2 .tab-text .rad-link { padding-right:8px; }
.cr-landing .cr-section.section2 .delivering-value-box .tab-content .section-image { height: 409px; }
.cr-landing .cr-section.section3 { padding-top:32px; }
/* HP: 15-01-2017 */
/*.cr-landing .section3 h3{ padding-bottom:18px; }*/
.cr-landing .section3 h3{}
/* HP: 15-01-2017 */
.cr-landing .section3 h3::after { width: 180px; }
.cr-landing .section3 .case-study-wrapper{ padding-bottom:37px; }
.cr-landing .section3 .case-study-item{ padding-bottom:25px; }

.main-content.twoCol {padding-top: 0;}
.twoCol div#contentwrapper {padding-top: 62px; background-color: #fff;}
.sub-content-page.twoCol div#contentwrapper { padding-top:36px; }
.whiteico.playicon .icon-movie-ico { color: #fff; }
.whiteico.playicon a:hover .icon-movie-ico {color: #36acdc;}
.cr-section.section1 .rad-quote {font-size: 3.2rem; text-align: center;margin-bottom:0px;padding-bottom:30px;}
.cr-landing .black-cntnt.cntnt-text { text-align: center;}
.cr-section .cntnt-text .rad-small { color: #666; display: block; font-size: 1.4rem;}
/* HP: 15-01-2017 */
/*.cr-section .financial-highlights-box .key-data { margin-top: 27px; padding-top: 0; margin-bottom:0;}*/
.cr-section .financial-highlights-box .key-data { margin-top: 37px; padding-top: 0; margin-bottom:0;}
/* HP: 15-01-2017 */
.has-parallax .cr-section.section2 .delivering-value-box h3{ font-size:3.5rem; }
.has-parallax .cr-section.section2 .delivering-value-box h3::after { display: block; }
.header-wrapper:after {background-color: #fff;content: "";display: block;height: 100%;left: auto;    max-width: 1600px;position: absolute;top: 0;width: 100%;z-index: -1;}

.tab-text .rad-link{ font-size:1.6rem; font-family: "Futura LT W01 X Bold Condensed", Arial, Helvetica;    padding: 12px 9px 12px 15px; display: inline-block;    border: 2px solid #6aac9f;     text-transform: uppercase;   background: #FFF;    margin-top: 10px;}
.tab-text .rad-link:after { content: "\f054"; font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; position: relative; top: 1px; font-weight: normal; font-size: 1.4rem; padding-left: 11px; color: #000;}
.tab-text .rad-link:hover{background-color: #000; border: 2px solid #000; color: #fff; }


.tab-text .rad-link:odd{margin-right: 7px;}
.tab-text .rad-link:hover:after{color:#fff;}
.tab-text .rad-link span{position: relative;    display: inline-block;    -webkit-transition: -webkit-transform 0.3s;    -moz-transition: -moz-transform 0.3s;    transition: transform 0.3s;    color: #000;}

.tab-text .rad-link span::before {position: absolute;    top: 100%;    content: attr(data-hover);    color: #fff;    -webkit-transform: translate3d(0,0,0);    -moz-transform: translate3d(0,0,0);    transform: translate3d(0,0,0);}
.tab-text .rad-link:hover span{-webkit-transform: translateY(-100%);    -moz-transform: translateY(-100%);    transform: translateY(-100%);    -ms-transform: translateY(-100%);    -o-transform: translateY(-100%);}
.tab-text .rad-link strong{overflow: hidden; font-weight: normal;float: left;}

.ir-landing .media-cat, .cr-landing .media-cat,  .year-in-review-landing .media-cat{ float:none !important; list-style: none; padding: 0;  margin: 0 auto 15px; display: table;  text-align: center;}
.ir-landing .media-cat li, .media-news .media-cat li,  .cr-landing .media-cat li, .year-in-review-landing .media-cat li {position: relative;    float: none;    display: table-cell;}
/* HP: 15-01-2017  #contentwrapper table.rad-highlight[id^="key-data"]{margin-bottom:0;table-layout:fixed;}*/
#contentwrapper table.rad-highlight[id^="key-data"]{margin-bottom:30px;table-layout:fixed;}


a.rad-video{position:relative;margin-bottom:25px;border:none;display: inline-block;}
.report-item .movie a.rad-video { margin-bottom:0; }
.report-item .movie a.rad-video:after { display:none; }

a.rad-video:after {padding: 8px;bottom: -22px;left: -22px;position: absolute;background: #fff;border-radius: 50%;content: "\e906";font-family: 'icomoon' !important;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none; line-height: 1;font-size: 3.6rem;}

#inv_playerContainer.inv_FullScreen .vid-close{display:none;}


.inv-responsive-data-td a.rad-video{margin-bottom:0 !important;}
.inv-responsive-data-td a.rad-video:after{display:none;}

.loadmore-outer { padding: 0; }
#loadmore.green-box-link p a strong { float:none; display:block; }
#ip3-media-gallery  #loader.media-loader { position: absolute; height:220px; bottom:0; }
/*.safari .section,.safari .static{height:100% !important;}*/
/*---dhruval Manipulation---*/


.banner-text {top:172px;}
.vslide-inner {height: 100%;width:100%; position:absolute; top:0; right:0;}

.section .left-col, .section .right-col {height:100% /*!important*/;}
/*--358 commented---*/
.our-story-landing .section1 .section-image {min-height:100%;}
.section2 .row,.vslide-bottom.clearfix {height:100% !important;}
.vslide-bottom.clearfix{max-width:1600px; margin:0 auto;/*position:absolute;z-index:99;*/}

body.no-scroll .para-pager .menu {margin-right: 9px !important;}
.para-pager .menu{padding-right: 10px;z-index:99;}
.menu.fixing{width:auto;}
.trans{transition: all 1s linear 0.1s;-moz-transition: all 1s linear 0.1s;-webkit-transition: all 1s linear 0.1s; }
.section.deactive {opacity: 0;visibility:hidden;}
.signpost-overlay .lcol > img { height: 100%; left: -100%; margin: auto; max-width: 100%;  position: absolute; right: -100%; top: 0; width: auto;max-width:none;}
.signpost-overlay .lcol { overflow: hidden; position: relative;}
.para-pager .menu p{position:relative;}
.para-pager .menu p span { background: #000; color: #fff; display: block;font-size: 1.6rem; line-height: 1em; padding:7px 17px 9px 17px !important; white-space:nowrap; margin-right:10px; z-index:60; position: absolute; text-align:center; right:15px; top:-12px; height:auto !important;width:auto !important; text-transform:uppercase; }
.para-pager .menu p span:after{ left: 100%; top: 50%; border: solid transparent; content: " ";height: 0; width: 0; position: absolute; pointer-events: none; border-color:rgba(21, 74, 144, 0); border-left-color: #000; border-width: 10px; margin-top: -10px;}
.footer-inner{background-color:#000;overflow:hidden;}

/* Year in Review */
.width-80{width:82%;text-align:center;margin: 0 auto;}
.statement-quote{}
.statement-quote p.rad-quote{text-align:center;margin-bottom:18px;padding-bottom:0;}

.statement-quote .statement-name, .statement-quote .statement-position{text-align: center; padding: 0;}
.statement-quote .statement-position{font-size:1.4rem;margin-bottom:25px;}
.statement-quote .green-box-link{margin-bottom:75px;}

h3.rad-center{text-align:center;padding-bottom:12px;}
/* HP: 15-01-2017 */
/*h3.rad-center::after{ width:174px; margin:0 auto; text-align:center; display:block; position:relative;padding-top: 19px;}*/
h3.rad-center::after{ width:174px; margin:0 auto; text-align:center; display:block; position:relative;padding-top: 23px;}
/* HP: 15-01-2017 */

.financial-highlights-box .grey-text p{font-size:2.6rem;}
.financial-highlights-box .key-data{margin-top:50px;margin-bottom:30px;overflow:hidden;}

.tab-content { display:none;}
.newstab.center-tab{text-align:center;float:left;width:100%;}
.newstab.center-tab ul {margin:0;display:inline-block;}
.tab-content .tab-image{float:right;}


.case-study-wrapper{min-height: 430px;position: relative;padding-bottom: 100px;}

.case-study-inner-cntnt-fix {position: absolute;bottom: 30px;z-index: 1;}
.video-item .case-study-inner-cntnt-fix {top: 30px;}
.case-study-inner-cntnt-fix p { text-transform:uppercase; font-family:"Futura LT W01 Medium Condensed", Arial, Helvetica; position:relative; padding: 0 6px; font-size:3.0rem; text-transform: uppercase; color: #000; background-color: #fff; display: inline; line-height:1.4em; /* box-shadow:15px 0 0 #fff, -15px 0 0 #fff; */ -webkit-box-decoration-break:clone; -o-box-decoration-break:clone; box-decoration-break:clone; text-align:left;transition:all 0.7s ease 0s; -moz-transition:all 0.7s ease 0s;-webkit-transition:all 0.7s ease 0s; -o-transition:all 0.7s ease 0s; -ms-transition:all 0.7s ease 0s;  }
.case-study-item-inner {position: relative;cursor:pointer;overflow:hidden;display:block;}
.case-study-item-inner:hover .black-spacer {     visibility: visible;opacity:1;}

.case-study-item{opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -khtml-opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0;padding-bottom:28px;width:30%;position: absolute;}

.case-study-item:nth-child(3n+1) {width: 40%;}


.case-study-item-inner:hover .case-study-inner-cntnt-fix p {color:#fff; background:#000;}
.nojs .case-study-item{position:relative;}

.case-study-item .video-item::after {padding: 7px;bottom: -22px;left: -22px;position: absolute;background: #fff;border-radius: 50%;content: "\e906";font-family: 'icomoon' !important;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;    line-height: 1;font-size: 3.6rem;}
.case-study-item .video-item:hover {color:#36acdc;}

.case-study-item-inner img { cursor:pointer; -o-transition: -o-transform 1s ease; -webkit-transition: -webkit-transform 1s ease; -moz-transition: -moz-transform 1s ease; -ms-transition: -ms-transform 1s ease; transition: transform 1s ease; }
.case-study-item-inner:hover img { transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); }
.case-study-item-inner.video-item{overflow:visible; transition: all 0.7s ease 0s; -moz-transition: all 0.7s ease 0s; -webkit-transition: all 0.7s ease 0s; -o-transition: all 0.7s ease 0s; -ms-transition: all 0.7s ease 0s;}

.case-study-item:nth-child(3){padding-top:48px;}

/* Year in Review end */


/* Media News Start*/
.news-landing{padding-bottom:80px;position:relative;clear:both;}
/*body#ip3-news .news-landing { min-height:700px; }*/
.pagination-loadmore{display:none;}
.news-item{overflow:hidden; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -khtml-opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; padding-bottom:28px;width:30%;position: absolute;}

.news-item-inner img { cursor:pointer; -o-transition: -o-transform 1s ease; -webkit-transition: -webkit-transform 1s ease; -moz-transition: -moz-transform 1s ease; -ms-transition: -ms-transform 1s ease; transition: transform 1s ease;width:100%; }
.news-item-inner:hover img { transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); }

.news-item-inner:hover .news-inner-cntnt {height: 100%;}
.news-item-inner:hover .black-spacer {    visibility: visible;opacity:1;}

.media-news .newstab{ width:100%;}
.news-inner-cntnt-fix{position:absolute;top: 18px;z-index:1;padding-right:15px;}
.news-inner-cntnt-fix p { text-transform:uppercase; font-family:"Futura LT W01 Medium Condensed" , Arial, Helvetica; position:relative; padding: 0 6px; font-size:3.0rem; text-transform: uppercase; color: #000; background-color: #fff; display: inline; line-height:1.4em; /*box-shadow:15px 0 0 #fff, -15px 0 0 #fff; */ -webkit-box-decoration-break:clone; -o-box-decoration-break:clone; box-decoration-break:clone; text-align:left;transition:all 0.5s ease-out 0s; -moz-transition:all 0.5s ease-out 0s;-webkit-transition:all 0.5s ease-out 0s; -o-transition:all 0.5s ease-out 0s; -ms-transition:all 0.5s ease-out 0s;  }
.news-item-inner { position: relative;float:left;overflow: hidden;cursor: pointer;     transform: translate3d(0,0,0); !impoertant;}
.news-item-inner a {border:none;}
.news-inner-cntnt-fix p.date {font-size: 2.0rem;display:table;}
.news-inner-cntnt-fix p.title {top:2px;}

.news-item-inner .news-inner-cntnt{position: absolute; bottom: 0; width: 100%; text-align: center; height:0; color:#fff;transition: all 0.5s ease-out 0s; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s;}
.news-item-inner .news-inner-cntnt .cntnt-inn {top: 60%;position: relative;}
.news-item-inner .news-inner-cntnt .cntnt-inn p{ width:80%; text-align:center; margin:0 auto;font-size: 1.6rem;}






.news-item:nth-child(3n+1) {width: 40%;}
.drop-down {float: left;  width: 100%;}
.news-item-inner.img-zoom > a:hover img {transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);-o-transform: scale(1.1);-ms-transform: scale(1.1);}

.news-item-inner:hover .news-inner-cntnt-fix p {color:#fff; background:#000;}
.nojs .news-item{position:relative; opacity:1;}
.nojs .filter-tab{display:none;}



#MainWrapper.has-parallax {
  padding-left: 0;
  padding-right: 0;
  max-width: 1600px;
}

.results-centre-landing .rc-box-images .box-wrapper span.rad-highlight span.rad-big { transition:all 0.5s ease-out 0s; -moz-transition:all 0.5s ease-out 0s;-webkit-transition:all 0.5s ease-out 0s; -o-transition:all 0.5s ease-out 0s; -ms-transition:all 0.5s ease-out 0s;  }

.results-centre-landing .rc-box-images .box-wrapper:hover span.rad-highlight span.rad-big {color:#fff !important; background:#000 !important;}
.results-centre-landing .rc-box-images .box-wrapper:hover .black-spacer {visibility: visible;opacity: 1;}
.results-centre-landing .rc-box-images .box-wrapper .img-zoom > a:hover img {transform: scale(1.1);-moz-transform: scale(1.1);-webkit-transform: scale(1.1);-o-transform: scale(1.1);-ms-transform: scale(1.1);}

/*----- Landing Banner Start ----------*/

/* .landing-banner.section.static{position:relative;}  Need to remove*/
/* .home-landing .section.slide{position:relative;} Need to remove*/

.landing-banner {max-width: 1600px;}
.landing-banner img {bottom: -100%;height: 107%; left: -100%; margin: auto; max-width: none;    padding: 0 !important; position: absolute; right: -100%;top: -100%;width: auto;}
.landing-banner-text-wrapper {position: absolute;width: 100%;text-align: center;z-index:8;top:15%;}
.landing-banner-text-wrapper h2 {padding:0 0 5px;font-size: 5.21rem;text-transform: uppercase;    color: #fff;background-color: #000;display: inline;line-height: 1.58em;box-shadow: 15px 0 0 #000, -15px 0 0 #000; -webkit-box-decoration-break: clone;-o-box-decoration-break: clone;    box-decoration-break: clone;}


.landing-banner-text-wrapper h2:after{border:none;}
.landing-banner-text-wrapper h2.trans{ background: rgba(255,255,255,0.7); color: #000;box-shadow: 15px 0 0 rgba(255,255,255,0.7), -15px 0 0 rgba(255,255,255,0.7); -webkit-box-decoration-break: clone;-o-box-decoration-break: clone;    box-decoration-break: clone; }


.landing-banner-text-wrapper .landing-bnr-txt{width:70%; margin:0 auto; }
.landing-banner-text-wrapper .landing-bnr-subtxt{ width:80%; margin:0 auto; color:#fff;font-size: 3.11rem;line-height: 1.3em;padding-bottom: 43px;}
.landing-banner-text-wrapper .landing-bnr-subtxt p{color:#fff;font-size: 3.15rem;padding:0;}
.landing-bnr-subtxt.trans p{background: rgba(255,255,255,0.8); color: #000; box-shadow: 15px 0 0 rgba(255,255,255,0.8), -15px 0 0 rgba(255,255,255,0.8); -webkit-box-decoration-break: clone;-o-box-decoration-break: clone;box-decoration-break: clone; padding:3px 0 6px;display:inline;position:relative;line-height: /*1.745em*/ 1.780em;font-size: 3.15rem;}


.section #inv_playerContainer{z-index:0}
.landing-banner-text-wrapper .playicon {text-align:center;display:block;margin:0 auto;padding-bottom:20px;}
.landing-banner-text-wrapper .playicon span{cursor: pointer;margin: 0 auto;text-align: center;display:inline-block;font-size: 5.2rem;}
.ie9 .landing-banner-text-wrapper .playicon span,.internetexplorer11 .landing-banner-text-wrapper .playicon span, .ie10 .landing-banner-text-wrapper .playicon span{display:block;overflow:hidden;}
.landing-banner-text-wrapper .playicon a{border:none;margin-bottom: 25px;display:inline-block;}
.landing-banner-text-wrapper .playicon a.rad-video { float: none; }
.landing-banner-text-wrapper .playicon a.rad-video::after { display: none; }


/*----- Landing Banner End ----------*/




/*----- Homepage ----------*/
.home-landing.main-content { padding-top: 109px;}
#contentwrapper.home-landing {float: left;width: 100%;margin-bottom: 85px;}
.home-section.section2 .leftbox .green-box-link{padding-top: 64px;}
.home-section .financial-highlights-box .key-data{margin-top:43px;padding-top:0;margin-bottom:10px;overflow:hidden;}
#contentwrapper .home-section .financial-highlights-box .key-data table{margin-bottom:0;}

.home-landing .financial-highlights-box h3{width:75%;font-size: 3.15rem;color: #000;text-transform: none;padding-bottom: 21px;position: relative;margin: 0 auto;}
.home-landing .financial-highlights-box h3.rad-center::after{padding-top:26px;width: 372px;}
.home-landing .cntnt-text{font-size: 1.75rem;text-align: center;width: 70%;margin: 0 auto;}
.leftbox-inner-cntnt{padding-bottom:10px;}

.home-section .rightbox{padding:0;}
.home-section .rightbox{ min-height:702px; height:100%; position:relative; background: #FFF; float:right; overflow:hidden; }
.rightbox-inner{position:absolute;bottom:0;background: #FFF;}
.section-right-image { position: absolute; bottom: 0; width: 100%; height: 100%; }
.section-right-image img { position: absolute; top:-100%; bottom:-100%; left:-100%; right:-100%; width: auto; height:auto; margin:auto; max-width: none; }

/* HP: 15-01-2017 */
/*.home-section .leftbox h3{color:#fff;padding-bottom: 22px; margin-bottom:21px;font-size:3.5rem;text-transform: none;padding-right: 100px;}*/
.home-section .leftbox h3{color:#fff; font-size:3.5rem;text-transform: none;padding-right: 100px;}
/* HP: 15-01-2017 */
.home-section.section2 .leftbox h3{ padding-right:60px; }
.home-section .leftbox h3:after{border-bottom: 1px solid #fff;width:263px}

.home-section .leftbox .leftbox-inner{padding:64px 60px 0 0; }
.home-section.section4 .leftbox .leftbox-inner { padding-top: 51px; padding-bottom:35px; }
.home-section.section2 .leftbox .leftbox-inner{padding-bottom:60px}
.home-section .leftbox .leftbox-inner .leftbox-inner-cntnt p{font-size:1.8rem;}
.home-section .leftbox .leftbox-inner .leftbox-inner-cntnt p.rad-quote{ color:#fff; margin-bottom: 0px; padding-top:6px;}
.home-section .leftbox .leftbox-inner .leftbox-inner-cntnt.font-20 p.rad-quote{ font-size:1.111em; line-height:1.600em; padding-bottom:25px;  }
.home-section .leftbox .leftbox-inner .leftbox-inner-cntnt.font-18 p.rad-quote{ font-size:1.0em; line-height:1.667em; padding-bottom:40px; }

.home-section .leftbox .leftbox-inner .leftbox-inner-cntnt p.rad-caption { font-size:1.4rem; }
.home-section .leftbox .leftbox-inner .leftbox-inner-cntnt p.rad-caption strong { font-size:1.7rem; font-weight:normal; }

.home-section .leftbox .green-box-link p a{padding: 12px 45px 12px 50px;}
.home-section .leftbox .green-box-link{text-align:left;}
.home-section .leftbox .green-box-link p{margin:0}


.home-news-item{overflow:hidden; padding-bottom:25px;}
.home-news-item:last-child{padding-bottom:0;}

/* HP: 15-01-2017 */
/*.home-section .leftbox-news h3 {color: #000; padding-bottom: 17px; margin-bottom:20px; font-size: 3.5rem; }*/
.home-section .leftbox-news h3 {color: #000; margin-bottom:20px; font-size: 3.5rem; }
/* HP: 15-01-2017 */
.home-section .leftbox-news h3:after{border-bottom: 1px solid #666;width:111px}
.main-content.parallax-page {padding-top: 0 !important;}
.home-news-item.home-news-item2 { margin-top: -47px; }

/*--  Home RNS  --*/

.box-link p { font-size:1.6rem; text-transform: uppercase; }
.box-link p a { border-bottom:0 none; }
.box-link p a span.icon-chevron-right { font-size: 1.4rem; margin-left: 2px; }

.home-news-landing .box-link { padding:79px 0 4px 14px; }
.latest-rns-news { padding-top:11px; padding-bottom: 11px; }
.rns-item { float:left; width:100%; padding-bottom:33px; }
.rns-item:last-child { padding-bottom:0; }
.rns-item p { float:left; clear:both; padding:0; font-size:2.1rem; }
.rns-item p.pr-date { padding:1px 7px 3px;  background-color:#dbdbdb; margin:0 0 6px; display:inline-block; }
.rns-item p a { border-bottom:0; display:inline-block; background-color:#000; color:#fff; padding:0 7px 2px; text-transform:uppercase; }
.rns-item .pr-title {    -webkit-transition: all 0.5s ease 0s;    -ms-transition: all 0.5s ease 0s;    -moz-transition: all 0.5s ease 0s;    -o-transition: all 0.5s ease 0s;}
.rns-item .pr-title:hover a{    -webkit-transition: all 0.5s ease 0s;    -ms-transition: all 0.5s ease 0s;    -moz-transition: all 0.5s ease 0s;    -o-transition: all 0.5s ease 0s; background-color:#fff; color:#000;}
/*--  Home section 4  --*/

.home-section .black-cntnt.leftbox h3, .home-section .leftbox.black-cntnt  .leftbox-inner .leftbox-inner-cntnt p.rad-quote { color:#000; }
.home-section .black-cntnt.leftbox .leftbox-inner .leftbox-inner-cntnt p.rad-quote { color:#666; }

.home-section.section4 .black-cntnt.leftbox h3::after, .home-section.section5 .black-cntnt.leftbox h3::after { border-bottom: 1px solid #777; width:177px; }
/* HP: 15-01-2017 */
/*.home-section.section4 .leftbox h3 { text-transform:uppercase; padding-bottom:17px; margin-bottom:6px; }*/
.home-section.section4 .leftbox h3 { text-transform:uppercase; margin-bottom:6px; }
/* HP: 15-01-2017 */
.home-section.section4 .leftbox .leftbox-inner .leftbox-inner-cntnt p.rad-caption { font-size: 1.4rem; color:#666; }
.home-section.section4 p.rad-caption strong { display: block; font-size: 1.8rem; font-weight:normal; color:#000; }

.home-section.section4 .leftbox .leftbox-inner .leftbox-inner-cntnt .green-box-link, .home-section.section5 .leftbox .green-box-link { display:inline-block; text-align:center; width: 47%; margin:0 9px 15px 0; }
.green-box-link.full { width: calc(100% - 15px) !important; margin-right: 0 !important; }
.home-section.section4 .leftbox .leftbox-inner .leftbox-inner-cntnt .green-box-link:nth-child(even), .home-section.section5 .leftbox .green-box-link:nth-child(even) { margin-right:0; }
.home-section.section4 .leftbox .leftbox-inner .leftbox-inner-cntnt .green-box-link p, .home-section.section5 .leftbox .green-box-link p { font-size:1.6rem; display:block; }
.home-section.section4 .leftbox .leftbox-inner .leftbox-inner-cntnt .green-box-link p a, .home-section.section5 .leftbox .green-box-link p a { padding: 12px 0 5px; display: block; text-align: center; }
.home-section.section4 .leftbox .leftbox-inner .leftbox-inner-cntnt .green-box-link p a span.icon-chevron-right, .home-section.section5 .leftbox .green-box-link p a span.icon-chevron-right { top:-6px; }

.home-section.section4 .leftbox .leftbox-inner .leftbox-inner-cntnt .green-box-link p a strong, .home-section.section5 .leftbox .green-box-link p a strong { float:none; display: inline-block; }
.home-section.section4 .rightbox .section-image { height:100%; }
.home-section.section4 .green-box-link-wrap,.home-section.section5 .green-box-link-wrap { padding-top:31px; }

/*--  Home section 5  --*/

.home-section.section5 .leftbox{ padding-bottom:60px; }
.home-section.section5 .leftbox .green-box-link:last-child { margin-right:0; }
.home-section.section5 .leftbox .green-box-link p { font-size:1.6rem; display:block; }
.home-section.section5 .leftbox .green-box-link p a { padding: 12px 0 5px; display: block; text-align: center; }

.home-section.section5 .leftbox .green-box-link p a span.icon-chevron-right { top:-6px; }

.home-section.section5 .leftbox .green-box-link p a strong { float:none; display: inline-block; }
.home-section.section5 .rightbox .section-image { height:100%; }

/* HP: 15-01-2017 */
/*.home-section.section5 .leftbox h3 { text-transform:uppercase; padding-bottom:18px; margin-bottom:13px; padding-right:0; }*/
.home-section.section5 .leftbox h3 { text-transform:uppercase; padding-right:0; }
/* HP: 15-01-2017 */


.home-section.section5 .leftbox table.rad-highlight[id^="key-data"] { width: 80%; margin:68px auto 0 auto; float: none; }
#contentwrapper .home-section.section5 .leftbox table.rad-highlight[id^="key-data"] td { text-transform: uppercase; }
#contentwrapper .home-section.section5 .leftbox table.rad-highlight[id^="key-data"] td strong { color:#000; text-transform: none; }
#contentwrapper .home-section.section5 .leftbox table.rad-highlight[id^="key-data"] td img { padding: 17px 0 14px; margin:0 auto; }
.main-content.col-xs-12.col-sm-12.pad-no-bottom {min-height: 50px;}
.map-bottom{padding-bottom:50px;}

/*--  Home section 6  --*/
.sec6-box a:hover .black-spacer {     visibility: visible;opacity:1;}
.sec6-box a:hover .sec6-box-cntnt {bottom: 0 !important;}
.sec6-head { text-align:center;}
.section6-box-content { position: relative; }
/* HP: 15-01-2017 */
/*.section .sec6-head h3 { font-size:3.5rem; color:#000; padding-bottom:23px; margin-bottom:16px; }*/
.section .sec6-head h3 { font-size:3.5rem; color:#000; }
/* HP: 15-01-2017 */
.section .sec6-head p { font-size:1.8rem; }
.sec6-head h3::after { width:185px; left:50%; margin-left:-92px; }
.sec6-box{ overflow:hidden; }
.sec6-box.sec6-box3 { position: absolute; bottom: 0; right: 0; }
.sec6-box a, .sec6-box a:hover { color:#fff; }
.sec6-box-inr.img-zoom { position:relative; width:100%; }
.sec6-box-cntnt {bottom: 0; display: block; left: 20px; padding-bottom: 32px; position: absolute; transition: all 0.5s ease-out 0s; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; width: 80%;}
.sec6-box-cntnt p { padding: 0; margin: 0; }
.sec6-box-cntnt p.sec6-box-ttl { line-height:1.0em; text-transform:uppercase; font-size:3.15rem; padding-bottom:12px; }
.sec6-head .leftbox-inner-cntnt { padding-bottom:42px; width: 76.7%; margin: 0 auto; }
.story-section.section { padding-top: 0 !important;}


.sec6-box-cntnt-new{position: absolute;top: 18px;z-index: 1;padding-right: 15px;}
.sec6-box-cntnt-new p { text-transform:uppercase; font-family:"Futura LT W01 Medium Condensed", Arial, Helvetica; position:relative; padding: 0 6px; font-size:3.0rem; text-transform: uppercase; color: #000; background-color: #fff; display: inline; line-height:1.5em; /*box-shadow:15px 0 0 #fff, -15px 0 0 #fff; */ -webkit-box-decoration-break:clone; -o-box-decoration-break:clone; box-decoration-break:clone; text-align:left;transition:all 0.5s ease-out 0s; -moz-transition:all 0.5s ease-out 0s;-webkit-transition:all 0.5s ease-out 0s; -o-transition:all 0.5s ease-out 0s; -ms-transition:all 0.5s ease-out 0s;  }
.sec6-box1 .sec6-box-cntnt-new p.sec6-box-ttl {display:table;}
.sec6-box-cntnt-new p.sec6-box-sbttl {top:2px;font-size: 1.8rem;}
.sec6-box-inr:hover .sec6-box-cntnt-new {height: 100%;}
.sec6-box-inr:hover .sec6-box-cntnt-new p { color: #fff;background: #000;}

/*--  Delivering box  --*/

.delivering-value-box { /*float: left; padding-top: 25px; */}
.delivering-value-box h3 { padding-bottom: 14px; color:#000; margin:0; text-align: center; }
.delivering-value-box .gray-cntnt { padding-bottom:33px; width: 60%; text-align: center; margin: 0 auto; }
.delivering-value-box .gray-cntnt p { font-size:2.6rem; line-height: 1.231em; }
.delivering-value-box .green-box-link { padding-top: 11px; text-align: left; }
.delivering-value-box .green-box-link p { margin:0; }
#contentwrapper .delivering-value-box .newstab.snap-tab { padding-bottom:10px; }
.delivering-value-box .tab-text { padding-top:55px; }

body.safari:not(.windows) .home-section.section5 .leftbox .green-box-link p a span.icon-chevron-right { top:1px; }
body.safari:not(.windows) .home-section.section5 .leftbox .green-box-link p a { padding: 10px 0 8px;}

body.safari:not(.windows) .home-section.section4 .leftbox .leftbox-inner .leftbox-inner-cntnt .green-box-link p a span.icon-chevron-right { top:1px; }
body.safari:not(.windows) .home-section.section4 .leftbox .leftbox-inner .leftbox-inner-cntnt .green-box-link p a { padding: 10px 0 8px;}

/*---   Investors / IR landing   ---*/


.has-parallax .delivering-value-box { padding-top: 43px; height:100%; width:100%; }
.has-parallax .delivering-value-box h3 { font-size:5.0rem; }
.has-parallax .delivering-value-box h3::after { display:none; }
.has-parallax .delivering-value-box .gray-cntnt p { font-size:2.5rem; }
.has-parallax .delivering-value-box .gray-cntnt { width:auto; }
.ir-landing .section h3 { /*font-size:3.5rem;*/ color:#000; }

.ir-landing .section2.section.slide h3 { padding-bottom: 16px; margin-bottom: 25px; }

.ir-landing .section2.section.slide h3::after { width:149px; }
.ir-landing .section2.section.slide > div > div { padding-top:72px; }
.ir-landing .section2.section .keyfinancial-text { padding-top:4px; width: 100%; float: left; }
.ir-landing .section2.section .leftbox-news { padding-bottom:7px; }
.ir-landing .section2.section .top-section { padding-bottom:10px; }

#contentwrapper .ir-landing table.rad-highlight[id^="key-data"] { margin:0; }
.ir-landing table.rad-highlight[id^="key-data"] td { text-align: left; padding-bottom:42px; }
.ir-landing table.rad-highlight[id^="key-data"] tr:last-child td { padding-bottom:0; }
.ir-landing table.rad-highlight[id^="key-data"] td strong { padding-bottom: 14px; font-size:6.1rem; }
.ir-landing table.rad-highlight[id^="key-data"] td { font-size:2.3rem; }
.ir-landing .section2.section .box-link { padding-top:28px; clear:left; }

.tab-cntnt-wrp, .tab-cntnt-container, .tab-content .tab-image { height:100%; }
.delivering-value-box .tab-content .section-image { position: relative; bottom: 0; right: -28px; width: 100%; height: 500px; }

.ir-landing .section2.section .sec2-wrp { height:100%; }
/*.ir-landing .section2.section .bottom-section .section-image { min-height: 314px; right: -14px; bottom: 0; width: 100%; }*/
.ir-landing .section2.section .bottom-section .section-image {
  min-height: 246px;  
  width: 100%;
  position: relative;
  right: -150px;
  margin-top:0px;
}
.ir-landing .section2.section .right-investor-section { height:100%; }

#contentwrapper .home-section.section5 .leftbox.black-cntnt table#key-data-2.rad-highlight td *, #contentwrapper .home-section.section5 .leftbox table#key-data-2.rad-highlight td strong, #contentwrapper .home-section.section5 .leftbox table#key-data-2.rad-highlight td strong em {
  color: #6aac9f !important;
}

#contentwrapper .home-section.section5 .leftbox.black-cntnt table#key-data-2.rad-highlight td{
  text-transform: none !important;
} 


.leadership-landing .fullcol-con{ display:none; }
.leadership-landing .fullcol-con.current { display:block; }
.full-col{clear:both;}

.rad-link > strong {font-weight: normal;}
.case-study-inner-cntnt-fix p.rad-big {padding-bottom:0;}
.case-studies .case-studies-box h3 { padding-top: 25px;}

.ir-landing .section2.section .box-link{padding-top: 10px;}
.ir-landing table.rad-highlight[id^="key-data"] td{width:100%; text-transform:uppercase;}
.media-news .newstab.snap-tab > ul {float: left;}
.ir-landing table.rad-highlight[id^="key-data"] td sub {text-transform: none;}
.shareinner-wrap iframe {min-height: 110px;}
#contentwrapper p img.rad-right { float: right; margin-bottom: 20px; padding-left: 28px;}
.careers-section .vid-wrp.clearfix { padding-top: 20px;}
/*.media-landing .section2 .rightbox .photo-inner, .media-landing .section2 .rightbox .photo-inner .vid-img-wrp{ position:relative; height:240px;display:inline-block; }*/
/*.media-landing .section4 .leftbox-inner {padding-top: 30px;}*/
.rad-financialtable td:nth-child(n+2), .rad-financialtable th:nth-child(n+2) {text-align:right;}
.scroll-table-container table thead th, .inv-responsive-table table thead th {text-align:left;}




li.back-Menu:hover {background-color: #000;color: #fff;}
li.back-Menu:hover a {color: #fff;transition: none;}



.ip3-level1 .static.section0.landing-banner {height: auto; min-height: 685px;}
.ip3-level1 .landing-banner-text-wrapper {top: 0;}
.has-parallax .delivering-value-box{padding-top:0;}
.ir-landing .section2.section.slide > div > div {padding-top:0px;}
.keyfinancials-section .bottom-section {width: 100%;}
.ir-landing .section2.section .bottom-section .section-image{right:-28px;min-height:317px}
.ir-landing .section2.section .top-section {padding-bottom: 29px;}
.right-investor-section .latest-rns-news { overflow: hidden; padding-bottom: 18px; padding-top: 7px;}
.ir-landing .section2.section .left-investor-section .box-link { padding-top:26px;}
.right-investor-section .rns-item{padding-bottom:25px;}
.right-investor-section .rns-item:last-child { padding-bottom: 0;}
.ir-landing .section2.section .shareprice-panel .box-link {padding-top: 22px;}
.delivering-value-box .gray-cntnt{padding-bottom:20px;}
.delivering-value-box .tab-content .section-image{height:530px;}
.delivering-value-box .tab-text { padding-top: 85px;}
body.ip3-level1 .delivering-value-box .tab-text > p:first-child {margin-bottom: 38px;}



/*--- Date 13 Jan 2017 ---*/
.our-story-landing .key-data table.rad-highlight[id^="key-data"] td{padding-bottom:60px}
.our-story-landing .key-data table.rad-highlight[id^="key-data"] tr:last-child td{ padding-bottom:30px; }
.our-story-landing .section .left-col{padding-top:0;padding-bottom:0}
.our-story-landing .section.section1 .left-col .sec-content {padding-top: 64px;padding-bottom:16px;}
/* HP: 15-01-2017 */
/*.our-story-landing  .section .left-col .sec-content,.our-story-landing   .section .left-col .key-data{padding-right:2%;}*/
.our-story-landing  .section .left-col .sec-content,.our-story-landing   .section .left-col .key-data{padding-right:0;}
/* HP: 15-01-2017 */
.story-subsection-title {padding-right: 10%;}
.our-story-landing .section.section1 .section-image{min-height:933px}
.our-story-landing .box-abs-link{background:transparent !important;position:absolute;bottom:50px;padding:0 !important;left:50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);}
.our-story-landing .section1 .vslide-inner,.our-story-landing .section2 .vslide-inner,.our-story-landing .section3 .vslide-inner,.our-story-landing .section4 .vslide-inner,.our-story-landing .section5 .vslide-inner{height: 100%;width:100%; position:relative; top:auto; right:auto;}
.our-story-landing .section.section2 .vslide-inner .right-col{padding-top: 0;padding-right:8px;}
.our-story-landing .section.section2 .section-image { margin-top: 0;min-height: 467px;}
.our-story-landing .section.section2 .sec-content,.our-story-landing .section.section4 .sec-content {
  padding-left: 38px;}
.our-story-landing .section p.rad-quote,.our-story-landing .section span.rad-quote  {font-size: 2.4rem;   line-height: 29px;  margin-bottom:15px;}
.our-story-landing .section .vid-caption{margin-left:0}
.vid-wrp .photo-inner {float: right;/*margin-top: 47px;*//*margin-bottom:22px;*/}
.our-story-landing .vid-wrp .photo-inner{ margin-top:47px; }
.our-story-landing  .section1 .sec-content h2{ padding-bottom:18px; }
.our-story-landing .section.section3 .left-col .sec-content {padding-top: 81px;padding-bottom:44px;}
.our-story-landing .section.section3 .left-col .sec-content h3{ padding-bottom:18px; }
.our-story-landing .section.section3 .left-col .key-data{ padding-top:0; }
.our-story-landing  .section3 .section-image{min-height:700px}
.our-story-landing  .section3{ padding-bottom: 57px;padding-top:35px !important;}
.our-story-landing .section-3-other-content{ float: left;padding-bottom: 68px;padding-top: 92px;width: 100%;}
.our-story-landing .section.section4 .vslide-inner .section-image { margin-top: 0;min-height: 587px;}
.our-story-landing  .section.section5 .vslide-inner .section-image {min-height: 467px;}
.our-story-landing .section.section5 .vslide-inner .outer-rad-quote {background: #fff none repeat scroll 0 0; margin: 0;padding: 58px 20% 10px 40px;position: relative;width: 100%;}
.our-story-landing  .section.section5 .vslide-inner p.rad-quote {font-size: 2.4rem;line-height: 29px;}
.our-story-landing  .section5 .sec-content {padding-bottom: 25px;}
.our-story-landing  .section5{padding-bottom:73px}
.our-story-landing .section2 .vid-wrp .photo-inner{ cursor:default; }


/*#contentwrapper .section1 table.rad-highlight[id^="key-data"] {table-layout: auto;}*/
.section2 .rad-quote {margin-top: 20px;}
.section2 .sec-content h3 { padding-bottom: 30px;}
.story-section.section4 .photo-inner.video-item { margin-top: 77px;}
.section.section4 .key-data {padding-bottom: 70px;}
.section.section5 .key-data {padding-top: 20px;}
#contentwrapper .section5.story-section table.rad-highlight[id^="key-data"] {margin-bottom: 47px;}


.year-in-review-landing .financial-highlights-box{margin-top:60px;}


/* Media landing video pull fixes start */
.media-landing a.rad-video {display: block; min-height: 400px;}

.media-landing .media-gallery .photo-inner.video-item a:after, .media-landing .media-gallery .photo-inner a.rad-video:after {left: -13px; bottom: -70px;}

.media-landing .rightbox .mediaGallery-item2 .vid-wrp, .media-landing .rightbox .mediaGallery-item3 .vid-wrp {display: block;float: left; width: 100%;}

.media-landing .media-gallery .mediaGallery-item2 .photo-inner a.rad-video:after, .media-landing .media-gallery .mediaGallery-item3 .photo-inner a.rad-video:after {left: -13px; bottom: -70px;}

.media-landing .mediaGallery-item .photo-inner.video-item {min-height: 460px;}

/* Media landing video pull fixes end */

#ip3-fashion-with-integrity .rad-quote {font-size: 3.2rem;text-align: center;margin-bottom: 0px;padding-bottom: 30px;}
#ip3-fashion-with-integrity .cntnt-text .rad-small {color: #666;display: block;font-size: 1.4rem;}
#ip3-fashion-with-integrity .black-cntnt.cntnt-text {text-align: center;}
