#footer.main-content h1.pageTitle ~ .intro-text h3:first-child:after { display:none; }
.main-content h1.pageTitle ~ h2 ~ h3::after { display: none; }
.main-content h1.pageTitle ~ h2 ~ * ~ h3::after { display: block; }

/*----    Global style    ----*/

/*===========EDGE Speific transition effect Starts=============*/
_:-ms-lang(x), _:-webkit-full-screen, .news-item-inner a{ -webkit-transition:none;}
/*===========EDGE Speific transition effect Ends=============*/
.jspDrag{transition: top 0.3s ease-out;}

html { font-size:62.5%; }

.heading, h1, h2, h3, h4, h5, .news-item p.Title { padding: 0 0 10px; line-height: 1.2em; }
body { font-family: "Futura LT W01 Medium", Arial, Helvetica; font-size: 1.8rem; line-height: 1.444em; color: #000; background-color:#f9f9f9; }

body.no-scroll { /*overflow:hidden;*/ height:100%; width:100%; }
/*body{-webkit-overflow-scrolling: touch;}*/

a { color: #000; text-decoration: none; border-bottom: 2px solid #6aac9f; -webkit-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -moz-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -ms-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -o-transition:all 300ms cubic-bezier(.455,.03,.515,.955);  }
a:hover { text-decoration: none; color: #36acdc; border-bottom: 2px solid #36acdc;  }
a:focus, a:active { outline: 0; _noFocusLine: expression(this.hideFocus=true); }
.invisible { position: absolute !important; left: -9999999px; top: auto; width: 1px; height: 1px; overflow: hidden; visibility: visible; }
img { outline-style: none; outline-width: 0; border: 0 none; max-width: 100%; height: auto; }
sup { font-size: smaller; font-weight: 700; }
sub { margin: 2px 0; padding: 2px 0; }
ul { list-style-image: none; /*list-style-position: inside;*/ list-style-type: none; }
#contentwrapper ul:not(.contextMenu){ display:table; }

#contentwrapper table ul{display:inline-block !important;}
ol { list-style-image: none; list-style-position: outside; list-style-type: decimal; }
hr { border-style: none none solid; border-width: 0 0 1px; margin: 5px 0; }
:active { outline-style: none; outline-width: 0; }
p { padding: 0 0 25px; }
p.rad-quote, span.rad-quote { font-size:3.2rem; line-height:1.313em; color:#666; position: relative; }
p.rad-quote::before { content:open-quote; font-size:2.3em; height: 26px; margin: 0 0.22em 0 0; position: relative; top: 0.16em; }
p.rad-quote::after { content:close-quote; font-size:2.3em; position: relative; line-height: 0; margin-left: 3px; top:0.65em; }

p#sectionheader { font-size: 1.4em; line-height: 1.2em; }
.article-title { font-size:3.0rem; }
.box-links a { font-size:1.6rem; }

h1, .h1 { font-size: 5.2rem; font-weight:normal; text-transform:uppercase; }
h2, .h2 { font-size: 4.0rem; font-weight:normal; text-transform:uppercase; }
h3, .h3 { font-size: 3.5rem; font-weight:normal; text-transform:uppercase; }
h4, .h4 { font-size: 3.0rem; font-weight:normal; text-transform:uppercase; }
h5, .h5 { font-size: 2.8rem; font-weight:normal; text-transform:uppercase; }
h6, .h6 { font-size: 2.6rem; font-weight:normal; text-transform:uppercase; }
h2 sub, h3 sub, h4 sub,.rad-big sub, #mmenu sub, #sitemapcontainer sub {bottom: 0;font-size: 100%;text-transform: lowercase;}
hr { display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px; }
.uppercase{text-transform:uppercase;}

a[href^="tel:"] {color: inherit !important; text-decoration: none; cursor:default; border-bottom: 0 none;}
a[href^="tel:"].mobile-tel-link{color: inherit !important; cursor:pointer !important;}

/*.main-content { min-height:700px; }*/
.main-content ul { list-style-type: disc; padding-left: 25px; margin-bottom: 25px; }
.main-content ul ul { list-style-type: circle; margin-top: 10px; margin-bottom: 10px; padding-left: 25px; }
.main-content ul li, .main-content ol li { margin-bottom: 10px; }
.main-content ol { list-style-type: decimal; padding-left: 28px; margin-bottom: 25px; }
/*.main-content ul li:before { height:10px; width:10px; content:""; background-color:#000; display:inline-block; }*/

.main-content ol ol { margin-top: 10px; margin-bottom: 10px;}

.black-bg { background-color:#000; }
.blue-bg { background-color:#36acdc; }
.green-bg { background-color:#6aac9f; }

.black-cntnt * { color:#000; }
.blue-cntnt * { color:#36acdc; }
.green-cntnt * { color:#6aac9f; }
.white-cntnt * { color:#161543; }
.gray-cntnt * { color:#666; }
.gray-content { color:#666; }
.ftr-content-links{
    background: #161543;
    width: 100%;
    padding: 10px;
}
.ftr-content-links a{
    color:#686658;
}
#MainWrapper { margin:0 auto;overflow:hidden; }

.no-r-pad { padding-right:0 !important; }
.no-l-pad { padding-left:0 !important; }
.no-pad { padding-left:0 !important; padding-right:0 !important; }

.next-parlx { left: 50%; margin-left: -5px; font-size: 2.7rem; width:38px; position:absolute; bottom:25px; text-align: center; z-index:1; }
.next-parlx span { cursor:pointer; padding-top: 10px; margin-left: 5px; text-align: center; width: 38px; height: 47px; background: #fff; display: inline-block; -webkit-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -moz-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -ms-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -o-transition:all 300ms cubic-bezier(.455,.03,.515,.955); }
.next-parlx span:hover { background: #36acdc; }
.next-parlx span:hover::before { color: #fff; margin-left: 0; }
.img-zoom img { cursor:pointer; margin:0; -o-transition: -o-transform 1s ease; -webkit-transition: -webkit-transform 1s ease; -moz-transition: -moz-transform 1s ease; -ms-transition: -ms-transform 1s ease; transition: transform 1s ease; }
.img-zoom img:hover { transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); }

.img-zoom { overflow:hidden; float:left;}

.main-sub-menu-row.auto-hide-header { margin-top:-18px; }
.main-contentwrapper { padding-top:62px; }
.pagination ul li { list-style-type: none; }
.pagination ul li a { border-bottom:0 none; }
.reg-alert-text { padding-bottom:9px; }

body#ip3-search-results .loader-wrapper { margin:0; }
.loader-wrapper{width:100%;float:left; margin:100px 0;}
.loader{margin: 0 auto;}
#ip3-media-gallery .media-loader .loader{margin: 0 auto; position: absolute; left: 0; right: 0; bottom: 0;}
/*----- Table CSS ---*/

table { margin-bottom: 20px; }
td, th { padding: 10px 0; }
th { border-bottom: 1px solid #e5e5e5; }
th.rad-right { text-align: center; }
td.rad-right { text-align: right; }
table td span[class^="icon-"] { font-size: 3rem; line-height: 1;display:block; }
.rad-notes { font-size: 0.9em; font-style: italic; }
.rad-financialtable td, .rad-financialtable th { text-align: right; }
.rad-financialtable td:first-child, .rad-financialtable th:first-child { text-align: left; }
table th.rad-highlight, table td.rad-highlight { background-color:#f4f4f2; }

table.rad-datatable tr th, table.rad-datatable tr td { border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; color: #666666; padding: 5px 10px; }
table.rad-datatable tr th .rad-left, table.rad-datatable tr td .rad-left { text-align: left; }
table.rad-datatable tr th .rad-right, table.rad-datatable tr td .rad-right { text-align: right; }

.scroll-table-container { width: 100%; padding: 0 0 5px; overflow-y: hidden; overflow-x: auto;/* margin-bottom: 14px; */}
.scroll-table-container::-webkit-scrollbar { -webkit-appearance: none; width: 10px; height: 7px; }
.scroll-table-container::-webkit-scrollbar-thumb { border-radius: 5px; border: 2px solid #666666; background-color: #666666; }

.scroll-table-container table thead th, .inv-responsive-table table thead th { border-top:2px solid #000; border-bottom:1px solid #000; padding:10px; }
.scroll-table-container table tbody td, .inv-responsive-table table tbody td {vertical-align: top; padding:15px 10px; }

table.searchTable tbody td { padding:15px 10px; }
table.searchTable { width: 100%;word-break: break-all; }
table.searchTable tbody td p.links { font-size:1.7rem; }
table.searchTable tbody td p.links a { font-size:1.8rem; display:inline-block; margin-bottom:3px; }
table.searchTable tbody td p.searchdescription { font-size:1.6rem; }
table.searchTable tbody tr:nth-child(even) { background:#f4f4f2; border-bottom: 1px solid #e1e4e5; border-top: 1px solid #e1e4e5; }

.scroll-table-container table:not(.rad-noborder) tbody tr:nth-child(even), .inv-responsive-table table tbody tr:nth-child(even) { background:#f4f4f2; border-bottom: 1px solid #e1e4e5; border-top: 1px solid #e1e4e5; }
.scroll-table-container table:not(.rad-noborder) tbody tr:last-child td, .inv-responsive-table table tbody tr:last-child td,.scroll-table-container table:not(.rad-noborder) tbody tr:last-child th, .inv-responsive-table table tbody tr:last-child th { border-bottom:2px solid #000; }
scroll-table-container table:not(.rad-noborder) tbody tr th, .inv-responsive-table table tbody tr th{padding:15px 10px;}
.inv-responsive-table .inv-responsive-data-header{ width:16%;}
.eventWrapper .scroll-table-container .inv-responsive-data-header{ width:30%;}
#contentwrapper table.rad-noborder{border-bottom:0 none}
.inv-responsive-table table { width:100%; }
.inv-responsive-table table thead th, .inv-responsive-table table tbody td { text-align:left; vertical-align:top; }
.inv-responsive-table table tbody td.outlook a:hover { border:0 none; }
.inv-responsive-table table tbody td.outlook a img { display:inline; }
.inv-responsive-table table th.date { width:12%; }
.inv-responsive-table table th.time { width:10%; }
.inv-responsive-table table td.date { width:12%; font-size:1.4rem; }
.inv-responsive-table table td.time { width:10%; font-size:1.4rem; }
.inv-responsive-table table .subject {  }
.inv-responsive-table table .venue { width:15%; }
.inv-responsive-table table .outlook { text-align:center; width:15%; }
.inv-responsive-table table .outlook a { display:inline-block; }
table[id^="key-data"].rad-highlight { padding-top:40px; float:left; width:100%; }
.scroll-table-container table[id^="key-data"].rad-highlight th { border:0; padding:0; }
table[id^="key-data"].rad-highlight tbody tr:nth-child(even) { background:none; }
.scroll-table-container table[id^="key-data"].rad-highlight tbody tr:last-child td { border-bottom:0; }
table[id^="key-data"].rad-highlight td { text-align:center; line-height:1.211em; font-size:1.9rem; padding:0 4%; }
table[id^="key-data"].rad-highlight tr td:first-child { padding-left:0 !important; }
table[id^="key-data"].rad-highlight tr td:last-child { padding-right:0 !important; }
table[id^="key-data"].rad-highlight td strong { padding-bottom:22px; line-height:0.8em; /*font-size:7.0rem;*/font-size:6.0rem; display:block; font-weight:normal; color:#6aac9f; }
table[id^="key-data"].rad-highlight td strong em { font-style:normal; letter-spacing: -3px; }
table[id^="key-data"].rad-highlight td strong sub { bottom:0; }
table.rad-highlight[id^="key-data"] td span.rad-left { float:left; }
table#key-data-2.rad-highlight td strong { padding-bottom:12px;}

table .doc-col { width:10%; text-align:center !important; }

#contentwrapper img.rad-center { margin: 0 auto;}

/*body#ip3-employees-in-the-community table.rad-highlight[id^="key-data"] td { width:49%; }*/
.scroll-table-container table tbody td.rad-center, .inv-responsive-table table tbody td.rad-center{text-align:center;}

.core-cntnt-page #contentwrapper table td a span.rad-underline {

line-height: 1;
display: block;
font-family: 'icomoon' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
/*visibility:hidden; */
height:0; position:relative;font-size:0;
}

.core-cntnt-page #contentwrapper table td a span.rad-underline:after {
    content: "\e907";position:relative;visibility:visible !important;height:50px;font-size: 3rem;
}

/*-------------- Header CSS Starts --------------*/

#logo { padding-top:21px; }

.header-ticker { float:left; height:23px; overflow:hidden; }

#header, #subNav { position: fixed; max-width: 1600px; width: 100%; z-index: 9; }
#subNav { background: #fff; -webkit-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.27); box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.27); transition: margin 0.5s ease 0s; -moz-transition: margin 0.5s ease 0s; -webkit-transition: margin 0.5s ease 0s; -o-transition: margin 0.5s ease 0s; -ms-transition: margin 0.5s ease 0s; margin-top:106px; }
#subNav{margin-top:105px !important;}
#subNav.compact{margin-top:71px !important;}
#dummy-header-height { display:none; }

#header .header-inner { padding-top:11px; padding-bottom:17px; overflow:hidden; }
#header .header-inner.compact { padding-top:0; padding-bottom:6px; }
#header p { padding:0; }
.header-row { background: #000; }
#header a { color:#fff;border-bottom:0 none; }
#header a:hover { color:#36acdc; }
#logo img { z-index: 99; width: auto; }
#logo a { display: block; float: left; }

#right-hdr-top { float:right; position:relative; padding-bottom:24px; }
.header-ticker{color:#fff; font-size:1.4rem;}
.header-ticker, .hdr-top-link { float:left; }

.hdr-top-link ul { border-left:1px solid #5a5a5a; border-right:1px solid #5a5a5a; margin: 0 7px 0 0; padding: 1px 0 2px; }
.hdr-top-link ul li { line-height: 18px; padding:0 7px; font-size:1.3rem; display:block; margin-top:2px; }

.right-hdr-bottom { position: relative; z-index:11; clear:both; width:100%; }
.right-hdr-bottom > ul { text-align:right; }
.mn-wrap { padding: 0px; max-width: 1600px; position: relative; margin: 0px auto; }
#menu-btn { cursor:pointer; display:none; background-color:#000; color:#fff; position: absolute; z-index: 99; right: 83px; max-width: 1600px; padding:2px 50px 6px 21px !important; }
#menu-btn span { position: absolute; right: 15px; top: 4px; font-weight: normal; font-size: 2.2rem; }
#header .ui-autocomplete { position:relative; }
#header .ui-autocomplete a { color:#000; cursor:pointer; }
#header .ui-menu .ui-menu-item { font-size:1.4rem; line-height:1em; }
/*#header .row {margin-left:0; margin-right:0;}*/

.nojs #header, .nojs #subNav { position:relative; }

/*----    Landing Banner    ----*/

.landing-banner { position: relative; }
.landing-banner img { margin:0 auto; }
.banner-text { position: absolute; top: 64px; width: 100%; text-align: center; }
.section .banner-text h2 { padding:0; font-size:5.21rem; text-transform:uppercase; color:#fff; background-color:#000; display: inline; line-height:1.48em; box-shadow:15px 0 0 #000, -15px 0 0 #000; -webkit-box-decoration-break:clone; -o-box-decoration-break:clone; box-decoration-break:clone; }
.main-content .banner-text p { margin-top:14px; font-size: 3.1rem; padding: 0; line-height: 1.238em; text-shadow: 2px 2px 2px rgba(255,255,255,1);  -moz-text-shadow: 2px 2px 2px rgba(255,255,255,1); -webkit-text-shadow: 2px 2px 2px rgba(255,255,255,1);  }

/*--  Content banner --*/

.main-content #bannerwrapper img { width:100%; }

/*------------- Search starts ---------*/

#searchbox { float:left; margin-top:-4px; }
#searchbox > div { display: inline-block; }
#searchbox .srch-inner { right: 0; width: 0; overflow: hidden; }
#searchbox .srch-inner > div { float:left; position:relative; width:100%; }
#searchbox .srch-btn-inner { color:#fff; cursor:pointer; font-size:1.9rem; }
#searchbox .srch-btn-inner:hover, #searchbox .srch-btn-inner.active { color:#36acdc; }
#searchbox.ui-autocomplete-input { box-shadow: none; }
#searchButtonContainer span { float: left; font-size: 1.8em; }
#searchButtonContainer, #searchButtonContainerRP { float: right; position: relative; padding-top: 7px; }
.srch-btn-inner { overflow:hidden; }
.srch-btn-inner p { text-indent:-999px; }
.searchTable td, .searchTable th { font-size: 1em; }

#searchbox .ui-autocomplete-input { border:0; width:96%; padding: 0 5px 0; line-height:25px; height: 26px; font-size: 1.4rem; }
#searchbox #SearchButtonContainer { display:none; }

.ui-menu .ui-menu-item a { border:0 none; cursor:pointer; }

/*------------- Search Mobi starts ---------*/

#searchbox-mobi {display: none;margin: 0 auto; padding: 20px 0 0;position: relative; z-index: 1001;}
#searchTextboxContainerMobi {float: left;width: 90%;}
#searchTextboxContainerMobi #searchTextboxMobi {background: #fff; border: medium none; color: #000;font-size: 1.4rem;height: 26px;margin-left: 0px; padding:5px 10px;width: 95%;}
#SearchButtonContainerMobi::before {color: #fff; content: "\e909"; display: block; font-family: "icomoon" !important; font-size: 3.4rem;padding-right: 0;padding-top:0; text-align: center;}
#SearchButtonContainerMobi {float: right; position: relative;text-align:  center;width:35px; height:28px}
#SearchButtonContainerMobi > input {background:none;border: medium none;height: 40px;width:40px; position: absolute;right: 0;top: 0;text-indent:-9999px}

/* --------------- Banner Starts ---------------*/

.banner-row { padding-top: 145px; }
#bannerwrapper { position: relative; }
#bannerwrapper .sliderbanner { position: relative;overflow: hidden; }
#bannerwrapperinner { padding: 0; }
.has-parallax .banner-row,#ip3-Homepage .has-parallax .main-sub-menu-row { display:none; }/*.has-parallax .main-sub-menu-row*/

.banneritem { position: relative; display: none; }
.banneritem:first-child { display: block; }
.banneritem .bannertext { position: absolute; bottom: 20px; left: 20px; }

.nojs .banneritem { display: none; }
.nojs .banneritem.banner1 { display: block; }

/* ------------------- Main Content starts --------------------------- */

.main-content { padding-top:62px; }
#contentwrapper { margin-bottom:60px; }
.main-content p { line-height:1.444em;}
.main-content p span.rad-center { text-align:center; display:block; }
.main-content .intro-text p { font-size:3.0rem; line-height:1.234em; font-weight:400; margin-bottom:15px; }
/*.main-content h1,*/.main-content .h1  { margin:-127px 0 0 0; padding:0 25px 5px 0; letter-spacing:0.032em; float: left; text-transform: uppercase; background: #fff; font-weight: 600; position: relative; max-width:100%; line-height:1.2em;}
/*.main-content h1::before,*/.main-content .h1:before  { width:136px; height:100%; left:-136px; background:#fff; content:""; display:inline-block; position:absolute; }
.main-content h2,.main-content h1  { margin-bottom:25px; padding:0 0 23px 0; position:relative; }
.main-content h2::after,.main-content h1:after  { width:256px; position:absolute; bottom:0; left:0; content:""; border-bottom:1px solid #000; }
.main-content h1.pageTitle{font-size:4.0rem;margin-top:0;}
.main-content h3 { margin-bottom:19px; padding:0 0 24px 0; position:relative; }
.core-cntnt-page.main-content h3 { padding-top:27px; }
.core-cntnt-page.main-content h4 { padding-top:20px; }
.main-content h3::after { width:180px; position:absolute; bottom:0; left:0; content:""; border-bottom:1px solid #000; }
.main-content h4, .main-content h5 { margin-bottom:19px;position:relative; }
.main-content h4::after { width:180px; position:absolute; bottom:0; left:0; content:""; border-bottom:1px solid #000; }
.main-content h5::after { width:180px; position:absolute; bottom:0; left:0; content:""; border-bottom:1px solid #000; }

.main-content p.rad-quote, span.rad-quote { line-height: 1.313em; margin-bottom: 30px; clear:both; }
.reports-table .audio, .reports-table .webcast, .reports-table .presentation, .reports-table .statement, .reports-table .movie, .reports-table .report{text-align: center;}
#ip3-risk #MainWrapper .snapWrapper .scroll-table-container tbody td { /*width: 50%;*/ }
.reg-txt { margin-bottom:12px; }

/*--  Snapdown  --*/

.main-content .snapWrapper { margin-bottom:70px; float:left; clear:both; width:100%; }
.main-content .snapdownItem { margin-bottom:2px; border:0; float:left; clear:both; width:100%; }
.main-content .snapdownItem .snapdown-title { background:#e1efec; padding:0 14px; -webkit-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -moz-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -ms-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -o-transition:all 300ms cubic-bezier(.455,.03,.515,.955); }
.main-content .snapdownItem.active .snapdown-title, .main-content .snapdownItem:hover .snapdown-title { background:#000; }
.main-content .snapdownItem.active .snapdown-title p, .main-content .snapdownItem:hover .snapdown-title p { color:#fff; }
.main-content .snapdown-content { padding:28px 0 24px 0; clear:left; }
/* .main-content .snapdown-content p:nth-child(2) { margin-top:-25px; } */
/*.main-content .snapdown-content*/ #contentwrapper  span.rad-highlight { margin:5px 28px 24px 0; padding:0; float:left; position:relative; }
/*.main-content .snapdown-content*/ #contentwrapper  span.rad-highlight img { position:relative; }
/*.main-content .snapdown-content*/ #contentwrapper  span.rad-highlight strong { position:absolute; bottom:30px; z-index:1; }
/*.main-content .snapdown-content*/ #contentwrapper  span.rad-highlight strong span { padding:0 0 0 10px; font-weight:300; }
/*.main-content .snapdown-content*/ #contentwrapper  span.rad-highlight span.rad-big { line-height:1.48em; font-family:"Futura LT W01 Medium Condensed", Arial, Helvetica; position:relative; padding: 0 5px 0 10px; font-size:3.0rem; text-transform: uppercase; color: #000; background-color: #fff; display: inline; line-height:1.4em;
  /*box-shadow:15px 0 0 #fff, -15px 0 0 #fff; */ -webkit-box-decoration-break:clone; -o-box-decoration-break:clone; box-decoration-break:clone; text-align:left; margin-left:-1px; overflow:hidden; }
/*.main-content .snapdown-content*/ #contentwrapper  span.rad-highlight span.rad-small { padding:0 10px; font-size:1.6rem; color: #000; background-color: #fff; display:table; /* box-shadow:15px 0 0 #fff, -15px 0 0 #fff; */ -webkit-box-decoration-break:clone; -o-box-decoration-break:clone; box-decoration-break:clone; text-align:left; margin-top:1px; }

/*--  Bottom Signpost  --*/

.bottom-signpost-wrapper { padding-top:24px; clear:left; }
.bottom-signpost-wrapper .slick-arrow { margin-top:0; }
.bottom-signpost-wrapper .bottom-signpost-item-wrapper a,
.bottom-signpost-wrapper .bottom-signpost-item-wrapper a img { margin:0; width:100%; display:block; position:relative;border-bottom:0 none; -o-transition: -o-transform 1s ease; -webkit-transition: -webkit-transform 1s ease; -moz-transition: -moz-transform 1s ease; -ms-transition: -ms-transform 1s ease; transition: transform 1s ease;overflow:hidden; }
.bottom-signpost-wrapper .bottom-signpost-item-wrapper a {transform: translate3d(0,0,0);}
.bottom-signpost-item-wrapper:hover img { transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1);  }

.bottom-signpost-wrapper .bottom-signpost-item-wrapper a strong { position:absolute; bottom:15px; z-index:8;}
.bottom-signpost-wrapper .bottom-signpost-item-wrapper a strong span { padding:0 10px; font-weight:300; }
.bottom-signpost-wrapper .bottom-signpost-item-wrapper a span.rad-big { text-transform:uppercase; font-family:"Futura LT W01 Medium Condensed", Arial, Helvetica; position:relative; padding: 0 6px; font-size:3.0rem; text-transform: uppercase; color: #000; background-color: #fff; display: inline; line-height:1.4em; /* box-shadow:15px 0 0 #fff, -15px 0 0 #fff; */ -webkit-box-decoration-break:clone; -o-box-decoration-break:clone; box-decoration-break:clone; text-align:left; transition:all 0.7s ease 0s; -moz-transition:all 0.7s ease 0s;-webkit-transition:all 0.7s ease 0s; -o-transition:all 0.7s ease 0s; -ms-transition:all 0.7s ease 0s;  }
.bottom-signpost-wrapper .bottom-signpost-item-wrapper a span.rad-small { padding:0 10px; font-size:1.6rem; color: #000; background-color: #fff; display:table; /* box-shadow:15px 0 0 #fff, -15px 0 0 #fff; */ -webkit-box-decoration-break:clone; -o-box-decoration-break:clone; box-decoration-break:clone; text-align:left; margin-top:1px;transition:all 0.7s ease 0s; -moz-transition:all 0.7s ease 0s;-webkit-transition:all 0.7s ease 0s; -o-transition:all 0.7s ease 0s; -ms-transition:all 0.7s ease 0s;  }
.bottom-signpost-item-wrapper:hover a span.rad-big, .bottom-signpost-item-wrapper:hover a span.rad-small {color:#fff; background:#000;}
.bottom-signpost-item-wrapper:hover .black-spacer {display: block;}

/* .slick-arrow{position: absolute; top: 45%;  border: 2px solid #000; border-width: 0 5px 5px 0; padding:10px
display: inline-block; width: 22px;  height: 22px; text-indent: -99999px; z-index:1; background: none;}
.slick-prev{overflow:hidden;left:0; transform: rotate(135deg); -webkit-transform: rotate(135deg);
-ms-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg);}
.slick-next{right:0;overflow:hidden; transform: rotate(-45deg); -webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg);} */

/*-------  Slider Next Pre arrows  ----------*/

.slick-arrow.slick-disabled{display:none;}
.slick-arrow { position: absolute; top:46%; margin-top:-23px; color:#fff; background:none;border:none; padding:10px; height:46px; width:46px; z-index:8; }

.slick-arrow:before{background:none; display:block;position:absolute;font-family: 'icomoon' !important;z-index: 9999;color: #000;top:0;padding:10px 0;font-size:2.5rem; -webkit-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -moz-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -ms-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -o-transition:all 300ms cubic-bezier(.455,.03,.515,.955); }
.slick-arrow.slick-prev::before{left:14px;content:"\f053";}
.slick-arrow.slick-next:before{right:14px;content:"\f054";}
.slick-arrow:hover:before{ color:#36acdc; }


.slick-arrow.slick-prev{left:-44px;}
.slick-arrow.slick-next{right:-44px;}

.slick-arrow.slick-disabled::before { color:#c6c6c6; }

/*-------------- Search page CSS Starts --------------*/

.ip3search_highlight { font-weight: 700; }

.sitesearchpagination { padding-top: 10px; }
.sitesearchpagination ul{list-style-type: none;}
.sitesearchpagination ul li { float: left; margin: 0 10px 0 0; padding: 0; }

table.searchTable tbody tr th { text-align: left; height: 22px; }

#tabs.sectionTabs { position: relative; padding: 0; width:100%; border-bottom:1px solid #000; float:left; }
#tabs.sectionTabs ul { list-style: none; padding: 0; margin: 0; }
#tabs.sectionTabs ul li { float: left; padding: 0; margin: 0; border-left: 1px solid #000; border-top: 1px solid #000; }
#tabs.sectionTabs ul li:before { display: none; }
#tabs.sectionTabs ul li.lastLI { border-right: 1px solid #000; }
#tabs.sectionTabs ul li a { border-bottom:0; display: block; padding: 10px; text-align: center; background-color:none;color:#000; }
#tabs.sectionTabs ul li.current a { background-color: #36acdc; color:#fff; }
#tabs.sectionTabs ul li a span { display: block; text-align: center; }
#tabs.sectionTabs ul li.current a:hover, #tabs.sectionTabs ul li a:hover { background-color: #36acdc; color: #fff; }
#tabs.sectionTabs span.select { border:1px solid #000; background: #fff; position: absolute; font-size: 1em; top: 0; left: 0; height: 35px; color: #000; padding: 5px 10px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; font-size: 1.6rem; *behavior: url("../~/media/Files/A/Asos-V2/htc-files/boxsizing.htc"); }
#tabs.sectionTabs span.select:after { content: "\f078"; font-family: 'icomoon' !important; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 8px solid #fff; line-height: 0; position:absolute; right: 10px; top:8px;}
#tabs.sectionTabs span.select.opened:after { content: "\f077"; }
#tabsDD { height: 35px; font-size: 1.6rem; width: 100%; cursor: pointer; }
#tabsDD option { padding: 2px 10px; }

.searchresultpage #searchContainerRP {display: inline-block; border: 1px solid #000; }
#searchinnerRP {float: left; }
#searchTextBoxContainerRP { float: left; padding: 5px; }

#searchTextBoxContainerRP, #searchButtonContainerRP { float: left; }
#searchTextBoxContainerRP .ui-autocomplete-input {border: none; background:transparent;box-shadow:none;padding: 0; }
#searchTextBoxContainerRP ul{ list-style: none; padding-left:0;}
#searchTextBoxContainerRP li{ line-height:15px; padding-left:0;width: 99% !important;margin-bottom: 0px !important; }
.ui-autocomplete-input { padding: 2px 5px; line-height: 1.7em; box-shadow: 10px 10px 20px -5px #f8f8f8 inset; }
#searchButtonContainerRP{padding:5px; position:relative;width:40px;height: 40px}
#SearchbuttonRP {padding:0 !important;text-indent: -9999px;width:40px;height:40px;background:none;  border: none;position:absolute;z-index:10}
#searchButtonContainerRP:after { color: #000; content: "\e909"; display: block; font-family: "icomoon" !important; font-size: 3.6rem; padding-right: 0; padding-top: 2px; text-align: left; }

#searchFilter, #resuleMsg { padding-top: 10px; }
.level1level2 td p { padding-top: 10px; }
.searchTable .level1level2 td p { padding-top: 0; }

#SearchbuttonRP { padding: 0 0 3px 8px; }
p.links { margin-bottom: 0px;padding-bottom:15px; }
p.searchdescription { margin-bottom: 0px; padding-bottom:0; }
#contentwrapper table { width:100%; }

/*----------    Site map     ----------*/

#sitemapcontainer ul { float:left; width:100%; }
#sitemapcontainer ul ul ul { margin-bottom:0; }
#sitemapcontainer ul ul ul li:last-child { margin-bottom:0; }
#sitemapcontainer ul li { float: left; clear: both; list-style:none; }
#sitemapcontainer ul li a { border:none;display: inline-block; }
#sitemapcontainer ul li a:before { content: "\f054"; font-size: 1.4rem; margin-right:8px; }
#sitemapcontainer > ul > li.level1 { width: 100%; background: #eee; float: none; }
#sitemapcontainer ul li.level1 > a { padding: 8px; }

/* ----------------- snapdown starts --------------*/

.snapdownWrapper { margin: 30px 0; }
.snapdown-content { display: none; }
.snapdownItem { /*border-bottom: 1px solid #e5e5e5;*/ }
.snapdownItem:first-child {/* border-top: 1px solid #e5e5e5;*/ }
.snapdownItem .snapdown-title p { color: #000; text-transform:uppercase; cursor: pointer; margin: 0; padding: 11px 45px 11px 0px; position: relative; font-size: 2.0rem; }
.snapdownItem .snapdown-title p::after { content: "+"; position: absolute; right: 16px; top: 5px; font-size: 1.4em; }

.snapdownItem.active .snapdown-title p { color: #000; }
.snapdownItem.active .snapdown-title p::after { content: "-"; font-size: 2.4em; }


.nojs .snapdown-title p:after { display: none; }
.nojs .snapdown-content { display: block !important; }
.snapdown-content table tbody tr:last-child { border-bottom: none; }



/*-----------    News/Year tabs starts    -------------*/

#contentwrapper .newstab { position: relative; padding-bottom:30px; float:left;}
#contentwrapper .newstab ul { list-style: none; padding: 0; margin: 0 auto 15px; display:table;}
#contentwrapper .newstab ul li { text-transform:uppercase; border-right: 1px solid #000; padding: 0; font-size: 2.3rem; list-style-type: none; position: relative; float:none; display:table-cell;}
#contentwrapper .newstab ul li:before { display: none; }

#contentwrapper .newstab ul li:last-child { border:none; }
#contentwrapper .newstab ul li a, .filter-tab ul li a { transition:none; -webkit-transition:none; -moz-transition:none; -ms-transition:none; -o-transition:none; }
#contentwrapper .newstab ul li a, #contentwrapper .newstab ul li > span { color: #000; display: block; padding:6px 30px 8px 30px; border-bottom:0 none;}
#contentwrapper .newstab ul li > span { color:#000; }
#contentwrapper .newstab ul li.current a { cursor:default; background:#36acdc;color: #fff;}
#contentwrapper .newstab ul li.current span { background:#36acdc; color: #fff;}
#contentwrapper .newstab ul li.current a:hover { background-color:#36acdc; }
#contentwrapper .newstab ul li a:hover { background: #000; color: #fff; }
#contentwrapper .newstab ul li.current::after {content: '';border: 10px solid transparent;display: block;width: 8px;height: 8px;margin: auto;position: absolute;   left: 0;bottom: -4px; -webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(45deg);border-color: #36acdc;border-top: none;border-left: none;right: 0;}
.selectedTab.v-mobile { text-transform:uppercase; border: 1px solid #000;color: #36acdc;cursor: pointer;display: none;font-weight: 700;line-height: 1.2em;padding: 10px;font-family: "Futura LT W01 Medium Condensed", Arial, Helvetica;font-size: 2.3rem;}

/* ------------------- error page starts ------------------------------- */
#ip3-error-page .pageTitle{visibility:hidden;width:0px;height:0px;}
.error-page-text p { float: left; }
.counter { font-weight: 700; padding: 0 5px; }

/*-------------- Footer CSS Starts --------------*/

#footer {
    background-color: #fff;
    /*padding: 68px 0 36px; */
    clear:both;
    text-align:center;
    position:relative; }
#footerwrapperinner p { color: #fff; }

.ftr-social-links { padding: 15px; }
.ftr-social-links ul li { display: inline-block; padding: 0 9px; font-size:2.3em; }
.ftr-social-links ul li:first-child, #ftr-social-links ul li.first { padding-left: 0; }
.ftr-social-links ul li:last-child, #ftr-social-links ul li.last { padding-right: 0; }
.ftr-social-links ul li a { display: inline-block; border-bottom:0 none; transition: all 0.5s ease-out 0s; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; }
.ftr-social-links ul li a span{ /*display:block; width:45px;*/ }
.ftr-social-links ul li a:hover span {color:#36acdc;}
.ftr-content-links ul li { display:inline-block; font-size:1.4rem; padding: 0 70px; }
.ftr-content-links a{border-bottom:0 none;}
.inv-branding { position: absolute; right: 9.233333333%; bottom:0; }
.inv-branding p { display: inline-block; padding:0; }

.copyright { float: right; padding: 0; }

/*-------------SS-------------------*/
.ip3-edit table { font-size: 1em; }

/*----    Our Story landing    ----*/

#contentwrapper.our-story-landing { float:left; width:100%; margin-bottom:0; /*padding-top:110px;*/ }
.our-story-landing .landing-banner { /*padding-top:60px; */max-width:1600px; }
.our-story-landing .landing-banner .inner-bnr-txt { width:50%; margin:0 auto; }
.our-story-landing .img-zoom { margin:6px 13px 0 1px; }
.our-story-landing.main-content h2::after { display:none; }

/*-- new controls  --*/

.our-story-landing .overlay-wrapper.cs-overlay .overlay-controls { text-align: left; position: absolute; }
.our-story-landing .overlay-wrapper.cs-overlay span.icon-cross { right:auto; position:fixed; }
.our-story-landing .overlay-wrapper.cs-overlay .inner-sp-tabs { top:27%; right:auto; position:fixed; }

.cr-landing .overlay-wrapper.cs-overlay .overlay-controls { text-align: left; position: absolute; }
.cr-landing .overlay-wrapper.cs-overlay span.icon-cross { right:auto; position:fixed; }
.cr-landing .overlay-wrapper.cs-overlay .inner-sp-tabs { top:27%; right:auto; position:fixed; }

.core-cntnt-page .overlay-wrapper.cs-overlay .overlay-controls { text-align: left; position: absolute;/*right: 20px;*/width:41px; }
.core-cntnt-page .overlay-wrapper.cs-overlay span.icon-cross { right:auto; position:fixed; }
.core-cntnt-page .overlay-wrapper.cs-overlay .inner-sp-tabs { top:27%; right:auto; position:fixed; }

/*--  Parallax pager  --*/

.para-pager { text-align:right; }
.para-pager .menu { position: fixed; max-width: 1600px; z-index: 999; width: 100%; top:35%; }
.para-pager .menu p { padding:0; line-height:0; }
.para-pager .menu a { font-size:0; display:inline-block; height:9px; width:9px; border-radius:50%; background-color:#999; text-indent:-999px; overflow:hidden; margin-bottom: 23px; }
.para-pager .menu p:last-child a { margin-bottom:0; }
.para-pager .menu a.active { background-color:#36acdc; }

/*--- Scroll Sections / Common style  ---*/

/*.scrollmagic-pin-spacer .section, .scrollmagic-pin-spacer .lvcol, .scrollmagic-pin-spacer .rvcol { -moz-transition: all 1200ms cubic-bezier(0.075, 0.82, 0.165, 1); -webkit-transition: all 1200ms cubic-bezier(0.075, 0.82, 0.165, 1); transition: all 1200ms cubic-bezier(0.075, 0.82, 0.165, 1); }*/
.section h2 { margin: 0; font-size:5.2rem; text-transform:uppercase; padding-bottom:15px; }
/* HP: 15-01-2017 */
/*.section h3 { font-size:2.6rem; color:#666; text-transform:uppercase; padding-bottom: 36px; margin-bottom: 18px; position:relative; }*/
.section h3 { font-size:2.6rem; color:#666; text-transform:uppercase; position:relative; }
/* HP: 15-01-2017 */

.section h2.vhide, .section h3.vhide { visibility: hidden; }
.section h3::after { position: absolute; bottom: 0; left: 0; content:""; border-bottom:1px solid #000; width:329px; }
.section p { font-size:1.7rem; }
.section .key-data { padding-top:40px; float:left; width:100%; }
#contentwrapper .section .key-data ul { margin:0; padding:0; float:left; width:100%; }
#contentwrapper .section .key-data ul li { margin: 0 1%; vertical-align:top; text-align:center; line-height: 1.211em; float:left; list-style: none; font-size:1.9rem; }
#contentwrapper .section .key-data ul li:first-child { margin-left:0 !important; }
#contentwrapper .section .key-data ul li:last-child { margin-right:0 !important; }
#contentwrapper .section .key-data ul li strong { padding-bottom:21px; line-height:0.8em; font-size:7.0rem; display:block; font-weight:normal; color:#6aac9f; }
#contentwrapper .section .key-data ul li strong em { font-style:normal; letter-spacing: -3px; }
.section .key-data ul li strong sub { bottom:0; }
.section .left-col { padding-top:97px; padding-bottom: 161px; }
.section .sec-content { padding-bottom:60px; }
.section .left-col .sec-content, .section .left-col .key-data { padding-right:10%; }
.section .section-image { clear:both; }
.section .left-col, .section .right-col { float:left; background:#fff; overflow:hidden; }
.sec-bott-cntnt { position:absolute; bottom:0; width:100%; background:#fff; }
.section .rvcol::before { bottom: 18px; height: 55px; background-color: #fff; left: 0; content: ""; position: absolute; width: 25px; }
.section .lvcol, .section .rvcol { background:rgba(0,0,0,0);}
.section .lvcol h2, .section .lvcol h3 { visibility:hidden; }
.section .lvcol h3 { margin-bottom:0; }
.section .sec-sub-cntnt { background-color: #fff; padding:18px 0 60px; }
.section .lvcol .cs-signpost{ background-color: #fff; }
.section .lvcol .sec-content { padding-bottom:0; }
.section .right-col.rvcol { /*z-index:9; */z-index:8; }
.section0.section .icon-big-down-arrow-ico::before { margin-left: 0; }
.icon-big-down-arrow-ico::before { margin-left: -3px; -webkit-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -moz-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -ms-transition:all 300ms cubic-bezier(.455,.03,.515,.955); -o-transition:all 300ms cubic-bezier(.455,.03,.515,.955); }
.section.story-section .photo-inner a::after, .photo-inner a.rad-video::after { left: -28px; }

/* .section.section0 .scrollToNext { left: 50%; margin-left: -5px; font-size: 2.7rem; width: 38px; position: absolute; bottom: 25px; text-align: center; z-index: 1; }
.section.section0 .scrollToNext span { cursor: pointer; padding-top: 10px; margin-left: 5px; text-align: center; width: 38px; height: 47px; background: #fff; display: inline-block; } */


/*--  Green box link style  --*/

.green-box-link { clear: both; text-align: center; }
.green-box-link p { display:inline-block; padding:0; font-size:1.6rem; margin:0 5px; text-transform:uppercase; }
.green-box-link p a { padding:12px 9px 12px 15px; display:inline-block; border:2px solid #6aac9f; background:#FFF; transition:all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s; -o-transition:all 0.3s ease 0s; }
.green-box-link p a span.icon-chevron-right { position: relative; top: 1px; font-weight: normal; font-size: 1.4rem; padding-left: 5px; color:#000; }
.green-box-link p a:hover { background-color:#000; border:2px solid #000; color:#000; }
.green-box-link p a:hover span { color:#fff; }
.home-section.section2 .green-box-link p a:hover { color:transparent; }

/*--  Green box link animation  --*/

.green-box-link p a strong { overflow: hidden; font-weight:normal; float: left; }
.green-box-link p a strong span { position: relative; display: inline-block; -webkit-transition: -webkit-transform 0.3s;	-moz-transition: -moz-transform 0.3s; transition: transform 0.3s;color:#000; }
.green-box-link p a strong span::before { position: absolute; top: 100%; content: attr(data-hover); color: #fff; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0);	transform: translate3d(0,0,0); }
.green-box-link p a:hover strong span{ -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); transform: translateY(-100%); -ms-transform: translateY(-100%); -o-transform: translateY(-100%); }

.home-section.section4 .green-box-link p a strong span { line-height:25px; }

/*--  Case study Signpost  --*/

.cs-signpost { text-transform:uppercase; }
.cs-signpost p.cs-signpost-link { font-size:1.4rem; padding: 16px 0 0; }
.cs-signpost p.cs-signpost-link span { position: relative; top: 1px; font-weight: normal; font-size: 1.4rem; margin-left: 8px; }
.cs-signpost p.cs-signpost-link a { border-bottom:0 none; }

/*--  Overlay  --*/

.overlay { overflow:hidden; width:100%; position: fixed; top:-2000%; max-width: 1600px; margin: 0px auto; height: 100%; z-index: 9; background-color:#fff; }
.overlay-wrapper{max-width: 1600px; margin: 0px auto;}
.overlay-wrapper span.icon-cross { font-size:2.5rem; position: absolute; /*top: 14px;*/ right: 5px; cursor:pointer;background: rgba(255,255,255, 0.7);border-radius: 0 0 0 10%;padding:8px; }

.signpost-overlay-inn { height:100%; }
.signpost-overlay-inn > div { height:100%; }
.signpost-overlay-inn > div.lcol { height:100%; }
.signpost-overlay-inn.sp-content .rcol { padding-top:58px; padding-bottom:20px; }
.signpost-overlay-inn h2 { font-size:4.4rem; line-height:1.182em; position:relative; margin-bottom:10px; padding-bottom:22px; }
.signpost-overlay-inn h2:before { position: absolute; bottom: 0; left: 0; content:""; border-bottom:1px solid #000; width:330px; }
.signpost-overlay-inn p { font-size:1.4rem; line-height:1.571em; }
.signpost-overlay-inn p.rad-quote { margin-right:10px; padding-top:25px; font-size:2.3rem; line-height:1.435em;margin-bottom: 0; }
.signpost-overlay-inn p .rad-big { font-weight:bold; font-size:1.6rem; }
.signpost-overlay-inn p.rad-quote ~ .rad-caption { margin-top: -30px; margin-bottom: 55px; }
.signpost-overlay-inn ul li { font-size:1.4rem; margin:0 5%; }
.signpost-overlay-inn .key-data { padding-top:58px; }
.inner-sp-tabs { position:absolute; right: 1.5%; margin-top: 0; top: 27%;background: rgba(255,255,255, 0.7);border-radius: 10% 0 0 10%;padding:8px 3px; }
.inner-sp-tabs span { text-align: center; display: block; clear: left; cursor: pointer; margin-bottom: 11px; }
.inner-sp-tabs span.active { cursor: default; }
.inner-sp-tabs span.active, .inner-sp-tabs span:hover { color:#736c6c; }
.inner-sp-tabs span.icon-cs-page-ico { font-size: 3.5rem; }
.inner-sp-tabs span.icon-movie-ico { font-size: 2.3rem; }
.inner-sp-tabs span.icon-camera-ico { font-size: 2.7rem; }
.inner-sp-tabs span:last-child { margin-bottom:0; }

.overlay-controls { max-width: 60px; text-align: right; position: absolute; width: 41px; top: 0px; z-index: 9; display:none; right:0;}
.rcol-inn { float:left; width:100%; height:100%; overflow:auto; }

.cs-overlay .overlay-controls { position: fixed; /*height: 100%;*/ }

/*--  Key data slider  --*/

#contentwrapper .section .key-data ul li span.rad-left { display:none; font-size:3.0rem; text-align:left; display:block; margin-bottom:30px; float:none; }
#contentwrapper .section .key-data .slick-list { width: 67%; float: left; margin-left: 15%; }
#contentwrapper .section .key-data .slick-dots { display: block; width: 14px; float: left; margin:43px 0 0 0; }
#contentwrapper .section .key-data .slick-dots li { width:14px; float:none; margin:0 0 18px; height:auto !important; }
#contentwrapper .section .key-data .slick-dots li:last-child { margin:0; }
#contentwrapper .section .key-data .slick-dots li button { padding:0; font-size: 0; line-height: 0; display: block; width: 14px; height: 14px; cursor: pointer; color: transparent; border: 0; outline: none; background: #b2b2b2; border-radius:50%; }
#contentwrapper .section .key-data .slick-dots li.slick-active button { background: #3c3c3c; }
#contentwrapper .section .key-data ul li strong em, table.rad-highlight[id^="key-data"] td strong em { -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1); }

/*--  Case study overlay  --*/

#contentwrapper .overlay-wrapper .image-gallery-overlay ul { display:block; margin: 0; padding: 0; list-style-type: unset; }
#contentwrapper .overlay-wrapper .image-gallery-overlay ul li { list-style: none; margin: 0; padding: 0; }
.overlay-wrapper .image-gallery-overlay .img-gallery-wrap { float: left; width: 100%; transform: translateY(-50%); top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); position:relative; }
.overlay-wrapper .image-gallery-overlay .img-gallery-wrap .slick-arrow::before { color:#fff; }
.overlay-wrapper .image-gallery-overlay .img-gallery-wrap .slick-arrow.slick-disabled::before { color: #989797; }

.overlay-wrapper .image-gallery-overlay .pager-holder { width: 110px; margin: 0 auto; position: relative; }
.overlay-wrapper .image-gallery-overlay .img-gallery-wrap .slick-arrow { top:auto; bottom:15px; }
.overlay-wrapper .image-gallery-overlay .img-gallery-wrap .slick-prev { left:0; }
.overlay-wrapper .image-gallery-overlay .img-gallery-wrap .slick-next { right:0; }

/*--  Section 1  --*/

.section .content-wrap { height: 100%; }
.section .content-wrap, .vslide-bottom .wbgcol { background-color:#fff; }
.signpost-overlay-inn h2::after { position: absolute; bottom: 0; left: 0; content: ""; border-bottom: 1px solid #000; width: 330px; }
.section.section1 .left-col .sec-content { padding-top: 90px; }

/*--  Sub Section 1  --*/
.our-story-landing .section1 .vslide-bottom .section-image { min-height:478px; }
.section.section1 .vslide-bottom .left-col { padding-bottom: 81px; }
#contentwrapper .section.section1 .vslide-bottom .key-data { padding:46px 10% 42px 0; width:100%; }
#contentwrapper .section.section1 .vslide-bottom .key-data ul li, #contentwrapper .section.section1 .overlay-wrapper .key-data ul li { width:45%; margin: 0 5%; }

.section.section1 .right-col .key-data, .section.section1 .right-col .green-box-link { background:#fff; }
.section.section1 .right-col .green-box-link { padding-bottom:40px; }
.section.section1 .vslide-bottom .lvcol .cs-signpost { padding-bottom:10%; }

/*--  Section 2  --*/
.section.section2 .section-image { min-height:332px; margin-top: 90px; }
.section.section2 .left-col { padding-top: 84px; }
.section.section2 .vslide-inner .right-col { padding-top: 148px; }
.section.section2 .cs-signpost { padding-bottom:61px; margin:0 17%; }
.section.section2 .left-col .key-data .slick-list li{ text-transform:uppercase; }
.section.section2 .left-col .key-data .slick-list li strong { text-transform:none; }
.section.section2 .left-col .sec-content { padding-top: 90px; }

/*--  Sub Section 2  --*/
.section.section2 .vslide-bottom p.rad-quote { font-size:3.15rem; }
.section.section2 .vslide-bottom .outer-rad-quote { margin-left: 15%; width: 63%; padding-bottom:10px; }
.section.section2 .vslide-bottom .rvcol { background-color:#fff; }
.section.section2 .right-col .green-box-link { padding-bottom:40px; }
.section.section2 .vslide-bottom .sec-bott-cntnt { position:relative; margin-top: 41px; }
.section .vid-caption { clear: left; text-transform: uppercase; margin: 0 0 0 18px; float: left; }
.section .vid-caption p { font-size: 1.7rem; padding:0; }
.section .vid-caption p.video-sub-caption { text-transform: none; padding-top: 7px; }
.section.section2 .lvcol .vid-wrp { position:absolute; bottom:20px; }

/*--  Section 3  --*/
.section.section3 .left-col .sec-content { padding-top: 75px; }

/*--  Sub Section 3  --*/
.our-story-landing .section.section3 .vslide-inner .section-image { height:100%; }
.section.section3 .vslide-bottom .section-image { min-height:301px; }
.section.section3 .rvcol .vid-wrp { padding-top: 187px; }
.section.section3 .lvcol .sec-bott-cntnt { padding-top:10%; width:95%; }
.section.section3 .rvcol .key-data { clear:left; width: 70%; margin: 0 auto; float: none; padding-bottom: 35px; }


/*---   Section 4   ---*/


.section.section4 .vslide-inner .section-image { margin-top: 90px; min-height:519px; }
.section.section4 .key-data { padding: 46px 0 42px; }
#contentwrapper .section.section4 .key-data table { width: 77%; margin: 0 auto; float: none; }
#contentwrapper .section.section4 table.rad-highlight[id^="key-data"] td { padding: 0 6%; }
#contentwrapper .section.section4 table.rad-highlight[id^="key-data"] td:first-child { padding-left:0; }
#contentwrapper .section.section4 table.rad-highlight[id^="key-data"] td:last-child { padding-right:0; }
.section.section4 .left-col .sec-content { padding-top: 51px; }
/*.section.section4 .lvcol .content-wrap::after { content: ""; height: 100%; width: 50px; background: white; position: absolute; left: 0; }*/
.section.section4 .vslide-inner .cs-signpost { position: relative; padding-top:26px; min-height: 297px; }

/*--  Sub Section 4  --*/

.section.section4 .vslide-bottom .vid-wrp { position:absolute; bottom:20px; width:90%; }
.section.section4 .vslide-bottom .section-image { min-height:522px; }
.section.section4 .vslide-bottom .key-data { width:100%; background-color:#fff; padding-top:171px; }
.section.section4 .vslide-bottom .rvcol .green-box-link { position:absolute; bottom:61px; left: 36.3%; }
/*.section.section4 .lvcol .cs-signpost::after { content: ""; position: absolute; left: -14px; height: 100%; width: 14px; background: white; bottom: 0; display:block; }*/

/*---   Section 5   ---*/

.section.section5 .vslide-inner .section-image { min-height:100%; }
.section.section5 .vslide-inner .outer-rad-quote { position: absolute; bottom: 0; z-index: 0; background: #fff; width: 100%; margin: 0; padding:41px 20% 10px 15%; }
.section.section5 .vslide-inner p.rad-quote { font-size: 3.15rem; }
.section.section5 .vslide-inner .vid-wrp { margin: 0 15px 0 2px; position:absolute; bottom:20px; }
.section.section5 .left-col .sec-content { padding-top: 51px; }

/*--  Sub Section 5  --*/

.section.section5 .vslide-bottom .cs-signpost { padding-bottom: 70px; }
.section.section5 .vslide-bottom .section-image { min-height:437px; }
.section.section5 .vslide-bottom .key-data { background-color:#fff; padding:110px 0 0; }
#contentwrapper .section.section5 .vslide-bottom .key-data table { width: 70%; margin: 0 auto; float: none; }
#contentwrapper .section.section5 .vslide-bottom .key-data table td { padding: 0 8%; }
#contentwrapper .section.section5 .vslide-bottom .key-data table td:first-child { padding-left:0; }
#contentwrapper .section.section5 .vslide-bottom .key-data table td:last-child { padding-right:0; }
.section.section5 .vslide-bottom .green-box-link { padding:53px 0 12%; background-color:#fff; }
.section.section5 .lvcol .content-wrap::after { content: ""; height: 100%; width: 50px; background: white; position: absolute; left: 0; }

/*------------       PARALLAX       ------------*/

.section, .static { width:100%; background-color:#fff; }
#slidesContainer { overflow:hidden; width:100%; background-color:#fff; left:auto !important; }
.section.slide { position:relative; }
.section.static { position:relative; transition:none; }

.vslide > div { height:100%; }
.vslide > div.left-col { float:left; }
.vslide > div.right-col { float:left; }

div#contentwrapper.parallax-container{min-height:500px;}
.slide-it .slick-track { width: 100% !important; }

/*--  Our story non parallax  --*/

.non-parallax .vslide-inner, .non-parallax .section.static, .non-parallax .section.slide, .non-parallax .sec-bott-cntnt { position:relative; }
.non-parallax #slidesContainer, .non-parallax .section.slide { height:auto !important; }
.non-parallax .our-story-landing .section1 .vslide-inner .section-image { min-height:825px; }
.non-parallax .vslide-bottom { clear:both; }
.non-parallax .section.section1 .left-col .sec-content { padding-top:0; padding-bottom:0; }
.non-parallax .next-parlx { display:none; }
.non-parallax .section .lvcol h2, .non-parallax .section .lvcol h3 { visibility: visible; }


/*----  Media gallery  ----*/
/*


.media-gallery .photo-inner a{ }
.media-section .photo-inner a{position: absolute !important;  width: 100%; height: 100%; top: 0; left: 0; z-index:99}

.media-gallery .photos-wrapper .photo-inner .photo-inner-cntnt a:after{display:none;}
.media-section .mediaGalleryWrap  .photo-inner .photo-inner-cntnt a:after{display:none;}
.media-gallery .photos-wrapper .vid-wrp .photo-inner a::after{display:block;}*/
.lookbook::after { display: none;}
.lookbook{position: absolute !important;  width: 100%; height: 100%; top: 0; left: 0; z-index:99;}
.photo-inner .lookbook-link , .photo-inner:hover .lookbook-link { position: absolute; right: -100%;  left: -100%;  bottom: ; top: 15px;}




.media-gallery.main-content .intro-text p { font-size:2.0rem; }
#contentwrapper.media-gallery .photos-wrapper { min-height: 100px; position: relative; padding-bottom: 140px; }
.photos-wrapper { overflow-y:hidden; }
.photo-item { opacity: 0; position:absolute; padding-bottom:35px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -khtml-opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0;}
.photo-item.vs { visibility: visible; }
.photo-inner { cursor:pointer; float:left; position:relative; overflow:hidden; }
.photo-item:nth-child(1){padding-top:100px;}
.photo-item:nth-child(odd) { text-align:right; }
.photo-item:nth-child(odd) img { display:inline; }

.media-gallery .photo-item:nth-child(odd) img { width:100%; }

.photo-item:nth-child(odd) .photo-inner { display:inline; float:right; }
.photo-item .photo-inner-cntnt { bottom: 0; display: block; height: 0; position: absolute; text-align: center; transition: all 0.5s ease-out 0s; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; width: 100%; }
.photo-inner:hover .photo-inner-cntnt {
    height: 100%;
}
.photo-inner:hover .black-spacer {    visibility: visible;opacity:1;}
.black-spacer { background:rgba(0,0,0,0.5); position:absolute; height:100%; width:100%; opacity:0;     visibility: hidden; top:0; left:0; transition: all 0.5s ease-out 0s; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; }
.photo-inner-cntnt p.photo-sbttl { padding:0; margin:0; }
.photo-inner-cntnt .cntnt-inn { top:26%; position:relative; }
.photo-inner-cntnt .cntnt-inn p.photo-ttl { text-transform:uppercase; font-size:1.6rem; margin:0; padding:0 0 8px; }
.photo-inner-cntnt .cntnt-inn p.photo-sbttl { font-size:1.2rem; display:inline-block; border-top:1px solid #fff; padding-top: 10px; }
.vid-wrp { position: relative; }
.media-landing .rightbox .vid-wrp {float: left;}
.mediaGallery-item1 .vid-wrp{/*display: inline-block;*/ display:block; float:left; width:100%; }
/*.internetexplorer11 .media-landing .mediaGallery-item1 .vid-wrp {display: block;}*/


.video-container { overflow-y:hidden; width:100%; position:fixed; max-width:1600px; height:100%; z-index:999; background:#fff; top:-2000%; opacity:1 !important; }
/*body.ie9 .video-container { overflow-y:auto !important; }*/


.vid-outer { max-width: 1600px; margin: 0 auto; width: 100%; }
.photo-item:nth-child(odd) .vid-wrp { float: right; }
.media-gallery .photo-item .vid-wrp { float: left; }
.vid-close { position: absolute; z-index: 9999; right: 0; top: 0; cursor: pointer; font-size: 2.5rem; padding:8px;background: rgba(255,255,255, 0.7);border-radius: 0 0 0 10%; }
.media-gallery .top-right { padding-top: 11px; }
.media-gallery .intro-text { display:none; }
.media-gallery .intro-text.current { display:block; }

.vid-inr, .trust-video-container { transform: translateY(-50%); top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); position:relative; /*display:table-cell; vertical-align:middle; position:relative;*/ }

.vid-inr.inv_FullScreen.inv_FullScreenZIndex { transform: translateY(0%); top: 0%; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); -ms-transform: translateY(0%); -o-transform: translateY(0%); }
.story-section.section .photo-inner a { display:block; }
/*.story-section.section4 .photo-inner a { float:left; }*/
.vid-wrp .photo-inner { overflow:visible; float:none; }
.media-gallery .vid-wrp .photo-inner { display:inline-block; }
.photo-inner .icon-movie-ico::before { display:none; }
.photo-inner a { transition: all 0.7s ease 0s; -moz-transition: all 0.7s ease 0s; -webkit-transition: all 0.7s ease 0s; -o-transition: all 0.7s ease 0s; -ms-transition: all 0.7s ease 0s; display:block; position:relative;border: none; }
.photo-inner a::after, .photo-inner a.rad-video::after { padding: 14px; bottom: -15px;
left: -17px; position: absolute; background: #fff; border-radius: 50%; content: "\e906"; font-family: 'icomoon' !important; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; font-size: 4.6rem; }
.media-gallery .photo-inner a::after, .media-gallery .photo-inner a.rad-video::after{ left:-20px; bottom:-48px; }
.vid-img-wrp { overflow: hidden; }

.photo-inner img { cursor:pointer; -o-transition: -o-transform 1s ease; -webkit-transition: -webkit-transform 1s ease; -moz-transition: -moz-transform 1s ease; -ms-transition: -ms-transform 1s ease; transition: transform 1s ease;transform: translate3d(0,0,0);}

.media-landing .mediaGallery-item  .photo-inner img{
width: 100%;
position: absolute;
left: -100%;
right: -100%;
bottom: -100%;
top: -100%;
margin: auto;
}


.media-landing .mediaGallery-item .photo-inner {
    cursor: pointer;
    float: left;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
    min-height: 200px;
    max-height: 400px;
}

.photo-inner:hover img, .media-landing .section2 .photo-inner:hover img { transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); }
#contentwrapper ul.media-cat { padding-bottom:10px; float:left; padding-left:0; }
#contentwrapper ul.media-types { clear:left; padding:0; margin:0; }

.nojs .media-gallery .intro-text:first-child { display:block; }
.nojs .photo-item { opacity:1; }
.nojs .pagination-loadmore { display:block; }

/*---   Filter tabs   ---*/

.filter-tab ul li {    vertical-align: middle; text-transform: uppercase; border-right: 1px solid #000; padding: 0; font-size: 2.3rem; list-style-type: none; position: relative; float: left; }
/*.filter-tab ul li.current { border-right: 1px solid #36acdc; }*/
.filter-tab ul li.current a { cursor: default; background: #36acdc; color: #fff; }
.filter-tab ul li a { color: #000; display: block; padding: 7px 15px 8px;border-bottom:0 none; }
.filter-tab ul { list-style: none; padding: 0; margin: 0; }

.filter-tab ul li:hover { background: #000; color: #fff; cursor:pointer; }
.filter-tab ul li:hover a {color: #fff; }
.filter-tab ul li a:hover { background: #000; color: #fff; }
.filter-tab ul li.current{ background: #36acdc; }
.filter-tab ul li.current a:hover { background: #36acdc; }
.filter-tab ul li.current::after { content: ''; border: 10px solid transparent; display: block; width: 8px; height: 8px; margin: auto; position: absolute; left: 0; bottom: -4px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(45deg); border-color: #36acdc; border-top: none; border-left: none; right: 0; }
.filter-tab ul li:last-child { border: none; }

/*.media-news .filter-tab ul li:nth-child(2){display:none !important;}*/
/*- Non JS -*/

.nojs .photo-item { position: relative; margin: 0 !important; top: auto !important; left: auto !important; }
.nojs .pagination { float:left; width:100%; }
.nojs .pagination ul li { display:inline-block; }
.nojs .media-gallery .top-right { display:none; }

/* Result Centre Landing Start */

.results-centre-landing .key-data{margin-bottom:30px}
.results-centre-landing .results-archive {margin-bottom: 70px;}
.results-centre-landing .intro-text p{font-size: 2.9rem;}
.results-centre-landing .snapWrapper{ margin-top:10px;}

.results-centre-landing .rc-box-images {margin-bottom:70px; clear:both;}
.results-centre-landing .rc-box-images .box-wrapper .img-zoom{ width:100%;float:left;}
.results-centre-landing .rc-box-images .box-wrapper { margin:0; padding:0; position:relative; }
.results-centre-landing .rc-box-images .box-wrapper img { position:relative; }
#contentwrapper.results-centre-landing .rc-box-images .box-wrapper span.rad-highlight{margin:0;}
#contentwrapper.results-centre-landing .rc-box-images .box-wrapper span.rad-highlight strong{ top:32px;bottom: auto;}
#contentwrapper.results-centre-landing .rc-box-images .box-wrapper span.rad-highlight span.rad-big { position:relative; z-index:9; line-height:1.48em; font-family:"Futura LT W01 Medium Condensed", Arial, Helvetica; padding:0 10px; font-size:3.0rem; text-transform: uppercase; color: #000; background-color: #fff; display: inline;text-align:left; }
.results-centre-landing .rc-box-images .box-wrapper.rc-img-box1{height:100%}
.results-centre-landing .rc-box-images .box-wrapper.rc-img-box2{position: absolute;bottom: 0;}
.results-centre-landing .rc-box-images .rc-img-box .rc-img-box2-wrapper{position: relative;}

/*--  Result Centre Landing Ends  --*/

/*----  Leadership Landing  ----*/

.bod-item .name { font-size: 1.3em; }
.bodImage img { display: block; max-width: 100%; height: auto; }
.bodContent { padding: 10px 0px; }
.leadership-landing .intro-text p { font-size:1.8rem; line-height: 1.667em; }
.leadership-wrapper { margin-top:9px;/* min-height: 500px; */position: relative; padding-bottom: 100px; }
.bod-item { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; -khtml-opacity: 0; filter: alpha(opacity=0); -moz-opacity: 0; position:absolute; padding-bottom:35px; }
.bod-inner { overflow:hidden; cursor:pointer; position:relative; /*float:left;*/ }
.bod-item:nth-child(1){padding-top:40px;}
.bod-item:nth-child(odd) { text-align:right; }
.bod-item:nth-child(odd) img { display:inline; }
/*.bod-item:nth-child(odd) .bod-inner { display:inline; float:right; }*/
.bod-item .bod-inner-cntnt { padding: 9px 0 14px; position:absolute; bottom:0; width:100%; text-align:center; color:#000; background:rgba(255,255,255,0.7); transition: all 0.7s ease 0s; -moz-transition: all 0.7s ease 0s; -webkit-transition: all 0.7s ease 0s; -o-transition: all 0.7s ease 0s; -ms-transition: all 0.7s ease 0s; }

.bod-inner:hover .black-spacer {    visibility: visible;opacity:1;}
.bod-inner-cntnt p.photo-sbttl { padding:0; margin:0; }
.bod-inner-cntnt .cntnt-inn p.bod-ttl { display:inline-block; text-transform:uppercase; font-size:1.6rem; margin:0; padding:0; }
.bod-inner-cntnt .cntnt-inn p.bod-sbttl { font-size:1.6rem; padding: 0; }
.leadership-container .bod-overlay { width:100%; position: fixed; max-width: 1600px; height:100%; z-index:9999; background:#fff; top:-2000%; overflow:hidden; }
.leadership-outer { max-width: 1600px; margin: 0 auto; width: 100%;/*position:absolute;top:-100%; height:100%; */}
.bod-item:nth-child(odd) .bod-item { float: right; }
.leadership-landing .top-right { padding-top: 11px; }
.leadership-landing .intro-text { display:none; }
.leadership-landing .intro-text.current { display:block; }
.leadership-inr { height:100%; overflow: hidden; }
.leadership-inr lcol img { width:100%; }


.bod-inner .icon-movie-ico::before { display:none; }
.bod-inner a { transition: all 0.7s ease 0s; -moz-transition: all 0.7s ease 0s; -webkit-transition: all 0.7s ease 0s; -o-transition: all 0.7s ease 0s; -ms-transition: all 0.7s ease 0s; display:block; position:relative; }
.bod-img-wrp { overflow: hidden; }

.bod-inner img { cursor:pointer; -o-transition: -o-transform 1s ease; -webkit-transition: -webkit-transform 1s ease; -moz-transition: -moz-transform 1s ease; -ms-transition: -ms-transform 1s ease; transition: transform 1s ease; }
.bod-inner:hover img { transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); }
#contentwrapper ul.leadership-cat { padding-bottom:10px; float:left; padding-left:0; }
.arw-btm { font-size: 3.0rem; clear: both; padding-bottom: 26%; padding-top: 35px; display:none; text-align:center; }
.bod-item .bod-inner:hover .bod-inner-cntnt { background:none; color:#fff; height: 75% !important; }
.bod-inner:hover .cntnt-inn .arw-btm { display: block;}
.bod-item .bod-inner:hover .bod-inner-cntnt .cntnt-inn p.bod-ttl { padding-bottom:12px; border-bottom:1px solid #fff; margin-bottom:14px;/* transition: all 0.7s ease 0s; -moz-transition: all 0.7s ease 0s; -webkit-transition: all 0.7s ease 0s; -o-transition: all 0.7s ease 0s; -ms-transition: all 0.7s ease 0s;*/ }

.leadership-container .lcol img { width:100%; }

.leadership-container .overlay-controls { position: absolute; z-index: 9999; display: none; /*height: 100%;*/text-align: left;width:41px;}
.leadership-container .overlay-controls.mobi { display:none; }
.leadership-container .icon-cross { font-size: 2.5rem; position: fixed; /*top: 14px;*/ right: auto; cursor: pointer;padding:8px;background: rgba(255,255,255, 0.7);border-radius: 0 0 0 10%; }

body.internetexplorer11 .leadership-container .icon-cross,
body.ie10 .leadership-container .icon-cross
{ position:absolute; }

.leadership-container .mob-vid-close { display:none; z-index: 9999; position: fixed; top: -35px; right: 0; padding: 10px; }
.leadership-container .lcol { height:100%; }
.leadership-container .rcol { padding-top: 6%; padding-bottom: 20px; height:100%; overflow-y: auto; }
.leadership-container .rcol .rcol-inn { overflow:hidden; float: none; margin-left: 6.5%; width:auto; }
.leadership-container .rcol h2 { padding-bottom: 3px; font-size: 4.0rem; line-height: 1.182em; margin-bottom:0; }
.leadership-container .rcol h2:after { border-bottom: none; }

.leadership-container .rcol h2.bottom-line {font-size: 4.0rem; line-height: 1.182em;margin-bottom: 10px;padding-bottom: 22px;position: relative; }
.leadership-container .rcol h2.bottom-line:after { position: absolute;bottom: 0;left: 0;content: "";border-bottom: 1px solid #000;width: 330px; }

.leadership-container .lcol h2.mobi-bod-ttl { display:none; font-size:2.2rem; padding:8px 10px 4px 14px; }
.leadership-container .rcol h3 { font-size: 2.6rem; position: relative; margin-bottom: 10px; padding-bottom: 22px; }
.leadership-container .bod-overlay .rcol p.rad-quote { width:99%; }
.leadership-container .rcol h3::after { position: absolute; bottom: 0; left: 0; content: ""; border-bottom: 1px solid #000; width: 330px; }
.leadership-container .rcol p { font-size:1.4rem; line-height:1.563em; padding-bottom: 8px; }
.leadership-container .rcol p.rad-quote { padding-top: 18px; font-size: 2.3rem; line-height: 1.435em; }



.inner-bod-tabs { position:fixed; right: auto; margin-top: 0; top: 205px;padding:8px 3px;background: rgba(255,255,255, 0.7);border-radius: 10% 0 0 10%; }
.inner-bod-tabs span { text-align: center; display: block; clear: left; cursor: pointer; margin-bottom: 11px; }
.inner-bod-tabs span.active, .inner-bod-tabs span:hover { color:#736c6c;  }
.inner-bod-tabs span.active{cursor:default;}
.inner-bod-tabs span.icon-cs-page-ico { font-size: 3.5rem; }
.inner-bod-tabs span.icon-movie-ico { font-size: 2.3rem; }
.inner-bod-tabs span:last-child { margin-bottom:0; }
.img-zoom > a,.reports-table a,.outlookLink { border-bottom: 0 none;}
.ui-menu .ui-menu-item a{font-size:1.4rem;}
.reports-table a, table.inv-responsive-table td a { display:inline-block;}
.nojs .leadership-landing .intro-text:first-child { display:block; }
.nojs .bod-item { opacity:1; position: relative; margin: 0 !important; top: auto !important; left: auto !important; }

/*--  Contact form start --*/

.field-container {margin-bottom: 30px;   float: left;    width: 50%;}
.field-container input, .field-container textarea{ border: 1px solid #DBDDCF;color: #000000;    /* display: block; */    margin-bottom: 5px;padding: 5px 3px;width: 332px;margin-right: 0;}
.field-container select{color: #000000;/* display: block; */margin-bottom: 5px;padding: 5px 3px;width: 332px;    margin-right:0;}
.marginBot{margin-bottom: 45px;}
.field-header {padding-bottom: 5px;}
.field-container.last{clear:both;margin-top: 15px; width:100%;}
.field-container input[type="checkbox"]{width:auto;margin-right: 5px;}
.field-container input[type="submit"] {width: 90px;float: left; margin-top:10px;}
.field {position: relative;}
.field>span{position: absolute;bottom: -20px;left: 0px;}
.conaddress{margin-bottom:0;}
.field-container .ConfirmVisiblity { visibility:hidden; color:#ff0000;}

/*--  Contact form end --*/

/*--  Page specific ss  --*/

body#ip3-error-page .main-content h2 { display:none; }
body#ip3-error-page #contentwrapper { min-height:0; }

.menu.fixing { background: rgba(0, 0, 0, 0.4); border-radius: 10px 0 0 10px; padding: 20px 0 !important; width: auto; }
.para-pager .menu p { line-height: 0; padding: 0 19px; }
.para-pager .menu a.active {  background-color: #43a8d2; border: 2px solid #fff; }
.para-pager .menu a { background-color: #fff; border: 2px solid #68ada0; border-radius: 50%; display: inline-block; font-size: 0; height: 18px; margin: 8px 0; overflow: hidden; text-indent: -999px; width: 18px; }
.para-pager .menu p span { background: #000; color: #fff; display: block; font-size: 1.6rem; height: auto !important; line-height: 1em; margin-right: 10px; padding: 12px 17px !important; position: absolute; right: 55px !important; text-align: center; top: 0 !important; white-space: nowrap; width: auto !important; z-index: 60; }
.para-pager .menu p:hover a { background-color: #000; }
.para-pager .menu p:last-child a { margin-bottom: 8px; }


.content-below-snapdown { float: left; overflow: hidden; width: 100%;}
.bottom-signpost-wrapper .bottom-signpost-item-wrapper a span.rad-big:empty,.bottom-signpost-wrapper .bottom-signpost-item-wrapper a span.rad-small:empty {display: none;}
#contentwrapper .rad-quote ~ p .rad-right { display: block; text-align: right;}
#contentwrapper h2,#contentwrapper h3,#contentwrapper h4,#contentwrapper h5{clear:both;}

.sec6-box-inr img { width:100%; cursor:pointer; -o-transition: -o-transform 1s ease; -webkit-transition: -webkit-transform 1s ease; -moz-transition: -moz-transform 1s ease; -ms-transition: -ms-transform 1s ease; transition: transform 1s ease;transform: translate3d(0,0,0); }
.sec6-box-inr:hover img { transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); }
.results-centre-landing .snapWrapper{margin-bottom:50px;}
.cr-timeline-landing #slidesContainer .section:last-child .next-parlx {display: none;}


body.ie9 .our-story-landing .section.section5 .vslide-inner .section-image{margin-right:1px;margin-left:1px}
body.ie9 .vid-outer .video-container{overflow-y: hidden;}

/*body.ip3-edit .landing-banner img{position:relative;right:0;left:0;width: 100%;height: auto;}*/
body.ip3-edit .landing-bnr-subtxt p span.scWebEditInput {display:inline !important}
body.ip3-edit .landing-bnr-txt span.scWebEditInput {display:inline !important}
body.ip3-edit .para-pager {display: none !important;}

body.ip3-edit .section0.video-banner{height: 100vh !important}

body.ip3-edit .home-landing .rightbox-inner{position:relative;}

body.ip3-edit .home-landing .section .rightbox .section-image{height: 100vh !important}
body.ip3-edit .home-landing .section6 {padding-bottom:50px;}

body.ip3-edit.parallax-ennabled{overflow:auto!important;}
body.ip3-edit .vid-wrp{position:relative !important;}
body.ip3-edit .our-story-landing .section3 .vslide-inner .section-image { height: 100vh !important;}
body.ip3-edit .our-story-landing .section5 .vslide-inner .section-image { height: 100vh !important;}

body.ip3-edit .tab-content .section-image{height:70vh; position: relative;}
body.ip3-edit .ir-landing .section2.section .bottom-section .section-image{position:relative;}
body.ip3-edit .media-landing .rightbox .section-image{height:100vh;}

body.ip3-edit .careers-landing .section1 .rightbox .section-image{height:100vh;}
body.ip3-edit .careers-landing .static.section0.landing-banner.section {padding-top:96px !important; }

body.ip3-edit .cr-timeline-landing .section .rightbox .section-image {height: 80vh !important;}



.pageTitle > sub {bottom: 0;margin: 0;padding: 0;}


/*--  nojs css start --*/
.nojs #MainWrapper.has-parallax{visibility: visible;}
.nojs #MainWrapper .homecontentwrapper .section.slide{position: relative;}
.nojs #MainWrapper .para-pager .menu{display:none}
.nojs #MainWrapper{background-color: #ffffff;}
.nojs #MainWrapper #subNav{margin-top:0px!important;-webkit-box-shadow: none;}
.nojs #MainWrapper .banner-row{padding-top:5px}
.nojs #MainWrapper .ss-page.cs-study p.ss-note{display:none;}
/*.nojs #MainWrapper td{display: inline-block}*/
.nojs #MainWrapper .bod-inner{cursor: unset;}
.nojs #MainWrapper .rightbox-inner {position: relative;}
.nojs .next-parlx { display:none; }

.nojs .landing-banner-text-wrapper{position: relative;}
.nojs .section.static{position: relative;}
.nojs .video-banner .landing-banner-text-wrapper .landing-bnr-subtxt p{color:#000}
.nojs .home-section .section-image{height:800px !important;}
.nojs .home-section.section6 {padding-bottom:60px;}
.nojs .section.slide{position:relative;}
.nojs .landing-banner{height: 100vh !important;}
.nojs .section.section2 .lvcol .vid-wrp{position: relative;}
.nojs .section .left-col{padding-top:0}
.nojs .vslide-inner{position: relative;float: left;}
.nojs .our-story-landing .section1 .section-image{min-height: 100vh;}
.nojs .our-story-landing .section3 .section-image{min-height: 100vh;}
.nojs .our-story-landing .section.section5 .section-image{min-height: 100vh;}

.nojs .sec-bott-cntnt {position: relative;}
.nojs .vslide-bottom .left-col .sec-content{display:none;}
.nojs .section.section1 .vslide-bottom .left-col{padding-bottom:0}
.nojs .section.section1 .vslide-bottom .lvcol .cs-signpost {padding-bottom:0;}
.nojs .section.section3 .rvcol .vid-wrp {padding-top: 25px;}
.nojs .section.section4 .vslide-bottom .vid-wrp {position: relative;}
.nojs .section .key-data {float: none;}
.nojs .section.section4 .vslide-bottom .key-data{padding-top:25px;}
.nojs .section.section5 .vslide-inner .vid-wrp{position:relative;}
.nojs .story-section.section5{padding-top:70px !important;}
.nojs .landing-banner-text-wrapper{top: 10%;}
.nojs .static.section0.landing-banner.section{padding-top: 0 !important;}
.nojs .careers-landing .section1 .rightbox .section-image{height:100vh;}


.nojs .delivering-value-box .tab-content .section-image {position:relative;height: 70vh;}

.nojs .tab-content, .nojs .nojs-tab-title.hide {display: block !important;margin-top: 30px;}
.nojs .drop-down{display:none;}

.nojs .ir-landing .section2.section .bottom-section .section-image{position:relative;}

.nojs .media-landing .section1 .rightbox .section-image{height: 70vh;}

.nojs .media-landing .section4 .rightbox{height: 100vh;}
.nojs .case-study-item{opacity:1;}
.nojs .results-centre-landing .rc-box-images .box-wrapper.rc-img-box2{position:relative;margin-top:14px;}
.nojs #contentwrapper.results-centre-landing .rc-box-images .box-wrapper span.rad-highlight{margin-top: 18px;}

.nojs .cr-timeline-landing .section .rightbox .section-image{height: 100vh !important;}
.nojs .bottom-signpost-item-wrapper {padding-bottom: 28px;}
/*--  nojs css end --*/


/*----Media Landing CSS Start-----*/
.footer-logo{ display:none; }
.media-landing .home-section.section4.section {margin-top: 51px;}
.media-landing .news-panel .box-link p a, .scrollToNext strong span{ font-family:"Futura LT W01 X Bold Condensed" , Arial, Helvetica; }
.followerfigure, .followerText{ font-family:'Futura LT W01 Medium', Arial, Helvetica; }
.landing-banner-text-wrapper .landing-bnr-txt{ padding-top:85px; padding-bottom:41px; }
.jta-loading  img { margin: 20px auto; }
/* HP: 15-01-2017 */
/*.media-landing .leftbox-news h3, .cr-section .case-studies1 h3, .media-landing .case-studies-box h3, .media-landing .leftbox-inner>h3 { color: #000; padding-bottom: 22px; font-size: 3.5rem; }
.media-landing .leftbox-inner>h3 { padding-bottom:17px; margin-bottom:10px; }*/

.media-landing .leftbox-news h3, .cr-section .case-studies1 h3, .media-landing .case-studies-box h3, .media-landing .leftbox-inner>h3 { color: #000;  font-size: 3.5rem; }
.media-landing .leftbox-inner>h3 { }
/* HP: 15-01-2017 */
.media-landing h3::after { width:30%; position: absolute; bottom: 0; left: 0; content: ""; border-bottom: 1px solid #000; }
.media-landing .news-panel h3::after { width:111px; }
.media-landing .leftbox-inner>h3:after { width:180px; }
.media-landing .case-studies-box h3::after { width:178px; }
.media-landing .section1 .leftbox-inner{ padding-top:105px; }
.media-landing .section1 .leftbox-inner-cntnt{ padding-bottom:27px; }
.media-landing .section1 .green-box-link{ text-align:left; }
.media-landing .section1 .leftbox-inner-cntnt p { font-size: 1.8rem; line-height: 1.722em; }
.media-landing .section1 .rightbox .section-image, .media-landing .section1 .rightbox, .media-landing .section4 .rightbox .section-image, .media-landing .section4 .rightbox { height: 100%; }
.media-landing .section1 .rightbox .section-image { min-height: 389px; border-top:1px solid #fff; }
.media-landing .section1 {padding-top: 0px;}
.careers-landing .section1{padding-top: 1px;}
.media-landing .section2 {padding-top: 58px;}
.media-landing .section3 {padding-top: 26px;}
.media-landing .section4 { padding-top:52px; padding-bottom: 59px; }
.media-landing .section4 .rightbox .section-image {min-height: 640px;}
.media-landing .mediaGallery-item{text-align: left;}
.media-landing .section4 .leftbox-inner-cntnt{padding-bottom:0px;}
.media-landing .media-section .rightbox{z-index:1;}
/* HP: 15-01-2017 */
/*.media-landing .section2 h3{ padding-top:44px; padding-bottom:15px; margin-bottom:11px; }*/
.media-landing .section2 h3{ padding-top:44px; }
/* HP: 15-01-2017 */
.media-landing .section2 .leftbox-inner-cntnt{ padding-right:100px; padding-bottom:28px; }
.media-landing .section2 .mediaGalleryWrap.rightbox .mediaGallery-item1{ display:none; }
.media-landing .section2 .mediaGallery-item .photo-inner-cntnt {position: absolute; bottom: 0; width: 100%; text-align: center; height:0;transition: all 0.5s ease-out 0s;-webkit-transition: all 0.5s ease-out 0s;-moz-transition: all 0.5s ease-out 0s;-ms-transition: all 0.5s ease-out 0s;-o-transition: all 0.5s ease-out 0s; }
.media-landing .media-section.section2 .mediaGallery-item .photo-inner:hover .photo-inner-cntnt {height: 100%; }
.media-landing .mediaGallery-item { text-align:right; float:left; width:100%; }
.media-landing .mediaGallery-item.mediaGallery-item1{ padding-left:22px; }
.media-landing .vid-img-wrp { overflow:hidden; }
/*.media-landing .section2 .photo-inner img { width:100%; }*/




.media-landing .mediaGallery-item.mediaGallery-item2{ padding-bottom: 60px; padding-left: 35px; }
.media-landing .mediaGallery-item.mediaGallery-item3 { padding-bottom:0; padding-left: 35px;  }
.media-landing .section2 .leftbox-inner-cntnt p { padding-bottom: 8px; font-size:2.0rem; line-height:1.5em }
.media-landing .section2 .green-box-link-wrap { margin-top: 32px; }
.media-landing .section3 .news-panel .leftbox-news h3{ white-space:nowrap; }
.media-landing .section3 .news-panel{ padding-top: 25px; }
.media-landing .section3 .home-news-landing .box-link{ padding-top:82px; }
.media-landing .news-item-inner, .home-section .news-item-inner{ width:100%; height:198px; }
.media-section .news-item-inner img, .home-section .news-item-inner img { height:auto; max-width: none; width: 100%; }
.media-section .news-item-inner p.title, .home-section .news-item-inner p.title{ padding-bottom:0; }
.media-landing .news-item-inner .news-inner-cntnt .cntnt-inn p, .home-section .news-item-inner .news-inner-cntnt .cntnt-inn p{ display:none !important; }
.media-landing .section4 .leftbox-inner h3 span.subText { display: block; color: #666; font-size: 0.743em; padding-top:4px; line-height: 1.538em; }
/* HP: 15-01-2017 */
/*.media-landing .section4 .leftbox-inner h3{ padding-bottom:15px; margin-bottom:15px; }*/
.media-landing .section4 .leftbox-inner h3{ padding-bottom:17px; margin-bottom:15px; }
/* HP: 15-01-2017 */
.media-landing .section4 .leftbox-inner { padding-top: 56px; }
.media-landing .section4 .jta-tweet-text a, .media-landing .section4 .jta-tweet-timestamp a{ border:0 none;  }


/* -------- Twitter slider starts ----------- */
.media-landing .section4 .jta-tweet-text { display: block; padding:0 0 10px; color: #666666; font-size: 1.222em; width: 100%; }
.media-landing .section4 .jta-tweet-attributes .jta-tweet-timestamp a{ font-size: 1.222em; }
.media-landing .section4 .jta-tweet-attributes .jta-tweet-twitter-bird, .media-landing .section4  .jta-tweet-attributes .jta-tweet-inreplyto, .media-landing .section4 .jta-tweet-retweeter{ display:none; }
.jta-tweet-timestamp { display: block; padding-top: 3px; }
.jta-tweet-link{ display:inline-block; padding-top:4px; clear:both; }
.media-landing .twitter-item { height:250px !important; padding-right: 60px; }
.twitterTweetsWrapper{ position:relative; }
.arrangeVertically .slick-slide{ float:none; }
.arrangeVertically .slick-arrow{ left:auto; right:0; background-color:#fff; width:51px; height:51px; }
.arrangeVertically .slick-prev { top:0; transform: rotate(90deg); -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); }
.arrangeVertically .slick-next { top:auto; bottom:0 transform: rotate(90deg); -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg);}
.arrangeVertically .verticalLine{ position:absolute; top:0; right:22px; width:2px; height:100%; background-color:#c5c5c5;  }
body.chrome .arrangeVertically .verticalLine{ right:21px; }

/* ---------- specific css for media page starts ---------- */
.media-landing .arrangeVertically .verticalLine{ top:10px; right:37px; height:110px; }
body.chrome .media-landing .arrangeVertically .verticalLine{ right:36px; }
.media-landing .arrangeVertically .slick-next { top:105px; bottom:auto; }
.media-landing .arrangeVertically .slick-arrow{ right:15px; }
/* ---------- specific css for media page ends---------- */

/* -------- Twitter slider ends ----------- */

/* ---------- Social media follower's starts -------- */
.followerWrap { /*padding-top: 38px;*/ padding-top:0; }
.socialIcon { padding-bottom:0; min-height:48px; }
.followerItem { float: left; width: 50%; text-align: center; padding-bottom:10px; }
.socialIcon img { display: inline; }
.main-content .section p.followerfigure { font-size: 2.941em; line-height: normal; color: #68ada0; padding-bottom: 0; }
.main-content .section p.followerText { font-size: 1.069em; line-height: 1.260em; }
/* ---------- Social media follower's ends ---------- */

/* ------------ scroll to next link starts --------------- */
.scrollToNext { display:block; background: #FFF; border: 2px solid #6aac9f; padding: 12px 15px 12px 15px; text-transform:uppercase; margin:0; cursor:pointer; font-size:1.6rem; position: absolute; bottom:47px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%);  }
body.chrome .scrollToNext{ border:3px solid #6aac9f; }
.scrollToNext:hover { background-color: #000; border: 2px solid #000; }
body.chrome .scrollToNext:hover{ border:3px solid #000; }

.scrollToNext:hover strong span { -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); transform: translateY(-100%);-ms-transform: translateY(-100%); -o-transform: translateY(-100%); }
.scrollToNext strong { overflow: hidden; font-weight: normal; float: left; }
.scrollToNext strong span { position: relative; display: inline-block; -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; transition: transform 0.3s; color: #000; }
.scrollToNext strong span::before { position: absolute; top: 100%;content: attr(data-hover); color: #fff;-webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
.scrollToNext span.icon-chevron-right{ position: absolute; top: 100%; left: 50%; display: block; height: 20px; width: 20px; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); }
.scrollToNext span.icon-chevron-right:before{ content: ''; display: block; position: absolute; top:-5px; left: 50%; border-top: 14px solid transparent; border-bottom: 14px solid transparent; border-left: 14px solid #6aac9f; transform: translateX(-50%) rotate(90deg); -webkit-transform: translateX(-50%) rotate(90deg); -moz-transform: translateX(-50%) rotate(90deg); -ms-transform: translateX(-50%) rotate(90deg); -o-transform: translateX(-50%) rotate(90deg); z-index: 0; }
.scrollToNext:hover span.icon-chevron-right:before{ border-left-color:#000; }
/* ------------ scroll to next link ends --------------- */

/*----Media Landing CSS End-----*/


/* ---------- CR Timeline Landing CSS Starts -------------- */
.tabs-wrapper { width: 100%; background-color: rgba(0,0,0,0.3); position: fixed; max-width:1600px; bottom:0; padding:33px 0 0; z-index:8; }

#contentwrapper.cr-timeline-landing .newstab ul{margin: 0 auto 25px;}
#contentwrapper.cr-timeline-landing .newstab ul li a, #contentwrapper.cr-timeline-landing .newstab ul li > span{color:#fff;}
#contentwrapper.cr-timeline-landing .newstab ul li{border-right: 1px solid rgba(255,255,255, 0.2);}

#contentwrapper .tabs-wrapper .newstab.snap-tab{ width:100%; text-align:center; padding-bottom:0; }
.tabs-wrapper .newstab>ul{ width:auto; display:inline-block; margin:0; }
.tabs-wrapper .newstab ul li{ border-color:#7e7a7e; }
.tabs-wrapper .newstab ul li.current{ border-color:transparent; }
.tabs-wrapper .newstab ul li a{ padding:4px 33px 9px 34px; }
.tabs-wrapper .newstab ul li.current span{ display: block; padding: 4px 33px 9px 34px; border-bottom: 0 none; color:#fff; }


.cr-timeline-landing .section{ padding-top:112px; }
.cr-timeline-landing .section:not(.section0) h2{ padding-top:103px; }
.cr-timeline-landing .section:not(.section0) h3::after{ display:none; }
.cr-timeline-landing .section:not(.section0) h3{ padding-top:16px; padding-bottom:7px; }
.has-parallax .cr-timeline-landing .row.timeline-wrapper { margin-left: -14px; margin-right: -14px; }

.cr-timeline-landing .section .rightbox, .cr-timeline-section>div.row, .cr-timeline-landing .section1  .fullHeight { height:100%; }
.cr-timeline-landing .section .rightbox .section-image{ height:100% !important; min-height:0; margin-top:0; }

.cr-timeline-landing .timeline-wrapper div.col-md-2{ width:20%; }
.timelineItem{ overflow:hidden; position:relative; margin-bottom:20px; }
.timelineItem img { cursor: pointer;-o-transition: -o-transform 1s ease;-webkit-transition: -webkit-transform 1s ease;-moz-transition: -moz-transform 1s ease;-ms-transition: -ms-transform 1s ease;transition: transform 1s ease;width: 100%; }

.timelineItem .timeline-inner-cntnt .cntnt-inn { top: 60%; position: relative; }
.timelineItem .timeline-inner-cntnt .cntnt-inn p { width: 80%; text-align: center; margin: 0 auto; font-size: 1.6rem; }
.timelineItem:hover img { transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); }
.timelineItem:hover .black-spacer { visibility: visible; opacity: 1; }
.timelineItem:hover .timeline-inner-cntnt { height: 100%; }
.cr-timeline-cntn p{font-size:2.6rem;text-transform: uppercase;padding-top:16px;color:#666;}
/* ---------- CR Timeline Landing CSS Starts -------------- */


.rightbox .mediaGallery-item3 .photo-inner.video-item {margin-top: 0;}

/*#MainWrapper .landing-banner.video-banner .inv_videoMainContainer_inner,#MainWrapper .landing-banner.video-banner .inv_videoReady .inv_videoArea{ height:auto; }*/
/*.main-content ul li {list-style-type: disc !important;}*/
.main-content .filter-tab li {list-style-type: none !important;}

#slidesContainer .story-section.section h3 {padding-bottom: 20px;}
.story-section .vid-wrp .photo-inner,.story-section .vid-wrp{float:left;}
.section4.section.story-section {padding-bottom: 50px;}
.vid-signpost.col-sm-offset-2 { margin-left: 19%;}
/*.media-news .filter-tab ul li.mcat-corporate{display:none;}*/

.countCheck {
    display: none;
}


/*
.ie-edge-true .landing-bnr-subtxt.trans p { margin:0 -1px; }
.ie-edge-true .landing-bnr-subtxt.trans p{ padding:3px 2px 6px; }
*/


.ip3-edit #header.header-row { position: absolute; top: 0;}
.ip3-edit  #subNav.compact, .ip3-edit  #subNav {position: absolute;}


.video-container .vid-inr { height:100%; }
/*.video-container .vid-inr.active-new { opacity:1; }*/

.video-container .vid-inr .inv_playerContainer { opacity:0; transition:all 0.7s ease-out 0.7s; }
.video-container .vid-inr .inv_playerContainer.inv_playerReady.inv_videoReady { opacity:1; }


.rad-video1{
    position: relative;
    margin-bottom: 25px;
    border: none;
    display: inline-block;
}

body#ip3-sourcing-map .map-bottom-content.col-sm-offset-1 {margin-left: 14px;}

#auto-top-link {
    background: #FFF;
    border: 2px solid #6aac9f;
    bottom: 25px;
    color: #000;
    display: none;
    float: left;
    font-family: arial;
    font-size: 1em;

    padding: 6px 10px;
    position: fixed;
    right: 10px;
    text-decoration: none;overflow:visible !important;z-index:9999999;

}




#auto-top-link span {display: inline-block;}


.image-col {text-align: center;}
.image-col img {max-width: unset;;}

body#ip3-latest-results table.rad-highlight[id^="key-data"] td {padding: 0 0%;}

body#ip3-media .totalFollower.followerItem {width: 100%; padding-right: 15%; padding-left: 15%;}

body#ip3-risk .snapdown-content table ul li {margin-bottom: 0px;}

body#ip3-2018-year-in-review .tab-cntnt-container .tab5 .tab-image {display:none;}
body#ip3-2018-year-in-review .tab-cntnt-container .tab5 .tab-text {width:100%;}

#ip3-our-supply-chain .pad-none.map-bottom {padding-top: 0px;}
#ip3-investors ul.media-cat li#tab5 {display:none;}
