@media all and (max-height: 500px) {
  .vid-inr, .trust-video-container { top:0; transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); }
}

@media all and (min-width: 1441px) {
.sub-content-page .strapline-text{ max-width:520px; }
}

@media all and (min-height: 670px) and (min-width: 1400px) {
  .overlay-wrapper .image-gallery-overlay .img-gallery-wrap .slick-arrow { bottom:170px; }
}

@media all and (min-height: 750px) and (min-width: 1400px) {
  .overlay-wrapper .image-gallery-overlay .img-gallery-wrap .slick-arrow { bottom:130px; }
}

@media all and (max-width: 1600px) {.header-wrapper:after { left:0; }
}


.section.section2 .right-col { padding-top:80px; }
}

@media all and (min-height: 830px) {
  .section.section5 .vslide-bottom .cs-signpost { padding-bottom: 30px; }
  .section.section5 .lvcol .sec-sub-cntnt { padding-bottom:0; }
}

@media all and (min-width:992px) and (max-width: 1628px) {
  .tab-content .tab-image{padding-right: 0 !important;}
  .top-right .media-cat .slick-track, .top-right .leadership-cat .slick-track { width:100% !important; }
}

@media all and (min-width:992px) and (max-width: 1150px) {
.inv-branding{right:2%}
}

@media all and (max-width: 1024px) {
  .media-section .news-inner-cntnt-fix p.title, .home-section .news-inner-cntnt-fix p.title {top: 0px;font-size: 2.2rem;line-height: 1.5em;}
  .media-section .news-inner-cntnt-fix p.date, .home-section .news-inner-cntnt-fix p.date {font-size: 1.8rem;}

  #contentwrapper:not(.year-in-review-landing) .tab-text p { font-size:1.6rem; }
  #contentwrapper:not(.year-in-review-landing) .tab-text .rad-link:first-child { margin-top:0; }
  .has-parallax .cr-section.section3 .row .case-study-wrapper.row { margin-left:-14px; margin-right:-14px; }
  .case-study-item { padding-bottom:20px; }
  .section.cr-section.section3 .row .case-study-wrapper p { font-size:1.6rem; }
}

@media all and (max-width: 1628px) {

  #header::before, #header::after { top: 0; height: 100%; background-color: #000; display: block; left: -100%; width: 100%; content: ""; position: absolute; }
  #footer::before, #footer::after { top: 0; height: 100%; background-color: #000; display: block; left: -100%; width: 100%; content: ""; position: absolute; }
  #header::after, #footer::after { right:-100%; left:auto; }
  #bannerContainer { margin:0 -14px; }
  #bannerContainer img { width:100%; }
  #subNav { left:0; max-width: 1628px; }
  .main-content h1::before,.main-content .h1::before { width:149px; left:-149px; }
}

@media all and (min-width:992px) and (max-width:1230px) {

  .inv-responsive-table table { font-size:1.6rem; }
  /* .inv-responsive-table table .date { width:20%; } */
  .inv-responsive-table table .time { width:12%; }
  .inv-responsive-table table .outlook { text-align:center; width:21%; }
  .home-section.section5 .leftbox .green-box-link{ width:100%; }

}



@media all and (min-width:768px) and (max-width: 1096px) {
  .landing-banner-text-wrapper{top:15%;}
  .landing-banner-text-wrapper .landing-bnr-txt{width:70%;}
  #contentwrapper.year-in-review-landing .newstab ul li {font-size: 1.6rem;}
  #contentwrapper.year-in-review-landing .newstab ul li a, .year-in-review-landing .newstab ul li > span{ padding: 6px 18px 8px 18px; }

}

@media all and (max-width: 991px) {

  .our-story-landing .section5 {padding-bottom: 20px;}
  .section.story-section .photo-inner a:after{left:0}
  .home-section .rightbox{ min-height:0; }
  .home-section.section3 .leftbox-news h3{ white-space: nowrap; }
  .home-section.section .leftbox .green-box-link { /*margin-right: 0; width: 60%; margin-bottom: 10px;*/}
  .home-section.section5 .leftbox .green-box-link { /*margin-right:0;*/ }
  .filter-tab ul li { font-size:2.0rem; }
  .filter-tab ul li a { padding: 8px 4px; }
  .section.section4 .vslide-inner .img-zoom, .section.section5 .vslide-bottom .cs-signpost .img-zoom { width: 100%; padding-bottom: 10px; margin-right: 0; }
  .section.section4 .vslide-inner .key-data { padding-top:0; }
  .section.section1 .vslide-bottom .left-col .img-zoom img { width:90%; }
  .section.section2 .cs-signpost { padding-top:40px; }
  .section.section2 .vslide-bottom .lvcol .vid-wrp { width:98%; }
  .section.section4 .vslide-bottom .vid-wrp, .section.section5 .vslide-inner .vid-wrp { width:90%; }
  .home-section.section2 .leftbox .green-box-link{ padding-top:0; }
  .home-section .leftbox h3{ padding-right:0; }
  .home-section .leftbox .leftbox-inner{ padding-right:20px; }
  .sec6-box1{ margin-bottom:35px; }
  table#key-data-1.rad-highlight[id^="key-data"] td{ width:50%; float:none; display:inline-block; padding:0 15px 15px; min-height:110px; vertical-align: top; }
  /* HP:15-01-2017 */
  #contentwrapper table.rad-highlight[id^="key-data"]{margin-bottom:0;}
  #contentwrapper table.rad-highlight[id^="key-data"] td{ display: inline-block; margin:0 auto;
    float: none;
    min-height: auto;
    padding: 0 15px 25px;
    width: 49%;
    vertical-align: top;}
  #contentwrapper table.rad-highlight[id^="key-data"] td strong{padding-bottom:15px;}
  /* HP:15-01-2017 */
  table#key-data-1.rad-highlight[id^="key-data"] td.gg-g-2{ padding-bottom:0; }
#contentwrapper.our-story-landing .section1  .key-data table.rad-highlight[id^="key-data"] td { width:49%; }
table.rad-highlight[id^="key-data"] td strong { font-size:4.0rem; }
.bottom-signpost-wrapper { padding-top: 14px; }
table.rad-highlight[id^="key-data"] td { font-size: 1.6rem; }

}

@media all and (max-width: 992px) {
 .core-cntnt-page.main-content ul, .core-cntnt-page.main-content ol, .core-cntnt-page.main-content ul ol, .core-cntnt-page.main-content ul ul, .core-cntnt-page.main-content ol ol, .core-cntnt-page.main-content ol ul{font-size:1.4rem; line-height: 1.444em; }
  .tab-content .tab-image {padding-bottom: 20px !important;}
  #logo {padding-top: 18px;/*padding-left:26px;*/}
  /*#header-right {padding-right: 26px;}
  #header .header-inner,#header:hover .header-inner {min-height: 81px;}*/
  /*#right-hdr-top, #header:hover #right-hdr-top { height: 32px;}*/
  #right-hdr-top {padding-bottom:2px;}
  .section .banner-text h2 { font-size:4.8rem; }
  .main-content .banner-text p { font-size:2.3rem; }
  #header { padding:0 14px; left:0; }
  /*.hdr-top-link ul li { font-size:1.1rem; }*/
  .main-nav ul li { font-size:1.4rem; }
  .main-sub-nav ul li {font-size: 1.2rem;}
  /*.main-sub-nav {padding-top: 84px;}*/

}

@media all and (min-width:768px) and (max-width: 992px) {
.media-gallery .photo-inner a::after, .media-gallery .photo-inner a.rad-video::after{ left:-3px;}
  #MainWrapper:not(.makeItVisible) #header { padding:0 28px;  }
  .home-section.section4 .leftbox .leftbox-inner .leftbox-inner-cntnt .green-box-link, .home-section.section5 .leftbox .green-box-link{ width:80%; margin-right:0; }
#contentwrapper span.rad-highlight{width:100%; margin-right:0;}
}
@media all and (min-width: 1025px){
#MainWrapper .video-overlay .inv_videoMainContainer_inner,#MainWrapper .video-overlay .inv_videoReady .inv_videoArea, #MainWrapper .vid-outer .inv_videoMainContainer_inner,  #MainWrapper .vid-outer .inv_videoReady .inv_videoArea, #MainWrapper .leadership-vid-wrp .inv_videoMainContainer_inner, .leadership-vid-wrp .inv_videoReady .inv_videoArea{height:100vh;}
}

@media all and (min-width: 992px) and (max-width: 1024px){
body:not(.safari) #MainWrapper .video-overlay .inv_videoMainContainer_inner,body:not(.safari) #MainWrapper .video-overlay .inv_videoReady .inv_videoArea,body:not(.safari) #MainWrapper .vid-outer .inv_videoMainContainer_inner, body:not(.safari) #MainWrapper .vid-outer .inv_videoReady .inv_videoArea, body:not(.safari) #MainWrapper .leadership-vid-wrp .inv_videoMainContainer_inner, body:not(.safari) #MainWrapper .leadership-vid-wrp .inv_videoReady .inv_videoArea{height:100vh;}
}

@media all and (min-width: 768px){

.our-story-landing .section.story-section.section1 .sec-content,.our-story-landing .section.story-section.section3 .sec-content, .our-story-landing .section.story-section.section5 .sec-content {
padding-right:30px;
}

  body.parallax-ennabled { overflow:hidden; }
  .filter-tab ul li { width: auto !important;}
  #contentwrapper .newstab.snap-tab { display:block !important; height: auto !important; padding-bottom: 30px; }
  .header-ticker {padding-right: 6px;}
}


/*--------- iPad Portrait and large Tablets Portrait ---------*/
@media all and (min-width: 768px) and (max-width: 991px) {

  .section.section2 .left-col .sec-content, .our-story-landing .section.section3 .left-col .sec-content, .section.section5 .left-col .sec-content, .section.section4 .left-col .sec-content {padding-top: 60px;}
  .our-story-landing .section.section5 .vslide-inner .outer-rad-quote {padding-left: 20px;}
  .our-story-landing .section.section2 .sec-content, .our-story-landing .section.section4 .sec-content{padding-left:20px;}
  .col-md-5.rc-img-box{margin-top:20px;}

  /*=========CONTACT FORM===============*/
  .field-container input, .field-container textarea{width:280px;}

  .case-study-inner-cntnt-fix p.rad-big{font-size: 2.2rem;}
  .video-item .case-study-inner-cntnt-fix {top: 15px;}
  .case-study-inner-cntnt-fix {bottom: 15px;}
  .case-study-item .video-item:after{font-size:3.0rem;}

  .news-inner-cntnt-fix p.title {top: 0px;font-size: 2.2rem;line-height: 1.5em;}
  .news-inner-cntnt-fix p.date{font-size: 1.8rem;}

  .rc-img-box1{width:49%; margin-right:1% !important;}

  .rc-img-box2{width:49%; margin-left:2% !important;}
  #contentwrapper.results-centre-landing .rc-box-images .box-wrapper span.rad-highlight strong{top: 20px;}
  #contentwrapper.results-centre-landing .rc-box-images .box-wrapper span.rad-highlight span.rad-big{font-size: 2.2rem;}
  .results-centre-landing .rc-box-images .rc-img-box { height:auto !important; }

  /*.main-content { padding-top:42px; }*/
  .twoCol div#contentwrapper { padding-top:34px; }
  .map-row div.main-content { padding-top:34px; }

  .main-content { padding-top:0; }

  /*.main-content h1,*/ .main-content .h1  { margin:-72px 0 0 0; padding:0 10px 1px 0; font-size:3.2rem; letter-spacing:0.032em; }
  /*.main-content h1::before { width:160px; height:42px; margin-left:-160px; } */

  .main-content h2,.main-content h1.pageTitle  { font-size:2.2rem; margin-bottom:22px; padding:0 0 13px 0; }

  .main-content .section h2 { font-size:3.5rem; margin-bottom:0; }
  .main-content h2::after,.main-content h1.pageTitle:after  { width:155px; }

  .main-content .year-in-review-landing h3 {font-size: 2.2rem;}
  .year-in-review-landing .delivering-value-box .gray-cntnt p, .year-in-review-landing .financial-highlights-box .grey-text p{font-size: 1.8rem;line-height: 1.444em;}
  .year-in-review-landing .statement-quote .green-box-link{margin-bottom: 25px;}
  .year-in-review-landing .financial-highlights-box{margin-top: 40px;}
  .main-content h3 { font-size:1.8rem; margin-bottom:13px; padding:0 0 12px 0; }
  .main-content h3::after { width:110px; }

  .main-content h4, .main-content h5 { font-size:1.4rem; margin-bottom:13px; padding:0 0 12px 0; }

  .main-content .intro-text p { font-size:1.8rem; line-height:1.5em; margin-bottom:0; }

  .main-content p { font-size:1.4rem; /*line-height:1.3em; margin-bottom:0; */ }



  .main-content p.rad-quote { font-size:2.2rem; line-height:1.45em; margin-bottom:15px; }
  .main-content .snapdown-content .rad-highlight { width:48%; margin:0 10px 10px 0; }

  .bottom-signpost-wrapper .bottom-signpost-item-wrapper a span.rad-big { font-size:2.2rem; }
  .bottom-signpost-wrapper .bottom-signpost-item-wrapper a span.rad-small { font-size:1.2rem; }

  .inv-responsive-table table th.date { width:18%; }
  .inv-responsive-table table th.time { width:12%; }
  .inv-responsive-table table .outlook { text-align:center; width:21%; }

  .main-nav ul li { padding:0 1.6%; }
  #contentwrapper { margin-bottom:50px; padding-top:34px; }

  .snapdownItem .snapdown-title p { font-size:1.5rem; padding: 7px 45px 7px 0px; }

  table.rad-highlight[id^="key-data"] td { font-size:1.4rem; }
  /*table.rad-highlight[id^="key-data"] td strong { font-size:5.0rem; }*/
  table.rad-highlight[id^="key-data"] td strong em { padding-right:4px; }

  .scroll-table-container table thead th, .inv-responsive-table table thead th,
  .scroll-table-container table tbody td, .inv-responsive-table table tbody td { font-size:1.4rem; padding:10px 5px; line-height:1.3em; }
  .main-content .snapWrapper {margin-bottom: 30px;}
  #footer{padding: 30px 0 16px;}
  /* .{ padding-bottom:12px; } */
  .ftr-content-links ul li { padding:0 10px; font-size:1.0rem; }
  .ftr-social-links ul li { padding:0 6px; font-size:2.6rem; }
  .inv-branding { right:30px; }

  .scroll-table-container table.searchTable tbody td { padding:10px; }

}

@media all and (max-width: 768px) {
  .home-section.section6.section{margin-bottom:20px;}
  table.rad-highlight[id^="key-data"] td { padding:0 3%; }

  #logo > a,  #header:hover #logo > a {width:100px;}
  .news-item:nth-child(3n+1), .case-study-item:nth-child(3n+1){width:50%;}
  .news-item, .case-study-item{width:50%;}
  .case-study-item:nth-child(3) {padding-top: 0;}
  a.rad-video::after{ left:50%; margin-left: -25px;}
  .media-landing .section3 .case-study-wrapper.row { margin-left:-14px; }

}



/*--------- All Small Tablets and Large Phones Global CSS ---------*/
@media all and (max-width: 767px) {
.on-page-cs-item .dsktp, .sub-content-page .on-page-cs-item .dsktp {display:none;}

body#ip3-what-we-do .on-page-cs-item .dsktp, body#ip3-what-we-do .sub-content-page .on-page-cs-item .dsktp {display:block;padding-top: 15px;}

.home-landing .home-section.section2 .rightbox .rightbox-inner .img-wrp img{display:none;}

/*--Global Email Contacts table starts--*/
#ip3-global-contacts table#nosnap-contact-table {table-layout: fixed;}
#ip3-global-contacts table#nosnap-contact-table td{display:block;}
/*--Global Email Contacts table ends--*/


  /* .main-content .h1  {  font-size: 3.2rem;
  font-weight: 400;
  margin: -72px 0 0;
  padding-right: 20px; }*/
  .ip3-level1 .static.section0.landing-banner {height: auto; min-height: 450px;}
  .selectedTab.v-mobile{display:block;}
  /*======CONTACT FORM=============*/
  .field-container{width:100%;}
  .field-container input, .field-container textarea{width:100%;}
  .field-container select{width:100%;}
  .marginBot{margin-bottom:30px;}
  .conaddress{margin-bottom:25px;}

  #contentwrapper .newstab ul{display: block; width:100%;}
  #contentwrapper .newstab ul li{    display: block;    width: 100%;text-align:left;}
  #contentwrapper .newstab ul li.current::after{content:none;}

  body#ip3-kpis #contentwrapper .snapdown-content table#key-data-10 tr:last-child td:last-child { display:none; }

  /*--  Search result page  --*/

  #searchFilter { font-size: 1.6rem; }
  table.searchTable tbody td p.links { font-size: 1.5rem; }
  table.searchTable tbody td p.links a { font-size: 1.6rem; }
  table.searchTable tbody td p.searchdescription { font-size: 1.4rem; }


  /*--  Content banner  --*/

  #bannerContainer img { position:absolute; width:auto; height:100%; margin: auto; max-width: none; left: -100%; right: -100%; top: -100%; bottom: -100%; }

  /*=========IR Landing========*/
  .ir-landing .selectedTab.v-mobile, .cr-landing .selectedTab.v-mobile, .year-in-review-landing .selectedTab.v-mobile{display:none;}
  .filter-tab ul.slick-initialized .slick-list { margin:0 auto; width:49%; text-align:center; }
  .ir-landing .media-cat, .media-news .media-cat, .cr-landing .media-cat, .media-gallery .media-cat, .year-in-review-landing .media-cat{ display: block !important; text-align: left; width:100%; }

  .year-in-review-landing .delivering-value-box{width:100%;}

  .ir-landing .media-cat li, .media-news .media-cat li, .cr-landing .media-cat li, .ir-landing .media-cat li, .media-gallery .media-cat li, .year-in-review-landing .media-cat li{border: 0;  float: left;    display:block;}
  .ir-landing .section2.section .right-investor-section, .ir-landing .news-panel{padding-left: 0;}
  .ir-landing .newstab.snap-tab{display:block;}
  .ir-landing .tab-text{padding-left:0;}
  .ir-landing .left-investor-section{padding-left:0;}
  .ir-landing table.rad-highlight[id^="key-data"] td{margin-left:0; width:100%;font-size:1.6rem; }
  /*.ir-landing table.rad-highlight[id^="key-data"] td strong{font-size:5rem;}*/
  .ir-landing .section2.section.slide h3{font-size:2.2rem;}

  .overlay-wrapper .image-gallery-overlay .img-gallery-wrap .slick-arrow { bottom:40px; }
  .video-container { overflow-y:auto !important; }
  .bod-inner-cntnt .cntnt-inn p.bod-sbttl{padding:0 5px;}
  .main-content { padding-top: 0; }
  .twoCol div#contentwrapper { padding-top:30px; }
  .map-row div.main-content { padding-top:30px; }
  table.inv-responsive-table{ border-top: 2px solid #000;}
  table.inv-responsive-table a{border-bottom:none;}
  .PadLeft{padding-left: 20px;}

  .width-80{width:100%}
  .year-in-review-landing .delivering-value-box .gray-cntnt{width:100%}
  .newstab.center-tab{text-align:left;}
  .newstab.center-tab ul {width: 100%;}

  .results-centre-landing .rc-box-images .rc-img-box { height:auto !important;}
  .results-centre-landing .rc-box-images .box-wrapper img{ width:100%}
  .results-centre-landing .rc-box-images .rc-img-box1, .results-centre-landing .rc-box-images .rc-img-box2 {width:100%;position: relative !important;}

  .rc-img-box, .rc-img-box1{margin-bottom: 20px !important;float: left;}

  #header { /*position:relative;*/ padding:0 6px; }
#dummy-header-height { display:none; height:95px; }
  #header::before { top:0; height:100%; background:#000; display:block; left:-100%; width:100%; content:""; position:absolute; }
  #header::after { top:0; height:100%; background:#000; display:block; right:-100%; width:100%; content:""; position:absolute; }
  #header .header-inner{padding-bottom: 24px;padding-top: 6px;}
  #logo{ position:absolute;top:45px;padding-top:0;}
  .hdr-top-link, #searchbox{display:none;}
  .header-ticker{ margin-bottom:4px;}
  #right-hdr-top{padding-bottom: 0px;}

  .mn-wrap { display:none; }
  .main-sub-menu-row, .right-hdr-bottom.main-nav { display:none; }

  #bannerContainer { min-height:130px; }

  /*.main-content h1,*/ .main-content .h1  {font-weight:400; font-size:3.2rem; padding-right:20px; margin:-72px 0 0 0 }
  .main-content h2, .main-content h1.pageTitle  {font-size:2.2rem; margin-bottom:18px; padding:0 0 13px 0; }
  .main-content h2::after,.main-content h1.pageTitle:after  { width:155px; }
  .main-content h3 {font-size:1.8rem; margin-bottom:18px; padding:0 0 12px 0; }
  .main-content h3::after { width:155px; }

  .main-content h4, .main-content h5 { font-size:1.4rem; margin-bottom:13px; padding:0 0 12px 0; }

  .main-content .year-in-review-landing h3{font-size: 2.2rem;}
  .year-in-review-landing .delivering-value-box .gray-cntnt p, .year-in-review-landing .financial-highlights-box .grey-text p{font-size: 1.8rem;line-height: 1.444em;}
  .year-in-review-landing .statement-quote .green-box-link{margin-bottom: 25px;}

  #contentwrapper { padding-top:30px;margin-bottom:22px; }
  .main-content p { font-size:1.4rem;margin-bottom:0; }
  .scroll-table-container table tbody td, .scroll-table-container table th { font-size:1.4rem; line-height:normal; }
  .main-content ul li, .main-content ol li {/*font-size: 1.4rem; font-size:2.0rem;*/ }
  .main-content .intro-text p {font-size: 1.6rem;}
  .inv-responsive-table td { font-size:1.4rem; padding:4px; }
  .snapdownItem .snapdown-title p { font-size:1.6rem;padding: 7px 45px 7px 0px;}
  .snapdownItem .snapdown-title p::after {top:4px}
  .main-content .snapdown-content .rad-highlight{margin:0 0 18px;}
  .main-content .snapdown-content {padding: 18px 0 18px 0;}

  .mobi-menu-search{display:block;}
  .mobi-menu-search > div {display:block;}
  .mobi-menu-search{margin-top: 0px; margin-right:0px;}
  .inv-mobi-banner { background: #313131; color: #fff; margin-bottom: 30px;}

  /* .slick-arrow{border-width: 0 3px 3px 0;width: 18px;height: 18px;}*/

  .slick-arrow, .slick-arrow:before{background:#fff;}
  .image-gallery-overlay .slick-arrow, .image-gallery-overlay .slick-arrow::before {background:none;}
  .slick-arrow.slick-prev{left:0;}
  .slick-arrow.slick-next{right:0;}

  .bottom-signpost-wrapper .bottom-signpost-item-wrapper a span.rad-big { font-size:2.2rem; }
  .bottom-signpost-wrapper .bottom-signpost-item-wrapper a span.rad-small { font-size:1.4rem; }

  .main-content .snapdown-content .rad-highlight span.rad-big{line-height: 1.5em;}
  .main-content .snapdown-content .rad-highlight span.rad-small{line-height: 1.5em;}
  .main-content .snapWrapper {margin-bottom: 20px;}
  .main-content p.rad-quote{font-size:2.2rem;margin-bottom:15px; padding-bottom:15px; }



  /* ------------------- year tab styling ------------------ */
  .newstab-level4, .newstab { display: none;}
  .media-news .selectedTab.v-mobile {  display: block;}
  .newstab ul li.current {  display: none;}
  .drop-down { padding-bottom: 25px;}
  .newstab {  display: none; padding: 0;width: 100%;}
  .newstab ul li {  border-right: 1px solid #000 !important; border-left:1px solid #000 !important; border-bottom:1px solid #000 !important;  margin: 0 !important;width: 100%;}
  .newstab ul li.last{border-right: 1px solid #000 !important;}
  .newstab ul li span { border: none; float: none; height: auto;   line-height: 1.2em;  padding:0;  text-align: left;  width: auto;}
  .newstab ul li.last span { border: none;}
  #contentwrapper .newstab ul li a, #contentwrapper .newstab ul li > span{padding:10px;}
  .newstab > ul {  padding: 0;margin-bottom:5px; border-bottom:none;}
  .selectedTab.v-mobile i {float: right;position: relative;}
  .selectedTab.v-mobile i.icon-chevron-up {display: none;}
  .selectedTab.v-mobile.open i.icon-chevron-up {display: block;}
  .selectedTab.v-mobile.open i.icon-chevron-down {display: none;}
  /* ------------------- year tab styling ------------------ */

  table.inv-responsive-table{margin-bottom:0;}
  table[id^="key-data"].rad-highlight td {display:block; padding:0;margin-bottom:40px}
  table[id^="key-data"].rad-highlight td:last-child{margin-bottom:0; padding-bottom:0px; }
  table.rad-highlight[id^="key-data"] td strong{ padding-bottom:10px; font-size:5.0rem; }

  /* HP: 15-01-2017 */
  #contentwrapper table.rad-highlight[id^="key-data"] td{ display: block; float: none; margin-bottom: 0; padding: 0 0 25px; text-align: center; width: 100%; }
  #contentwrapper table.rad-highlight[id^="key-data"] td strong { padding-bottom: 10px;}
  /* HP: 15-01-2017 */

  /*.story-section.section3 .vslide-inner .left-col table[id^="key-data"].rad-highlight td:last-child { padding-bottom:40px; }*/

  #footer { padding:30px 0 18px; }
  .ftr-social-links{
      text-align:center;
      padding-bottom: 20px;
      padding-top: 20px !important;
  }
  .ftr-social-links ul li { font-size:2.5rem; padding:0 9px; }
  .ftr-content-links ul li {
      padding:5px; font-size:1.0rem; display:block; text-align:center;
  }

  /*--  Media gallery  --*/

  .photos-wrapper { height:auto !important; }
  .photo-item { position: relative; margin: 0 !important; top: auto !important; left: auto !important; }
  .photo-inner { max-width:80%; }
  .photo-item:nth-child(odd) .vid-wrp span.mv-vid-ico { left:15%; }
  .photo-item:nth-child(1){padding-top:0;}
  .vid-wrp { margin: 0 20px; }

  /*--  Media News  --*/
  .news-landing { height:auto !important; }
  .news-item { position: relative!important; margin: 0 !important; top: auto !important; left: auto !important; width:100%; }
  .news-item-inner { max-width:80%; }
  .news-item:nth-child(3n+1){ width:100%; }
  .news-item:nth-child(2n+1) .news-item-inner { display: inline; float: right; }

  .news-inner-cntnt-fix p.title {top: 0px;font-size: 2.2rem;line-height: 1.5em;}
  .news-inner-cntnt-fix p.date{font-size: 1.8rem;}

  /*--  Year in review Case study  --*/
  .case-study-wrapper { height:auto !important; }
  .case-study-item { position: relative!important; margin: 0 !important; top: auto !important; left: auto !important; width:100%; }
  .case-study-item-inner { max-width:80%; display: inline-block; max-height:250px; }
  .case-study-item:nth-child(3n+1){ width:100%; }
  .case-study-item:nth-child(2n+1) .case-study-item-inner{ display: inline; float: right; }

  .case-study-inner-cntnt-fix p {top: 0px;font-size: 2.2rem;line-height: 1.5em;}
  .case-study-item .video-item:after{font-size:3.5rem;left: 45%;}

  /*-- Leadership landing  --*/

  .leadership-wrapper, .photos-wrapper { margin-top: 20px; }
   .leadership-wrapper{padding-bottom:70px;}
  .bod-item { position:relative; margin: 0 !important; top: auto !important; left:auto !important; width:100%; }
  .bod-inner { max-width:80%; }
  .leadership-wrapper { height:auto !important; }
  .bod-item:nth-child(3n+1){ width:100%; }
  .bod-item:nth-child(2n+1) .news-item-inner { display: inline; float: right; }
  .leadership-container .lcol h2.mobi-bod-ttl { display:block; position:absolute; bottom:-7px; background: #fff; margin-bottom:0; }
  .leadership-container .lcol h2.mobi-bod-ttl:after { display:none; }


  /*--  Leadership overlay  --*/

  .leadership-container .bod-overlay { overflow-y: auto; }
  .leadership-container .bod-overlay .lcol { padding:0; }
  .leadership-container .rcol { height:auto; padding-top: 2px; }
  .leadership-container .rcol.global{padding-top: 58px;padding-bottom: 20px;}
  .leadership-container .rcol .rcol-inn { margin:0; overflow:unset; }

  .leadership-container .jspContainer { width: auto !important; height: auto !important; overflow: unset; }
  .leadership-container .jspPane { margin:0 !important; width: auto !important; position:relative !important; left:auto !important; }
  .leadership-container .jspVerticalBar, .leadership-container .jspHorizontalBar { display:none; }
  .leadership-container .rcol h2 { display:none; }
  .leadership-container .rcol h3 { font-size:1.4rem; padding-bottom: 18px; color:#79797a; margin-bottom: 14px; display:inline-block; }
  .leadership-container .rcol h3::after { width:100%; }
  .leadership-container .rcol p.rad-quote { font-size:1.8rem; /*margin-left:-45px;*/ }

  .leadership-container .overlay-controls.dsktp > div { display:none !important; }
  .leadership-container .overlay-controls { right:0 !important; }
  .leadership-container .overlay-controls .icon-cross {z-index: 9999; font-size: 2.5rem; top: 0; right:0; padding: 8px}
  .leadership-container .overlay-controls.mobi { display:block; position: relative; width:28px; right:0 !important; }
  .leadership-container .overlay-controls.mobi .inner-bod-tabs { right: -6px; top: 6px;position: absolute;  }
  .leadership-container .rcol .bod-desc { margin-left:45px; }
  .overlay-controls.mobi .inner-bod-tabs span.icon-cs-page-ico { font-size: 3.9rem; }
  .overlay-controls.mobi .inner-bod-tabs span.icon-movie-ico { font-size: 2.6rem; }

  .leadership-container.mob-vid-played .overlay-controls .icon-cross.bod-close { display:none; }
  .leadership-container.mob-vid-played .overlay-controls .icon-cross.mob-vid-close { display:block; }
  .bod-item:nth-child(1){padding-top:0;}
  #contentwrapper ul.leadership-cat { margin-bottom:0;float: none;display: block;width: 100%;text-align: left;}

  .leadership-container .rcol h2.bottom-line { display:block !important;font-size: 2.2rem;margin-bottom: 18px;padding: 0 0 13px 0; }

  #contentwrapper .cr-section.section1 table.rad-highlight[id^="key-data"] td { float: left; width: 100%; padding: 0 0 30px 0; margin: 0; }
  #contentwrapper .cr-section.section1 table.rad-highlight[id^="key-data"] td { padding-bottom:0; }
#contentwrapper span.rad-highlight { width: 100%; margin-right: 0; }
#contentwrapper span.rad-highlight img { max-width: 640px; width: 100%; }
.ir-landing .section2.section .top-section { padding-bottom: 0; }

}

@media all and (min-width: 641px) and (max-width: 767px){
  .snapdown-content .rad-highlight{width:50%;}
}

@media (max-width: 640px) {
.snapdown-content .rad-highlight{width:100%;}
.snapdown-content .rad-highlight img{width:100%;}
}

@media (max-width: 480px) {

body#ip3-corporate-responsibility .has-parallax .cr-section.section3 .case-studies-data .row { margin-right:0; margin-left: 0; }
.case-study-item-inner { max-height:200px; }
.overlay-wrapper .image-gallery-overlay .img-gallery-wrap .slick-arrow { bottom:10px; }
.filter-tab ul li a { padding: 8px 7px; }
span.mv-vid-ico { font-size: 4.0rem; }
.arw-btm { padding-top:10px; }
.video-container { overflow-y:auto; }
.vid-close { /*padding-top: 0;*/ font-size: 2.0rem; }

.overlay-wrapper .image-gallery-overlay .pager-holder { width:100px; }
.overlay-wrapper .image-gallery-overlay .slick-arrow::before { font-size:2.0rem; }

/*--  Filter tab slider  --*/

#contentwrapper .filter-tab ul.slick-initialized { width:100%; }
.filter-tab ul.slick-initialized .slick-list { margin:0 auto; width:49%; text-align:center; }
.filter-tab ul.slick-initialized li { border:0; }
.filter-tab ul.slick-initialized .slick-arrow { top:0; padding:0; margin-top:-2px; }

.filter-tab ul.slick-initialized .slick-arrow.slick-prev::before { left: 14px; }
.filter-tab ul.slick-initialized .slick-arrow.slick-next::before { right: 18px; }

}



@media (max-width: 360px) {

.case-study-item-inner { max-height:170px; }
.filter-tab ul li { font-size: 1.6rem; }
.filter-tab ul li a { padding: 8px 6px; }
.filter-tab ul.slick-initialized .slick-list { width:55%; }
}



@media (max-width: 320px) {

#MainWrapper{width:320px} /* Excluding Gutter space from 320 width */
.ftr-social-links ul li{padding: 0 6px;}

}

@media screen and (max-device-width: 767px){
  body{ -webkit-text-size-adjust: 100%; }
}




@media all and (min-width: 768px) and (max-width: 991px) {
  .our-story-landing .section1  .box-abs-link {left: 20px; right:20px; transform: translateX(0px);}
  .cr-section table.rad-highlight[id^="key-data"] td strong{font-size: 4.0rem;}
  .cr-section.section1 .rad-quote{font-size: 3rem;}
  .careers-landing .section2 .bod-item{padding-bottom: 14px;}
  .careers-landing .section2 .bod-item:last-child{padding-top: 14px;}
}

@media all and (min-width: 991px)  and  (max-width:1399px){
  .cr-section .financial-highlights-box table.rad-highlight[id^="key-data"] td{padding: 0 2%;}
  .cr-section .financial-highlights-box table.rad-highlight[id^="key-data"] tr td:last-child{ padding-right:5px !important;}
  .cr-section .financial-highlights-box table.rad-highlight[id^="key-data"] tr td:last-first{ padding-left:5px !important;}
}

@media all and (max-width:767px){
  .signpost-overlay-inn {overflow-y: auto;}
  .signpost-overlay-inn .rcol-inn{padding: 0 40px 0 14px;}
  .overlay-wrapper.cs-overlay .overlay-controls{right:0 !important;width: 41px;}
  .signpost-overlay-inn .rcol-inn{height:auto !important}

  .media-cat .slick-arrow, .leadership-cat .slick-arrow {top: 36%;}

  .leadership-cat li {border:none !important;}
  .video-banner .landing-bnr-subtxt.trans p {display:inline-block;}
  .video-banner .landing-bnr-subtxt p { color:#000}



}



@media all and (min-width: 1025px){
  body.safari .landing-bnr-subtxt.trans p{line-height: 1.785em;}
  body.safari .snapdown-content .main-content ol{padding-left: 38px;}
}


@media all and (max-width:768px){
  /*#contentwrapper span.rad-highlight{width:100%;}*/
}


@media all and (min-width: 1600px){
  body#ip3-leadership .leadership-container .overlay-controls {margin-right:14px;}
  .core-cntnt-page .overlay-wrapper.cs-overlay .overlay-controls{margin-right:14px;}
}


@media all and (min-width: 1400px) and (max-height:963px){

  .vid-outer .inv_playerContainer_single{max-width:1200px;margin: 0 auto;}

}



@media all  and (max-width: 1600px) {
  .menu.fixing {right: 0 !important;}
}


@media all and (min-width: 768px)  and  (max-width:991px)  {
  .results-centre-landing .rc-box-images .box-wrapper.rc-img-box2{position: relative; bottom: 0;float:left;}
  /*#subNav{margin-top:89px !important;}*/
  .keyfinancials-section .sec2-wrp > div {float: left; }
  .tab-cntnt-wrp .tab-image { float: right; height: 100%; width: 50%;}
  .delivering-value-box .tab-text {float: left; width: 50%;}
  .year-in-review-landing .delivering-value-box .tab-text {width: 100%;}
  .cr-section .case-study-item:nth-child(n+6) {display: none;}
  #contentwrapper .landing-banner-text-wrapper .landing-bnr-txt h2 {padding:0 0 5px 0; }

  .rns-item > p { font-size: 1.6rem;}
  .ir-landing .section.slide .news-title h3 { margin-bottom: 15px;}
  /*.rns-item { padding-bottom: 5px;}*/
  .shareprice-panel {margin-top: 35px; overflow:hidden;}
  .share-link.box-link {margin-top: 15px;}
  .ir-landing .section2.section .bottom-section .section-image {min-height: 282px;}
  .ir-landing table.rad-highlight[id^="key-data"] td{width:100%; text-transform:uppercase;}
  /*.ir-landing .section2.section.slide > div > div { padding-top: 4.5%;}*/
  .ir-landing .section2.section h3{font-size:2.2rem;}
  .ir-section .delivering-value-box h3.rad-center { margin-bottom: 0;}
  .delivering-value-box .tab-text { padding-top: 0px; }
body.ip3-level1 .delivering-value-box .tab-text { padding-top: 0px; padding-left:0;}
  body.ip3-level1 .delivering-value-box .tab-text > p:first-child { margin-bottom: 12px;}
  .back-Menu::before{top:6px;}

}
@media all and  (max-width:1040px)  {
  .main-nav ul li{padding: 0 2%;}

}
@media all and (min-width:490px) and (max-width:767px)  {
#MainWrapper .video-overlay .inv_videoMainContainer_inner,#MainWrapper .video-overlay .inv_videoReady .inv_videoArea, #MainWrapper .vid-outer .inv_videoMainContainer_inner,  #MainWrapper .vid-outer .inv_videoReady .inv_videoArea, #MainWrapper .leadership-vid-wrp .inv_videoMainContainer_inner, .leadership-vid-wrp .inv_videoReady .inv_videoArea{height:100vh;}
}



@media all and  (max-width:767px)  {
.section5.home-section .green-box-link-wrap {
    padding-top: 0;
}
#contentwrapper.our-story-landing .section1 .key-data table.rad-highlight[id^="key-data"] td {
    width: 100%;
}
  .row.mid-row.map-row {min-height: 15px;}
  .right-hdr-bottom.main-nav ,#right-hdr-top ,#logo > a, #logo > img,.header-inner{transition:none;}
  #logo > img{width:100px;}
  .para-pager {display: none !important;}
  .home-section.section6 .sec6-box2 .sec6-box-inr.img-zoom, .home-section.section6 .sec6-box3 .sec6-box-inr.img-zoom{width:100% !important;}
  /*.section .lvcol h2, .section .lvcol h3 {display:none;}*/
  .section3.story-section .right-col.rvcol {padding-top: 30px;}
  /*.careers-landing .static.section0.landing-banner.section {height: 620px !important;}*/
  .home-landing .home-section.section1 .financial-highlights-box h3{ padding-bottom:16px; }
  .home-landing .financial-highlights-box h3.rad-center::after { width: 165px; padding-top: 22px; }
  .home-section.section2.section{ margin-top:17px; }
  .home-section.section4.section, .home-section.section5.section { margin-top: 0 !important; }

  .our-story-landing .section.section1 .section-image, .our-story-landing .section.section2 .section-image {
    min-height: 320px;
  }
}

@media all and (min-width:1280px) and (max-width:1300px)  {
	#contentwrapper .snapdownItem:first-child .snapdown-content span.rad-highlight {
    /*margin:5px 28px 60px 0;*/ margin:5px 28px 24px 0;
}
}

/*IPad/IPad mini landscape mode:*/
@media all and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
body#ip3-latest-results table[id^="key-data"].rad-highlight td strong {font-size:4rem;}
}

