.row.banner-row #bannerwrapper{margin-top: -2px;}
.chrome .secondlevelnextall{top:39px;}
#contentwrapper table.rad-highlight[id^="key-data"] .rad-notes {font-size: 1.4rem;text-transform: none;display: block;}
.careers-landing .section3 .vid-wrp .photo-inner{ width:100%; margin-top:0; }
@media all and  (max-width: 1399px) {
/* -----------------  media landing starts ------------------- */
.media-landing .section2 .green-box-link-wrap { margin-top:32px; }
.media-landing .section2 .leftbox-inner-cntnt{ padding-right:0; }
.media-landing .section4 .leftbox-inner { padding-top: 25px; }
/* -----------------  media landing ends ------------------- */

/* --------- careeer landing starts ------------ */
/*.careers-landing .section3 .memberQuote.rad-quote { font-size: 2.0rem; }*/
.mobiSearchWrapper{ float:right; width:auto; }
.careers-landing .section3 .memberImageWrap { height: 300px; }
.careers-landing .section3 .photo-inner img{ max-width:none; width:100%; height:auto; }

/* --------- careeer landing ends -------------- */
}
@media all and (max-width: 1024px) {
.careers-landing .section3 .memberImageWrap{height:auto!important;}
.ir-landing .section2.section .shareprice-panel .share-link.box-link {padding-top:0;}
}

@media all and (min-width: 1201px) and (max-width: 1530px) {
	.media-landing .media-gallery .mediaGallery-item2 .photo-inner a.rad-video:after, .media-landing .media-gallery .mediaGallery-item3 .photo-inner a.rad-video:after {left: -13px; bottom: -25px;}
	.media-landing .media-gallery .photo-inner.video-item a:after, .media-landing .media-gallery .photo-inner a.rad-video:after {left: -13px; bottom: -25px;}

}

/* =================== Height related media queries starts ========================== */

@media all and (min-height: 670px) and (max-width: 1399px) {
/* -----------------  media landing starts ------------------- */
.media-landing .section0 .landing-bnr-txt h2{ padding-bottom:3px; }
.media-landing .section2 .leftbox-inner-cntnt p{ font-size:1.6rem; }
.jta-tweet-body { font-size: 0.778em; }
.media-landing .twitter-item{ height:200px !important; }
.followerWrap { padding-top: 0; }
.followerItem{ padding-bottom:15px; }
.main-content .section p.followerfigure{ font-size:3.0rem; padding:7px 0 5px; }
.media-landing .section4 .leftbox-inner { padding-top:56px; }
/* -----------------  media landing ends ------------------- */

/* -----------------  careers landing starts ------------------- */
.careers-landing .section2 .leftbox-inner-cntnt p{ font-size:1.6rem; }
.careers-landing .bod-item.bod-item1 { padding: 0 14px; }
.careers-landing .section3 .leftbox-inner.pad-bottom{ padding-top: 25px; padding-bottom:180px;  }
.careers-landing .section3 .memberImageWrap { height: 240px; }
.home-section.section6 .sec6-head .leftbox-inner-cntnt { width: 100%; }
/* -----------------  careers landing ends --------------------- */

.cr-landing .cr-section.section1 table.rad-highlight[id^="key-data"] td strong { font-size: 5.0rem; }
}

@media all and (min-width:768px) {
/*.media-landing .media-section .mediaGallery-item .vid-wrp {display: block;width: 100%; background-color:#000;}
.media-gallery .media-section  .vid-wrp .photo-inner {display: block;width: 100%;}
.media-landing .media-section .mediaGallery-item .vid-wrp, .media-gallery .media-section  .vid-wrp .photo-inner, .media-gallery .vid-wrp .photo-inner, .media-landing .media-section  a.rad-video {display: block; width:100%;float: none;background-color:#000;}
.media-landing .media-section  a.rad-video {display: block;}
.media-landing .media-section  .vid-img-wrp { overflow: hidden; position: relative; display: block; min-height: 285px; }
.media-landing .media-section .photo-inner img { position: absolute; top: -100%;bottom: -100%;left: -100%;right: -100%;margin: auto;max-width: none;width: auto; }*/
}

@media all and (min-width:767px) and (max-width:1200px)  {
	.media-landing a.rad-video {min-height: 230px;}
	.media-landing .mediaGallery-item .photo-inner.video-item {min-height: 290px;}
}

@media all and (min-width:768px) and (max-width:1200px)  {
.section-right-image img{ height:100%; }
}

@media all and (min-width:768px) and (max-width:991px)  {
.cr-landing .cr-section.section3 .case-study-wrapper{ height:705px !important; }

#ip3-reporting-and-policies .scroll-table-container table tbody td.rad-center,#ip3-reporting-and-policies .inv-responsive-table table tbody td.rad-center {
    padding-bottom: 25px;
}

}


@media all and  (max-width:991px)  {
.media-landing .section3 .home-news-landing .box-link { padding-top: 77px; }

}




@media all and  (max-width:768px)  {

/* ---------- media landing starts ------------- */
.media-landing .section2 .photo-inner a::after, .media-landing .section2 .photo-inner a.rad-video::after { left:0;bottom:-22px; }
	.media-landing .section2 .photo-inner.video-item a::after, .media-landing .section2 .photo-inner.video-item a.rad-video::after { left:11px;bottom:-22px; }
.media-landing .section2 .rightbox .photo-inner { position: relative;height: auto; }
	.media-landing .section2 .rightbox .photo-inner.video-item { position: relative;height: 241px; }
	.media-landing .section2 .rightbox .photo-inner .vid-img-wrp{}
	.media-landing .mediaGallery-item .photo-inner.video-item {min-height: 241px;}
/*.media-section .news-item-inner img { height: 100%; max-width: none; width: auto; }*/

.home-section .news-item-inner img,.media-section .news-item-inner img{ height: auto; max-width: none; width: 100%; }
/* ---------- media landing ends ------------- */

/* ---------- careers landing starts ------------ */
.careers-landing .section3 .memberImageWrap { height: 200px; }
/* ---------- careers landing ends ------------ */

}

@media all and ( min-width:768px ) and  (max-width:991px)  {
.ir-landing .section2.section .bottom-section .section-image{right:7px;}
.keyfinancials-section .bottom-section {
    width: 117%;
}
.keyfinancial-text table#key-data-1.rad-highlight[id^="key-data"] td {
    padding-bottom: 23px;
}
#contentwrapper .keyfinancials-section table.rad-highlight[id^="key-data"] {
    margin-bottom: 0;
}

.delivering-value-box .tab-content .section-image { right: 7px; width: 117%;}

/* ---------- careers landing starts ------------ */
.careers-landing .section1 .leftbox-inner-cntnt{    padding-bottom: 50px;}
.careerWebsiteLinkWrap{padding-top:30px;}
.careers-landing .section1.careers-section .leftbox .green-box-link p{ position:relative; }
.careers-landing .section1.careers-section .leftbox .green-box-link p a{ padding:12px 15px 12px 15px; }
.careers-landing .section1.careers-section .leftbox .green-box-link p a strong{ max-width:200px; }
.careers-landing .section1.careers-section .leftbox .green-box-link p a span.icon-chevron-right { top:30px; position: absolute; right: 10px; }
.leardershipWrap {width: 27.8%;}
/* ---------- careers landing ends ------------ */

.cr-landing .cr-section.section1 table.rad-highlight[id^="key-data"] td  { padding-bottom:21px; }
}

@media all and  (min-width:767px)  {

.leadership-container .overlay-controls.mobi{display:none !important;}

}


@media all and  (max-width:767px)  {
#ip3-reporting-and-policies .inv-responsive-table .inv-responsive-data-header{width:auto;}
.keyfinancials-section .bottom-section {width: 100%;}
.careers-landing .bod-inner{      margin: 0 auto;  max-width: 55%;float: none !important;display: block !important;}
.careers-landing .section3 .memberTitle{padding-top: 25px;}

.careers-landing .section1 .section-image img{    height: auto;    bottom: auto;    top: 0;    width: 100%;}
.section0{height:auto;}
.para-pager{ display:none; }

/* =============== header starts ============== */
#header .header-inner { padding-bottom: 22px; padding-top: 7px; min-height:0; }
.header-ticker {margin-bottom: 0;}
#right-hdr-top { height: auto; }
.mobiSearchWrapper { padding-top: 9px; padding-right:12px; }
/* -------- mobi search starts --------------- */
#searchbox-mobi, .srch-inner{ float: left; width: 100%; }
#searchTextboxContainerMobi { float: left; width: calc( 100% - 60px ); }
#searchTextboxContainerMobi #searchTextboxMobi{width:100%;}

.mobi-menu-search { position:relative; top: 5px; }
#ip3-asos-story .next-parlx{ display:block; }
/* -------- mobi search ends  --------------- */
/* =============== header starts ============== */

/* =============== foooter starts ============== */
.footer-logo{ display:block; }
#footer {padding: 30px 0 20px;}
.ftr-social-links {padding: 0 6px 20px 6px;}
.ftr-content-links{ padding:0 6px; }
.footer-logo { padding:0 6px; margin-top: 22px; }
.inv-branding { right: 20px; bottom: -9px; }
/* =============== footer ends ============== */


/* -------- Banner styling starts ---------- */


.static.section0.landing-banner.section{ /*height:auto !important;*/ margin-top:0 !important; /*min-height:0 !important;*/ }
/*.section{ margin-top: 70px !important; }*/
/*.careers-landing .static.section0.landing-banner.section{ height:600px; }*/

.landing-banner-text-wrapper { position: relative; top:auto; padding:0 20px; }
.landing-banner-text-wrapper .landing-bnr-txt{padding-top:30px !important; padding-bottom:10px !important; width:100% !important; }
.landing-banner .landing-bnr-txt h2{ font-size:2.5rem; padding:0 0 2px; line-height: 1.58em;}

.landing-banner-text-wrapper .landing-bnr-subtxt{ width:100%; padding-bottom:21px }
.landing-banner-text-wrapper .landing-bnr-subtxt p{ font-size:1.8rem !important;}
.landing-banner-text-wrapper .playicon a.rad-video{ margin-bottom:0px; width:auto; }
.scrollToNext{ bottom:18px; }
.video-banner .scrollToNext{ bottom:18px; display:inline-block; position:relative;margin-top:21px; }
.landing-banner-text-wrapper .playicon span {font-size: 4.8rem;}

#contentwrapper .section.video-banner { overflow: visible; }
/*.section.video-banner #inv_playerContainer, #contentwrapper .section.video-banner { height: auto !important; }*/
.video-banner .landing-banner-text-wrapper .landing-bnr-txt{padding-top:15px; padding-bottom:5px;}





/* -------- Banner styling ends ---------- */


/* --------- media landing starts --------------- */
#contentwrapper .section{ padding-top:0; }
#contentwrapper .section.global-contacts .leftbox-inner{ padding-top:38px; }
#contentwrapper .section.media-section .leftbox-inner {padding-top: 28px;}
#contentwrapper .leftbox-news h3, #contentwrapper .cr-section .case-studies1 h3, #contentwrapper .case-studies-box h3, #contentwrapper .leftbox-inner > h3{ font-size:2.5rem; }
#contentwrapper .leftbox-inner-cntnt p{ font-size:1.4rem; }
#contentwrapper .leftbox-inner-cntnt p:last-child, #contentwrapper .leftbox-inner-cntnt p.rad-caption{ padding-bottom:0; }
#contentwrapper .leftbox-inner-cntnt { padding-bottom: 8px; }
#contentwrapper .section1.media-section .leftbox-inner-cntnt {padding-bottom: 16px;}
#contentwrapper .sec6-head .leftbox-inner-cntnt { width:100%; padding-bottom:31px; }
#contentwrapper .section .green-box-link { text-align: center; }
#contentwrapper .section .rightbox .section-image, .delivering-value-box .tab-content .section-image { min-height:300px; }
.delivering-value-box .tab-content .section-image {height:450px !important;}
.year-in-review-landing .tab-content .tab-image { min-height:200px; }
#contentwrapper .leftbox .mediaGalleryWrap.clearfix{ display:none; }
.media-gallery .leftbox-inner h3{ padding-top:39px; }
.media-landing .section2 h3{ padding-top:10px; }
.media-landing .section2 .green-box-link-wrap { margin-top: 0; padding-top:15px; clear:left; }
.mediaGallery-item.mediaGallery-item2 { padding-bottom: 20px; }
.media-landing .section2 .mediaGalleryWrap.rightbox .mediaGallery-item1{ display:block; padding-left:0; }
.media-landing .mediaGallery-item.mediaGallery-item2{ padding:0; }
.media-landing .section2 .mediaGallery-item.mediaGallery-item3 { padding-left: 0; }
.media-landing .section2 .mediaGallery-item .vid-wrp { display: block; float: left; width: 100%; margin: 0; padding-left: 11px; }
.media-landing .section2 .vid-wrp .photo-inner{ width: 100%; max-width: none; }
a.rad-video, .vid-img-wrp { width: 100%; }
.media-landing .section2 .rightbox .photo-inner img { height: auto; width: 100%; }
#contentwrapper .leftbox-news h3{ margin-bottom:21px; }
.section3 .news-panel { padding-top: 29px; }
#contentwrapper .leftbox-news .box-link p{ padding-bottom:9px; }
.main-content .box-link p a { font-size:1.6rem; }
.main-content .rns-item p.pr-title a, .rns-item p.pr-date { font-size:1.8rem; }
.rns-item p.pr-date{ margin-bottom:8px; }
.rns-item { padding-bottom: 30px; }
.media-landing .section2 .rightbox .photo-inner, .media-landing .section2 .rightbox .photo-inner .vid-img-wrp { max-width: none; width: 100%; }
.media-landing .section2 .mediaGallery-item .photo-inner.video-item {margin-top: 0;}
.media-landing .section4 .leftbox-inner { padding-top: 19px; }
.media-landing .section3 .news-item-inner img{ width:100%; height:auto; max-width:none; }
.home-news-landing .box-link, .media-landing .section3 .home-news-landing .box-link{ padding: 46px 0 0; }
.home-news-landing .box-link p{ padding-bottom:20px; }
.home-news-item { padding: 0 0 20px 0; }
.media-landing .section3 .news-item-inner { width: 100%; height: 200px; max-width: none; }
.news-item-inner img { max-width: none; width: 100%; height: auto; }
.home-news-item.home-news-item2{ margin-top:0; }
.arrangeVertically .slick-arrow{ left:auto; }
.rightbox.no-r-pad{ padding-right:14px !important; }
#slidesContainer{ padding-bottom:40px; }
.media-landing .mediaGalleryWrap, .media-landing .rightbox { padding-top:30px; }
/* --------- media landing ends --------------- */

/* --------- careers landing starts --------------- */

.careers-landing .section1 .leftbox-inner { padding-top: 39px; }
.careers-landing .leftbox-inner > h3::after { width: 100px; }
.section .leftbox .no-r-pad, .careers-landing .section.the-asos-team .leftbox.no-r-pad { padding-right: 14px !important; }
.careers-landing .section2 .leftbox-inner { padding-top: 38px;padding-bottom:15px; }
.careers-landing .section2 .leftbox .leardershipWrap{ padding-right: 0 !important; }
.careers-landing .section2 .rightbox .leardershipWrap:first-child{ padding-left: 0; }
.careers-landing .section2 .rightbox .leardershipWrap:last-child{ padding-right: 0; }
.careers-landing .bod-item.bod-item1{ padding-bottom:15px; }
.careers-landing .bod-item.bod-item1 .bod-inner { max-width: none; }
.careers-landing .section2 .rightbox .bod-item .bod-inner { height: auto; max-width: none; }
.careers-landing #slidesContainer { padding-bottom: 0; }
/*.careerWebsiteLinkWrap { padding: 20px 0 40px; }*/
#contentwrapper.careers-landing .section3 .leftbox-inner-cntnt { padding-bottom:0; }
#contentwrapper.careers-landing .section3 .leftbox-inner { padding-top:25px; padding-bottom:0; }
#contentwrapper.careers-landing .section3 .rightbox .vid-wrp { margin: 0; padding-left:0; }

.careers-landing .section3.spotlight-on .rightbox .green-box-link p a strong span { font-size: 1.6rem; }
.careers-landing .section3 .memberImageWrap{ height:auto; }
.careers-landing .why-asos .rightbox { padding-top:30px; min-height:0;}

/* --------- careers landing ends ----------------- */

/* --------- corporate Responsibility starts  ------------- */
.cr-landing .section.section1 table.rad-highlight[id^="key-data"] td{ margin-bottom:0; padding-bottom:30px !important;  }
.has-parallax .delivering-value-box h3 { font-size: 2.2rem; padding-bottom:8px; margin-bottom:0; }
.has-parallax .delivering-value-box .gray-cntnt p { font-size: 1.4rem; line-height: 2.4rem; }
.cr-section .financial-highlights-box { margin-top: 34px; }
.main-content .section p.rad-quote { font-size: 1.8rem !important; text-align: left; line-height: 2.4rem; }
#contentwrapper.cr-landing .financial-highlights-box .cntnt-text p:not(.rad-quote){ font-size:1.4rem; text-align:left; }

body.non-parallax .cr-section .financial-highlights-box .key-data{ padding-top:21px; margin-bottom:0; margin-top:0; }
table.rad-highlight[id^="key-data"]{ margin-bottom:0; }
body.non-parallax .cr-landing table.rad-highlight[id^="key-data"] td { font-size: 1.4rem; line-height: 1.9rem; padding-bottom: 66px !important; }
body.non-parallax .cr-landing table.rad-highlight[id^="key-data"]  tr:last-child td:last-child{ padding-bottom: 0 !important; }
.cr-section table.rad-highlight[id^="key-data"] td strong, #contentwrapper .section .key-data ul li strong { font-size: 5rem; padding-bottom: 10px; line-height:1.0em; }
.has-parallax .section2.cr-section .delivering-value-box { padding-top:7px; }
.tab-content .tab-image { padding: 0 !important; }
.delivering-value-box .tab-content .section-image { position: relative; bottom: 0; right: 0; }
.delivering-value-box .tab-text { padding: 16px 0 0 0; }
.year-in-review-landing .delivering-value-box .tab-text { padding: 16px 14px 0 14px; }
.year-in-review-landing .delivering-value-box .tab-content .tab-image { padding: 0 14px !important; }
.year-in-review-landing .financial-highlights-box{margin-top: 50px;}
.delivering-value-box .tab-text p:last-child { padding:0; }
.cr-section.case-studies .case-studies-box h3{ padding-top:0; }
.case-studies-box.case-studies1 { padding-top: 39px; }
.case-study-wrapper{ padding-bottom:0; }
.cr-section.section.section2 .section-image{ margin-top:0; margin-bottom:20px; }
.cr-section.section.section2 .drop-down{ padding-bottom:0; }
/* --------- corporate Responsibility ends  --------------- */

/* --------- Investor Landing starrs  ------------- */
.ir-landing .section2.section.slide h3::after { width: 70px; }
.has-parallax .ir-landing .delivering-value-box { padding-top: 40px; }
.delivering-value-box .gray-cntnt{ padding-bottom:0; }
.ir-landing.main-content .section:not(.section0) p{ line-height:2.4rem; }
.ir-landing .delivering-value-box .tab-text{ padding:20px 0 0 0; }
.ir-landing .section2.section.slide > div > div { padding-top: 39px; }
body.non-parallax .ir-landing table.rad-highlight#key-data-1 td { font-size: 1.6rem; padding-bottom: 30px !important; }
body.non-parallax .ir-landing table#key-data-1.rad-highlight tr:last-child td { padding-bottom: 0 !important; }
.ir-landing .section2.section .box-link { padding-top: 16px; }
.right-investor-section{ padding-top:17px; }
.ir-landing .section2.section .bottom-section .section-image{ position:relative; right:0; margin-top:0; }
.news-panel, .shareprice-panel, .ir-landing .left-investor-section{ padding-left:0; padding-right:0; }
.ir-landing  .shareprice-title{ padding-top:6px; }
.ir-landing .keyfinancials-section .right-investor-section { padding-top: 8px; }
.ir-landing table.rad-highlight[id^="key-data"] td strong { padding-bottom: 20px; }
.ir-landing .section2.section .right-investor-section {padding-right: 0;}
/* --------- Investor Landing ends  --------------- */

/* --------- Home page starts ------------- */
.home-landing .home-section.section1 .financial-highlights-box { margin-top: 31px; }
.home-landing  .home-section.section1 .financial-highlights-box h3 { font-size: 1.8rem; line-height: 2.2rem; width:100%; padding: 0 0 14px 0; }
.financial-highlights-box h3.rad-center::after{ padding-top:20px; }
.home-section.section1 .key-data { padding-top:0; margin-top:0; }
#contentwrapper .home-section.section1 table.rad-highlight[id^="key-data"] td { float:left; width:100%;  padding:0 0 30px 0; margin: 0;	}
#contentwrapper .home-section.section1 table.rad-highlight[id^="key-data"] td strong{ line-height:1.0em }
.home-landing .home-section.section2 .rightbox, .home-landing .home-section.section2 .rightbox .rightbox-inner{ position:relative; }
.home-landing .home-section.section2 .leftbox .leftbox-inner { padding:23px 0 15px;  }
.home-section .leftbox .leftbox-inner { padding-top: 38px; }
.home-section.section3 .news-panel { padding-top: 32px; }
.home-landing .home-section.section2 .leftbox .leftbox-inner h3 {width: 100%;}
.home-section .leftbox h3::after { width: 140px; }
#contentwrapper.home-landing .section2 .leftbox-inner-cntnt p.rad-quote { font-size: 1.8rem; /*padding-top: 19px; margin-bottom: 9px;*/ }

#contentwrapper.home-landing .home-news-item { padding: 0 0 20px 0; width: 100%; }
#contentwrapper.home-landing .news-item-inner { max-width: none; width: 100%; height:200px; }
.main-content .rns-item p.pr-title a{ padding:10px 7px 9px }
.home-section.section4 .leftbox .leftbox-inner { padding: 8px 0 0; }
#contentwrapper .section4  .leftbox-inner-cntnt p.rad-quote { font-size: 1.8rem; line-height: 2.4rem; margin-bottom:0; padding-bottom:13px; }
.home-section.section4 .green-box-link-wrap {padding-top: 18px;}
.home-section.section5 .leftbox .leftbox-inner{ width:100%; padding-top:37px; padding-right:0; }
.home-section.section5 .green-box-link-wrap { padding-bottom: 22px; }
.home-landing .home-section.section1 .cntnt-text { width: 100%; }
.home-section.section .sec6-head h3{ font-size:2.5rem; }
.home-section .sec6-box {padding: 0 0 15px 0;position: relative;bottom: auto;right: auto;height: auto !important;}
.home-section .sec6-box:last-child{ padding-bottom:0; }
.home-section.section6 .sec6-box2 .sec6-box-inr.img-zoom, .home-section.section6 .sec6-box3 .sec6-box-inr.img-zoom {width: 100%;}
.home-section.section5 .leftbox {padding-bottom: 0;}
#contentwrapper .section5 .leftbox .green-box-link:last-child, #contentwrapper .section4 .leftbox .green-box-link:last-child{ padding-bottom:0; margin-bottom:0; }
#contentwrapper.home-landing .section1 table.rad-highlight[id^="key-data"] { margin-bottom: 0; }
#contentwrapper.home-landing .section1 table.rad-highlight[id^="key-data"] tr:last-child td:last-child { padding-bottom:5px !important; }
.main-content .section6 .sec6-head h3::after { width: 108px; left: 50%;  margin-left: 0; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%);  }
.main-content .section6 .sec6-head { padding-top: 38px; }

.home-section.section2 .green-box-link { text-align: center;padding:0 14px; margin: 0px 0 25px 0;}
.home-section.section2  .rightbox, .home-section.section2 .rightbox .rightbox-inner{background:none;}

/* --------- Home page ends --------------- */


/* --------- Asos story page starts ---------- */

.vid-wrp { margin:0; }
.vid-wrp .vid-img-wrp img { width:100%; }
.vid-wrp a { margin:0; }
.vid-wrp .vid-caption { margin:0; }
.vid-wrp .photo-inner { width: 100%; max-width: none; }
.section.section4 .vslide-bottom .vid-wrp, .section.section5 .vslide-inner .vid-wrp { width:100%; bottom:auto; }
.section.section4 .vslide-bottom .vid-wrp { position:relative; }

.our-story-landing .section.story-section .left-col { padding-top: 38px; padding-bottom:28px; }
.our-story-landing .section3.story-section .vslide-inner .left-col { padding-bottom:0; }
.our-story-landing .section.story-section .sec-content>h2 { font-size: 2.5rem; padding: 0 0 14px 0; margin-bottom: 0; }
.our-story-landing .section.story-section .sec-content p:last-child{ padding-bottom:5px; }
.our-story-landing .section .left-col, .our-story-landing .section .right-col{ padding-right:14px !important; }
.our-story-landing .section .vslide-bottom .lvcol .cs-signpost { padding-top: 14px; padding-bottom:0; }
.our-story-landing .section1 .vslide-bottom .section-image{ min-height:0; }
#contentwrapper.our-story-landing .section.section1 .vslide-bottom .key-data{ width:100%; padding: 14px 0 40px 0; }
.our-story-landing .section .left-col .sec-content { padding: 0; }
.our-story-landing .section1 .right-col .green-box-link{ padding-bottom:0; }
.non-parallax .our-story-landing .section1 .vslide-inner .section-image { min-height: 360px; }
.our-story-landing .section.section1 .vslide-bottom .left-col .img-zoom, .our-story-landing .section.section2 .vslide-inner .right-col .img-zoom { width: 100%; margin: 0 0 20px; padding-bottom:0; }

.our-story-landing .section.section1 .vslide-bottom .left-col .img-zoom img, .our-story-landing .section.section2 .vslide-inner .right-col .img-zoom img { width: 100%; }
.our-story-landing .section.section1 .cs-signpost .img-zoom a, .our-story-landing .section.section2 .vslide-inner .cs-signpost .img-zoom a { width: 100%; }
.our-story-landing .section1 .vslide-bottom .right-col .section-image {min-height: 360px;}
.our-story-landing .section.section1 table.rad-highlight[id^="key-data"] tr td:last-child { padding: 0 !important; }
.our-story-landing .section.section1 .left-col .content-wrap .sec-sub-cntnt { padding-bottom:0; }
/*.our-story-landing .section.section1 .left-col table.rad-highlight[id^="key-data"] td{ margin-bottom:30px; }*/
.our-story-landing .section.section1 .left-col table.rad-highlight[id^="key-data"] td:last-child{ margin:0 auto; }
.our-story-landing .section.section2 .vslide-inner .right-col .cs-signpost{ margin:0; padding-bottom:0 }
.our-story-landing .section table.rad-highlight[id^="key-data"] td strong{ line-height:1.2em; }
.our-story-landing .section.section2 .vslide-inner .left-col .key-data { padding-top: 20px; padding-right: 0; }
.our-story-landing .section.section2 .cs-signpost { margin: 0; padding-top: 0; }
.our-story-landing .section.section2 .vslide-inner .right-col { padding-top:0; }
.our-story-landing .section.section2 .vslide-bottom .lvcol .vid-wrp { bottom: auto; width: 100%; position: relative; }
.our-story-landing .section.section2  .sec-sub-cntnt { padding: 18px 0 30px; }
.our-story-landing .section.section2 .sec-bott-cntnt { padding-top: 20px; }
.vid-signpost .vid-wrp .photo-inner { max-width: none; }
.our-story-landing .section.section2 .right-col { padding-top: 10px; }
.our-story-landing .section.section2 .vslide-bottom .sec-bott-cntnt { margin-top: 0; }
.our-story-landing .section.section2 .vslide-bottom .outer-rad-quote { margin-left: 0; width: 100%; }
.our-story-landing .section.section2 .right-col .green-box-link { padding-bottom: 0px; }
.our-story-landing .section .key-data { padding-right: 0; padding-top:20px; width:100% !important; }
#contentwrapper.our-story-landing table.rad-highlight[id^="key-data"] { margin-bottom: 0px; }
#contentwrapper.our-story-landing .section.section2 .key-data ul:not(.slick-initialized) li { float:none; }
/* .our-story-landing .section3 .vslide-inner table.rad-highlight[id="key-data-6"] tr td:last-child { padding-bottom:0; } */
.our-story-landing .story-section.section1 .vslide-inner .right-col { padding-top:15px; }
.our-story-landing .section3 .vslide-inner .right-col{ height:360px }
.our-story-landing .section3 .vslide-bottom .rvcol .vid-wrp { padding: 0; width:100%; }
.our-story-landing .section3 .lvcol .sec-bott-cntnt { width: 100%; padding-top:0; }
.our-story-landing .section3 .lvcol .section-image { width: 100%; }
.our-story-landing .section3 .vslide-bottom .rvcol::before{ display:none; }
.our-story-landing .section3 .left-col .content-wrap .sec-sub-cntnt { padding-bottom:0; }
.our-story-landing .section4 .vslide-inner .left-col .vid-wrp { width: 100%; position: relative; bottom: auto; padding-top: 30px; }
.our-story-landing .section4 .vslide-inner .left-col .vid-wrp .photo-inner { max-width: none; }
.our-story-landing .section4 .vslide-inner .section-image { min-height: 360px; margin-top: 0; margin-bottom:30px; }
#MainWrapper .our-story-landing .section4  table.rad-highlight[id^="key-data"] { width:100%; padding: 20px 0 0; }
#MainWrapper .our-story-landing .section4  table.rad-highlight[id^="key-data"] td { width: 100%; padding: 0 0 0 !important;  }

#MainWrapper .our-story-landing .section5  table.rad-highlight[id^="key-data"] td { width: 100%; padding: 0 0 0 !important;  }

#MainWrapper .our-story-landing .section.section4 .key-data { padding:0; }
.our-story-landing .section4 .vslide-bottom .lvcol .cs-signpost, .our-story-landing .section4 .vslide-bottom .sec-sub-cntnt { padding-bottom: 0; }
.our-story-landing .section4 .vslide-bottom .lvcol .cs-signpost .img-zoom, .our-story-landing .section4 .vslide-bottom .lvcol .cs-signpost .img-zoom img { width: 100%; }
.our-story-landing .section4 .vslide-bottom .lvcol .cs-signpost .img-zoom{ margin:0 0 20px; }
.our-story-landing .section4 .vslide-bottom .left-col { padding-bottom: 0; }
#MainWrapper .our-story-landing .section4 .right-col .sec-bott-cntnt { bottom: auto; float: left; padding-top:30px; }
#contentwrapper.our-story-landing .section4 .vslide-bottom .right-col.rvcol .green-box-link {  left: 14px; bottom: 15px; width: calc( 100% - 56px ); margin-left: 14px; }
.our-story-landing .section5 .vslide-inner .vid-wrp .photo-inner { max-width: none; }
.our-story-landing .section5 .vslide-inner .vid-wrp { bottom: auto; position: relative; width: 100%; margin: 0; padding-top: 20px; }
.our-story-landing .section5 .vslide-inner .left-col{ padding-bottom:0; }
.our-story-landing .section5 .vslide-bottom .left-col{ padding-top:0; }
.our-story-landing .section5 .vslide-bottom .left-col { padding-top: 17px; }
.our-story-landing .section5 .vslide-bottom .left-col .content-wrap .img-zoom { width: 100%; margin:0 0 20px; padding:0; }
.section.section4 .vslide-inner .img-zoom a, .section.section5 .vslide-bottom .cs-signpost .img-zoom a { float:left; }
.our-story-landing .section5 .vslide-bottom .left-col .content-wrap .img-zoom img{ max-width:none; width:100%; }
.our-story-landing .section5 .vslide-bottom .lvcol .cs-signpost { padding-bottom: 0; }
.our-story-landing .section5 .vslide-bottom .right-col .section-image{ height:360px; }
#contentwrapper.our-story-landing .section5 .vslide-bottom .right-col .key-data table { width: 100%; }
#contentwrapper.our-story-landing .section5 .vslide-bottom .green-box-link { padding: 30px 0 0; }
#contentwrapper.our-story-landing .section5 .vslide-bottom .key-data { padding-top: 0; }
.our-story-landing .section.section2 .vslide-bottom p.rad-quote, .our-story-landing .section.section5 .vslide-inner p.rad-quote {line-height: 1.4em;}
.our-story-landing .section.story-section .photo-inner a::after, .our-story-landing .photo-inner a.rad-video::after { position: relative; top: -18px; float: none; left: 50%;font-size: 3.5rem;padding:8px; }
#contentwrapper .section.section5 .vslide-bottom .key-data table td:last-child { padding-bottom: 0px !important; }
.our-story-landing .section .section-image {  margin-top:0; }
.our-story-landing .section .vslide-bottom .left-col .content-wrap .sec-sub-cntnt{ padding-bottom:0; }
/* --------- Asos story page ends ------------ */

.section .photo-inner a.rad-video::after{left:50%;font-size:3.5rem;padding:8px;bottom:-25px;}
.media-landing .section2 .photo-inner a.rad-video::after{left:50%;font-size:3.5rem; padding:8px;bottom:-25px;}
.media-gallery .photo-inner a.rad-video::after{left:50%;font-size:3.5rem; padding:8px;bottom:-25px;}
.media-landing .mediaGallery-item{margin-bottom:24px;}
.media-landing .section2 .mediaGallery-item .vid-wrp{padding-left:0}

.has-parallax .cr-section.section3 .row .case-study-wrapper.row{margin-right: 0;margin-left: 0;}
}

@media all and  (max-width:640px) {
.slick-initialized .slick-slide { float:left; }

}

@media all and  (min-width:480px) and (max-width:767px) {
#contentwrapper.home-landing .news-item-inner, .media-landing .section3 .news-item-inner { width:auto;height:auto;max-height:300px; }
}


@media all and  (max-width:480px) {
.careers-landing .bod-inner {    max-width: 100%;}
.careers-landing .section1 .section-image {    min-height: 300px !important;}


#contentwrapper .news-item-inner img { width: 100%; height: auto; }
.careers-landing .section2 .leftbox .leardershipWrap { margin-left: 0;width: 100%;padding-left: 0; }
.careers-landing .bod-item.bod-item1{ padding-left:0; padding-right:0; }
.careers-landing .section2 .rightbox .leardershipWrap{ padding-left:0; padding-right:0; width:100%; }
.careers-landing .section3 .vid-wrp .photo-inner { max-width: none; }
.case-study-item .case-study-item-inner { width: 100%; display: block; max-width: none; }
.case-study-item .case-study-item-inner img { width: 100%; }
.vid-wrp { margin: 0;/* padding-left:16px;*/ width: 100%; }
.case-study-item { padding-left: 0; padding-right: 0; }
/* .case-study-item:last-child{ padding-bottom:0; } */
#contentwrapper.our-story-landing .section.section2 .key-data ul:not(.slick-initialized) li { width:100% }
/* -------- Green link fullwidth ----------- */
.home-section.section4 .leftbox .leftbox-inner .leftbox-inner-cntnt .green-box-link{ width:100%; }
.green-box-link p, .green-box-link p a, .tab-text .rad-link{ width:100%; margin:0; }
.tab-text .rad-link{ margin-top:25px; }
.green-box-link:not(#loadmore) p a strong, .tab-text .rad-link strong{ text-align:center; width:calc(100% - 40px); }
.scrollToNext { width: calc(100% - 30px); }
.scrollToNext strong { width: 100%; text-align: center; }
.home-section.section5 .leftbox .green-box-link { width: 100%; }
.careers-landing .section3.spotlight-on .rightbox .green-box-link { width: 100%; margin: 0 0 20px; }
.careers-landing .section3.spotlight-on .rightbox .green-box-link:last-child{ margin:0; }
.careers-landing .section3 .rightbox .green-box-link a span.icon-chevron-right { margin-top: -4px;	}
/* -------- Green link fullwidth ----------- */
}

@media all and  (max-width:359px) {
.followerItem{ width: 100%; padding-bottom:20px; }
/* --------- careers starts ----------- */
.careers-landing .section3 .vid-wrp .photo-inner { max-width: none; }
.careers-landing .section3.spotlight-on .rightbox .green-box-link a, .careers-landing .section3.spotlight-on .rightbox .green-box-link p, .careers-landing .section3.spotlight-on .rightbox .green-box-link{ width:100%; }
.careers-landing .section1.careers-section .leftbox .green-box-link p{ position:relative; }
.careers-landing .section1.careers-section .leftbox .green-box-link p a{ padding:12px 15px 12px 15px; }
.careers-landing .section1.careers-section .leftbox .green-box-link p a span.icon-chevron-right { top:30px; position: absolute; right: 10px; }
/* --------- careers ends ----------- */
}

@media all and (min-width: 640px) and (max-width: 767px) {
.home-section.section5 .leftbox .green-box-link{width: 47%; margin-right:9px;}
.our-story-landing .section3 .vslide-inner .right-col{height: 560px;}
.non-parallax .our-story-landing .section1 .vslide-inner .section-image{min-height: 560px;}
}


@media all and (max-width:991px) {
.cr-timeline-landing .timeline-wrapper div.col-md-2 {width: 25%;}
.home-section.section2 .rightbox-inner{position:relative;}
.sec6-box-cntnt-new p.sec6-box-ttl{ font-size:2.2rem; }
.photo-inner-cntnt .cntnt-inn {  padding: 0 10px;}
}

@media all and (min-width:768px) and (max-width:991px) {
 #logo > img{max-width:100px;}
}

@media all and (max-width:767px) {
	
.main-content .h1.subpage-ttl {
    margin: -72px 0 0 0;
}

.our-story-landing .section.story-section.section1 .left-col, .our-story-landing .section.story-section.section2 .left-col, .our-story-landing .section3.story-section .vslide-inner .left-col, .our-story-landing .section.story-section.section4 .left-col, .our-story-landing .section5 .vslide-inner .left-col {
    padding-top: 0;
}
#slidesContainer .section.story-section:not(.section0) {
    padding-top: 54px !important;
}
.story-section.section .sec-content {
    padding-top: 0 !important;
}

#slidesContainer .section.story-section table.rad-highlight[id^="key-data"] tr td {
    float: left;
    margin-bottom: 0;
    padding: 0 14px 50px !important;
    width: 100%;
}
#slidesContainer .section.story-section table.rad-highlight[id^="key-data"] tr td strong {
    font-size: 5.5rem;
}
.our-story-landing .section .left-col .key-data {
    padding: 0;
}
.our-story-landing #slidesContainer .section .left-col .sec-content {
    padding-bottom: 10px;
}
#slidesContainer .section.story-section table.rad-highlight[id^="key-data"] tr:last-child td:last-child {
    padding-bottom: 0 !important;
}
.our-story-landing #slidesContainer .story-section.section1 .right-col,.our-story-landing #slidesContainer .story-section.section2 .right-col {
    padding-left: 0;
    padding-right: 0 !important;
    padding-top: 0;
}
.our-story-landing #slidesContainer .section1 .box-abs-link,.our-story-landing #slidesContainer .section2 .box-abs-link,.our-story-landing #slidesContainer .section3 .box-abs-link, .our-story-landing #slidesContainer .section4 .box-abs-link,  .our-story-landing #slidesContainer .section5 .box-abs-link   {
    left: 14px;
    right: 14px;
    transform: translateX(0px);
}
.our-story-landing .section3{padding-bottom:0}
.story-section.section2 .vid-wrp .photo-inner {
    margin-top: 0;
}
.story-section.section2 .vid-caption {
    margin-bottom: 30px;
}
.section2.story-section .vid-signpost.visible-xs {
    padding: 0;
}
.our-story-landing .section.story-section.section2 .left-col {
    padding-bottom: 4px;
}
.our-story-landing .section-3-other-content {
    padding-bottom: 30px;
    padding-top: 10px;
}
.section3.story-section .section-image.visible-xs {
    min-height: 409px;
}
.our-story-landing .section3 .vslide-inner .right-col {
    height: auto;
}
.vid-signpost.col-sm-offset-2 {
    margin-left: 14px;
}
.section4.section.story-section {
    padding-bottom: 0;
}
.story-section.section4 .photo-inner.video-item {
    margin-top: 0;
}

.our-story-landing .section.section5 .vslide-inner .outer-rad-quote {
    padding: 20px 0 0;
    position: relative;
}


#slidesContainer, .section5.section.slide.vslide.story-section  {
    padding-bottom: 0;
}

.our-story-landing .section.section5 .vslide-inner .section-image {
    min-height: 409px;
}

.careers-landing .section3 .photo-inner a.rad-video::after{left:50%;}
.careers-landing .section1 .leftbox-inner{padding-right:0;}
#contentwrapper.careers-landing .leftbox-inner-cntnt {
    padding-bottom: 25px;
}

#slidesContainer .section4 .section-image.visible-xs {margin-bottom: 0;}

.tabs-wrapper {	background-color:transparent; position: relative; left: auto; bottom: auto; padding:0 14px; z-index:0; margin-top:45px;  }
.cr-timeline-landing .section:not(.section0) h2 { padding-top: 30px; }
.cr-timeline-landing .section:not(.section0) h3 { padding-top: 0; padding-bottom:7px; margin-bottom:18px; }
.cr-timeline-landing .timeline-wrapper div.col-md-2 {width: 50%;}
.leftbox-inner-cntnt p:last-child{ padding-bottom:0; }
#contentwrapper table.rad-highlight[id^="key-data"]{ margin:10px 0 0; }
#contentwrapper table.rad-highlight[id^="key-data"] + table.rad-highlight[id^="key-data"] { margin-top: 0; } 
.home-section .rightbox { min-height: 0; padding: 0 15px; }
.home-section.section2 .rightbox{ padding:0; }
.section-right-image { position: relative; bottom: 0; width: 100%; min-height: 400px; }
.section-right-image img { bottom:0; width: 100%; height: auto;	}
.section4 .section-right-image img, .section5 .section-right-image img{ bottom:auto; top:0; }
.section4 .leftbox {padding-bottom: 20px;}
.media-landing .section4{ padding-bottom:0; }
.media-landing .section4 .leftbox{ padding-bottom:0; }
.sec6-box1 {margin-bottom:0;}
#contentwrapper.home-landing {margin-bottom:0;}
.sec6-box-cntnt-new p{ line-height:1.5em; }
.home-section.section4 .leftbox .leftbox-inner .leftbox-inner-cntnt .green-box-link, .home-section.section5 .leftbox .green-box-link{ margin-bottom:24px; }
.section5 .leftbox-inner > h3{ text-align:center; }
.home-section.section5 .black-cntnt.leftbox h3::after { width:100px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); -moz-transform: translateX(-50%); -o-transform: translateX(-50%); }

.cr-section .financial-highlights-box .key-data, .cr-section .financial-highlights-box .key-data table { margin-top: 0px; }

.cr-section .financial-highlights-box .key-data, .cr-landing .cr-section.section2 .delivering-value-box .tab-text > p:first-child{ margin-bottom:0; }
.cr-landing .cr-section.section2 .delivering-value-box .tab-text{ padding-top:11px; }
.has-parallax .cr-section.section2 .delivering-value-box h3{ font-size:2.5rem; }
.cr-landing .cr-section.section3 .case-studies-box.case-studies1 { padding-top: 29px; }
.cr-landing .cr-section.section3 .case-study-item:last-child, .cr-landing .section3 .case-study-wrapper{ padding-bottom:0; }
/*.ir-landing .section2.section .top-section {padding-bottom: 0;}*/
.ir-landing .section2.section .shareprice-panel .share-link.box-link {
	padding-top:22px;
}
.delivering-value-box .tab-text > p:first-child {margin-bottom: 0;}
.careerWebsiteLinkWrap { padding-top:30px ; }
.careers-landing .section3 .memberDesignation {padding-bottom: 30px;}

.media-landing .section2 .rightbox .photo-inner.video-item { position: relative;height: auto; }
.media-landing .mediaGallery-item .photo-inner.video-item {min-height: 241px; max-height: 251px;}
.media-landing .mediaGallery-item .photo-inner.video-item img {/*bottom: -62%;*/ position: relative; top: auto; right: auto; bottom: auto; left: auto; height: auto; width: auto;}

.media-landing .section2 .photo-inner.video-item a:after, .media-landing .section2 .photo-inner.video-item a.rad-video:after {position: relative; left: -45%; top: -74px; }
}

@media all and (min-width: 640px) and (max-width: 767px) {
.leadership-container .bod-overlay .lcol{background-size:contain !important;height:98%;background-position:top left !important; }
}

@media all and (max-width:736px) {
	.media-landing .section2 .photo-inner.video-item a:after, .media-landing .section2 .photo-inner.video-item a.rad-video:after {left: -45%; top: -38px;}
}
@media all and (max-width:667px) {
	.media-landing .section2 .photo-inner.video-item a:after, .media-landing .section2 .photo-inner.video-item a.rad-video:after {left: -45%; top: -45px;}
}
@media all and (max-width:640px) {
	.media-landing .section2 .photo-inner.video-item a:after, .media-landing .section2 .photo-inner.video-item a.rad-video:after {left: -45%; top: -62px;}
}

@media all and (max-width:568px) {
	.media-landing .section2 .photo-inner.video-item a:after, .media-landing .section2 .photo-inner.video-item a.rad-video:after {left: -45%; top: -100px;}
}

@media all and (max-width:480px) {
.delivering-value-box .tab-content .section-image {height:300px !important;;}
.cr-timeline-landing .timeline-wrapper div.col-md-2 {width: 100%;}
.section-right-image { min-height:300px; }
.media-landing .section2 .green-box-link-wrap { padding-top: 10px; }

}

@media all and (max-width:414px) {
	.media-landing .section2 .photo-inner.video-item a:after, .media-landing .section2 .photo-inner.video-item a.rad-video:after {left: -45%; top: -74px;}
}
@media all and (max-width:375px) {
	.media-landing .section2 .photo-inner.video-item a:after, .media-landing .section2 .photo-inner.video-item a.rad-video:after {left: -45%; top: -45px;}
}

@media all and (max-width:360px) {
.sec6-box-inr.img-zoom { position: relative; width: 100%; height: 200px; }
.sec6-box-inr img { width: auto; height: 100%; max-width: none; position: absolute; left: -100%; right: -100%; bottom: 0; margin: auto; }
}

