/*.main-sub-nav { padding-top:109px !important; }*/
.main-content.auto-hide-header { padding-top:63px; }

/*.main-sub-nav #section-Homepage-level2 { margin-top:1px; }*/
#section-Homepage-level2 > div { float:left;margin-bottom:-1px; }

.main-nav ul li { display:inline-block; font-size:1.8rem; padding:0 2.8%; }
.main-nav ul li.first { padding-left:0; }
.main-nav ul li.last { padding-right:0; }
.main-nav ul li.current > span, #header .main-nav ul li.selected > a { color:#36acdc; }

/*---   Second level subnav   ---*/

/*.secondlevelfirst6, .secondlevelarwdd { margin-top: 1px; }*/
.main-sub-nav ul { list-style-type:disc; padding-left:0; margin-bottom:0; float:right; position:relative; }
.main-sub-nav ul ul { list-style-type:circle; margin-top:0; }
.main-sub-nav ul li { display:inline-block; font-size:1.4rem; position:relative; }
.main-sub-nav ul, .main-sub-nav ul ul {margin:0;}
.main-sub-nav ul li a { display:inline-block; width:100%;border-bottom:0 none; }
.main-sub-nav .secondlevelnextall ul li.haschildren > a{width:184px;}
.main-sub-nav ul li span { padding:5px 17px 9px; display:inline-block; }
.main-sub-nav ul li a:hover, .main-sub-nav ul li.current > span, .main-sub-nav ul li.selected a:hover{ color:#fff; background:#000; }





.main-sub-nav ul li.current > span { color:#36acdc; background:none; }
.main-sub-nav ul li.selected > a { color:#36acdc; }
.main-sub-nav ul li:hover ul { display:block; }
.main-sub-nav ul li ul { margin:0; padding:0; display:none; position:absolute; left:0; background:#f4f4f2; z-index:9; }
.main-sub-nav ul li ul li { display:block; padding:5px; }
.main-sub-nav ul li.haschildren li span { padding: 7px 11px 9px 20px; padding-right:17px; float:left; width:100%; }
.main-sub-nav ul li span.icon-chevron-down { color:#68ada0; padding:12px 5px; }
.main-sub-nav .secondlevelfirst6 ul li.haschildren ul, .main-sub-nav .secondlevelfirst6 ul li.haschildren ul li { width:100%; margin:0; padding:0; }
.main-sub-nav .secondlevelfirst6 ul li.haschildren ul { width: 246px; }
.main-sub-nav .secondlevelfirst6 ul li.haschildren ul:hover { display:block; }

.main-sub-nav ul li.level2.haschildren > a > span::after, .main-sub-nav ul li.level2.haschildren > span::after,.main-sub-nav li > span span.clickmore:after, .back-Menu:before { padding-left: 10px; content: "\f078"; color: #68ada0; font-size:1.2rem; }

.main-sub-nav ul li.level2.haschildren:hover > a > span::after { color:#fff; }

.secondlevelnextall { position:absolute; right:0; z-index:99; width:210px; top:40px; visibility:hidden;opacity:0; transition: all 0.5s ease 0s;height:999px;overflow-x:hidden;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;}

.wrapperParent:hover .secondlevelnextall {
    visibility:visible;opacity:1;
}

.secondlevelnextall ul, .secondlevelnextall li { width:100%; }
.secondlevelnextall li { line-height: 1.5em; }
.secondlevelnextall li span { padding: 7px 9px 11px; }
.secondlevelarwdd .icon-angle-double-right { color: #68ada0; font-size:1.9rem; padding:9px 0 12px; margin:0; width:25px; display:inline-block; text-align:center; }
.icon-angle-double-right.hovered,.secondlevelarwdd .icon-angle-double-right.active, .secondlevelarwdd .icon-angle-double-right:hover { background:#000; color:#fff; cursor:pointer; }
.icon-angle-double-right.hovered:before,.secondlevelarwdd .icon-angle-double-right:hover::before, .secondlevelarwdd .icon-angle-double-right.active::before { content:"\f103"; }
.secondlevelnextall .level2.haschildren ul { position:absolute; width:210px; top:0; }
.secondlevelnextall .level2.haschildren ul li { margin:0; padding:0; }
.secondlevelnextall .level2.haschildren ul li, .secondlevelnextall .level2.haschildren ul li a,
.secondlevelfirst6 ul li ul li, .secondlevelfirst6 ul li ul li a
{ display:table !important; }
.main-sub-nav .secondlevelnextall .level2.haschildren > a span.icon-chevron-down { padding:11px 8px 1px 8px; float:right; }
.main-sub-nav .secondlevelnextall .level2.haschildren > a:hover span.icon-chevron-down { color:#fff; }
span.chevron-active::before { color:#fff; }

.hambg { float: right; height: 33px; transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; width: 37px; }
.hambg > a { display: block; height: 33px; width: 37px; position: relative; }
.hambg > a span { background: #004696; display: block; height: 7px; left: 0; opacity: 1; position: absolute; top: 0; width: 100%; }
.hambg a span:nth-child(2) { top: 13px; }
.hambg a span:nth-child(3) { top: 26px; }
.hambg .icon-bars { color: #004696; display: block; font-size: 3rem; text-align: center; }

a[href^="tel:"].mobile-tel-link { color: inherit !important; cursor: pointer !important; }
#contentwrapper .ymobiDropdown ul li.current a { background: #f01e28; color: #fff; }
.mobi-menu-search { display: none; }


.mm-opening body.ie9 .mobimenuclose { display: block; right: 260px; }
.mobimenuclose a { background: #004696; height: 65px; position: absolute; right: 0; top: 0; width: 62px; z-index: 10; }
.mobimenuclose a span { background: #FFF; display: block; height: 5px; left: 20px; position: absolute; top: 29px; width: 23px; }

.mm-opening .mobimenuclose a span:nth-child(1) { transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); }
.mm-opening .mobimenuclose a span:nth-child(2) { transform: rotate(135deg); -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); }
#contentwrapper .pr-category-tab .mobiDropdown ul li.selected a { background: #929292; color: #fff; }
p.mobi-drp-menu-selected { background: #929292; }
.mobi-menu-search { display: none; float: right; margin-top: 33px; width: 100px; margin-right: 18px; }
#mobihomebanner { display: none; }
.mobiDropdown, .ymobiDropdown { display: none; }
p.mobi-drp-menu-selected, p.ymobi-drp-menu-selected { background: #fff none repeat scroll 0 0; cursor: pointer; display: inline-block; font-family: "FSMatthewWebRegular", "Arial", sans-serif !important; font-size: 1.8rem; padding: 16px 60px 16px 20px; position: relative; width: 100%; }
p.mobi-drp-menu-selected { font-family: "FFClanWebProNewsItalic", "Arial", sans-serif !important; line-height: 1; padding: 16px 60px 10px 20px; }
#contentwrapper .mobiDropdown ul, #contentwrapper .ymobiDropdown ul { display: none; }
#contentwrapper .mobiDropdown ul li, #contentwrapper .ymobiDropdown ul li { border: medium none !important; float: none; height: auto !important; text-align: left !important; width: 100%; }
#contentwrapper .mobiDropdown ul li a, #contentwrapper .ymobiDropdown ul li a, #contentwrapper .mobiDropdown ul li > span, #contentwrapper .ymobiDropdown ul li > span { background: #fff none repeat scroll 0 0; border-bottom: 1px solid #eaeaea; color: #2a2a2a; padding: 12px 20px; }
#contentwrapper .mobiDropdown ul li a:hover, #contentwrapper .ymobiDropdown ul li a:hover, #contentwrapper .mobiDropdown ul li > span, #contentwrapper .ymobiDropdown ul li > span { background: #929292 none repeat scroll 0 0; color: #fff; text-decoration: none; }
.ymobi-drp-menu-selected.yactive.icon-chevron-up:before, .mobi-drp-menu-selected.active.icon-chevron-up:before { margin-top: -9px; transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
.ymobi-drp-menu-selected.icon-chevron-up:before, .mobi-drp-menu-selected.icon-chevron-up:before { color: #f01e28; display: block; font-family: "icomoon" !important; font-size: 2rem; margin-top: -5px; position: absolute; right: 10px; top: 50%; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); }
.mobi-drp-menu-selected.icon-chevron-up:before {}

.mm-opening .hide-content { background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 1; }
.mm-opening body.ie9 .mobimenuclose { display: block; right: 260px; }

.mm-opening .mobimenuclose a span:nth-child(1) { transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); }
.mm-opening .mobimenuclose a span:nth-child(2) { transform: rotate(135deg); -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); }

body > *, #mmenu > * { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); webkit-tap-highlight-color: transparent; }
/*,  #header:hover .header-inner */
.header-inner {
    min-height: 105px;
    transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
}
.header-inner.compact { min-height: 71px; }
  /*,#header:hover #logo > a,  #header:hover #logo > img*/
#logo > a, #logo > img{
    transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    width: 100px;
}
.compact #logo > a,.compact #logo > img {
    width: 100px;
}
/*, #header:hover #right-hdr-top*/
#right-hdr-top {
    height: 51px;
    transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
}
.compact #right-hdr-top {
    height: 0;
    overflow: hidden;
    padding: 0;
}
.compact .right-hdr-bottom.main-nav {
    padding-top: 20px;
}
/*, #header:hover .right-hdr-bottom.main-nav*/
.right-hdr-bottom.main-nav {
    padding-top: 0;
    transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
}

.has-parallax .row{margin-right:0; margin-left:0;}
body#ip3-corporate-responsibility .has-parallax .cr-section.section3 .case-studies-data .row{margin-right:-14px; margin-left:-14px;}

.main-content.pad-none { padding-left: 0; padding-right: 0;}
.secondlevelnextall .level2.haschildren ul {left: 210px;display:block;z-index:999;min-height:100%;}
.secondlevelnextall.sameChild ul {background: #f4f4f2 none repeat scroll 0 0;}
.main-sub-nav .secondlevelnextall li{position:static;}
.main-sub-nav .secondlevelnextall li.haschildren span:not(.clickmore):after {
    display: none;
}
.main-sub-nav li span.clickmore {
    display: inline;
    float: right;
    height: auto;
    padding: 10px 5px 11px 0;
    position: relative;
    right: 0;
    /*transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);*/
    width: 25px;
    z-index: 99;
    cursor:pointer;

}
.main-sub-nav li.level2.haschildren span.clickmore::before{content:"";display:inline:height:85%;border-left:1px solid #cbcbcb;left:-1px;position:relative;}
.main-sub-nav li.level2.haschildren span.clickmore:after{content: "\f054";padding-left:8px;}
.main-sub-nav li.level2.haschildren span.clickmore:hover{background:#000;color:#fff}
.main-sub-nav li.level2.haschildren span.clickmore:hover:after{color: #fff;}
.back-Menu { border-bottom: 1px solid #6aac9f;}
.back-Menu:before {
    color: #000;cursor:pointer;
    position: absolute;
    top: 8px;
    transform: rotate(90deg); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg);
}
.back-Menu:hover:before {
    color: #fff;
}

.main-sub-nav .secondlevelfirst6 ul li.haschildren ul ,.secondlevelnextall.sameChild > ul{
       box-shadow: -1px 5px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 5px 8px rgba(0, 0, 0, 0.3);
    -o-box-shadow: -1px 5px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 5px 8px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: -1px 5px 8px rgba(0, 0, 0, 0.3);
}
.img-gallery-wrap ul { padding-left: 0;margin:0;}


.ip3-level1 .landing-banner-text-wrapper .playicon {
    left: 0;
    position: absolute;
    right: 0;
    z-index:99
}
.ip3-level1 .landing-banner-text-wrapper {
    bottom: 97px;
    padding-bottom: 100px;
    top: auto;
}

.ip3-level1 .landing-banner .green-box-link {
    bottom: -50px;
    left: 0;
    position: absolute;
    right: 0;z-index:99
}
#ip3-asos-story .next-parlx{ display:none; }
#ip3-asos-story .next-parlx>span{ display:none; }
#ip3-asos-story .next-parlx::after { cursor:pointer; content: ''; position: absolute; display:block; width:20px; height:20px; border-left:3px solid #fff; border-bottom:3px solid #fff; right:13px; top:-13px; transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); }
