@charset "utf-8";
/* CSS Document */

.mn-wrap, #loadmore, .pagination, #bannerwrapper, #leftcol, #breadcrumb, #backtoTop, #footerwrapper {display:none;}
tr, p,img, h1, h2, h3, h4, h5, h6 { page-break-inside:avoid; color:#000;}

.photo-inner { page-break-before:avoid; }

.photo-item { position: relative; margin: 0 !important; top: auto !important; left: auto !important; }
.media-gallery .top-right { display:none; }
#header {position: relative;}
#header-right, .main-sub-menu-row{display:none;}
.main-content h1{margin:0 0 20px 0; float:none;}
#header .header-inner{overflow:visible;}
#MainWrapper {overflow-x: visible;}
#logo {padding-top: 16px;top:0; height:200px;}

/*--------Extra changes---------*/
html,body{height:auto;}
.delivering-value-box .tab-content .section-image{display:block; visibility:visible;}
.tab-text,.tab-image,.tab-cntnt-container,.section-right-image,.rightbox,.leftbox,.snapdown-content,.right-col,.left-col,.tab-content,.section,.news-item-inner,.landing-bnr-txt,.landing-bnr-subtxt,.section-image,.BannerImage{display:block !important; width:100%; page-break-inside:avoid;}
.mobi-menu-search,.green-box-link,.scrollToNext{visibility:hidden;}
img{page-break-inside:avoid; max-height:400px;}
#footer,.filter-tab,.bottom-signpost-wrapper,.jta-loading,.para-pager{visibility:hidden; height:0;width:0;display:none !important;}
