@media all and (max-width: 1440px) {

.sub-content-page .strapline-text { max-width:400px; }

}


@media all and (max-width: 1024px) {

.on-page-cs-item .cs-img { margin-right: 7%; }
.sub-content-page .strapline-text { padding-top: 5px; }
/*.sub-content-page .top-cntnt img { width:50%; }*/
.on-page-cs-item { padding-top: 20px; }
.on-page-cs-item h2.dsktp, .on-page-cs-item h2.mbl { margin: 25px 0 15px; }
#contentwrapper .on-page-cs-item table.rad-highlight[id^="key-data"] { margin: 25px 0; clear:left; }
.cs-highlighted-text { width:85%; padding-bottom: 20px; }
#contentwrapper .on-page-cs-item table.rad-highlight[id^="key-data"] td { padding-bottom: 40px; }
.on-page-cs-item h2 { font-size: 4.0rem; }

}

@media all and (max-width: 991px) {

.sub-content-page .strapline-text { max-width: 250px; }
.onpage-cs-wrapper table#key-data-1.rad-highlight[id^="key-data"] td { width: auto; float: none; display: table-cell; }
.sub-content-page .top-cntnt .cs-img { width: 45%; }
.on-page-cs-item .cs-img { margin-right: 5%; }
.on-page-cs-item h2.dsktp, .on-page-cs-item h2.mbl { margin: 0 0 10px; }
.main-content .on-page-cs-item p.rad-quote { font-size: 2.0rem; }
.on-page-cs-item h2 { margin-bottom: 15px; }
.core-cntnt-page.main-content.sub-content-page h3 { font-size: 2.0rem; }
.sub-content-page .strapline-text h2 { font-size:2.2rem; }


}


@media all and (max-width: 767px) {

.ip3-level1 .landing-banner-text-wrapper {
    bottom: 45px;
    position: absolute;
    top: auto;
}
.ip3-level1 .landing-banner .green-box-link {
    bottom: -15px;
    left: 14px;
    right: 14px;
}

.ir-landing .section2.section.slide .keyfinancial-title h3 {
    margin-bottom: 0;
}
.ir-landing .section2.section.slide .shareprice-title h3 {
    margin-bottom: 10px;
}
.ir-landing .section2.section.slide .news-title h3 { margin-bottom: 10px;}
.ir-landing .shareprice-title {
    padding-top: 19px;
}
.ir-landing .keyfinancials-section .right-investor-section {
    padding-top: 19px;
}

#contentwrapper.ir-landing table.rad-highlight[id^="key-data"] td {
    text-align: left;
}
.ir-landing .section2.section .left-investor-section .box-link {
    padding-top: 0;
}
#contentwrapper.ir-landing table.rad-highlight[id^="key-data"] tr:last-child td:last-child {
    padding-bottom: 19px;
}
.right-investor-section .latest-rns-news {
    padding-bottom: 0;
}
.ir-landing .section2.section .box-link.news-link {
    padding-top: 11px;
}
.ir-landing .section2.section .shareprice-panel .share-link.box-link {
    padding-top: 10px;
}

.sub-content-page .strapline-text { max-width:100%; }
.subpage-ttl h1 { font-size: 3.2rem; }
.on-page-cs-item .dsktp, .on-page-cs-item .dsktp { display:none; }
.on-page-cs-item .mbl, .on-page-cs-item .mbl { display:block; }

.sub-content-page .top-cntnt .cs-img { width: 100%; float: none; margin: 0 0 20px 0; }
.core-cntnt-page.main-content.sub-content-page h3 { font-size:2.0rem; margin-bottom:15px; }
.on-page-cs-item .cs-img { margin: 0 0 25px 0; width: 100%; max-width: 100%; }
.on-page-cs-item .cs-img img { width:100%; }
#contentwrapper .on-page-cs-item table.rad-highlight[id^="key-data"] { margin: 25px auto; }
.onpage-cs-wrapper table#key-data-1.rad-highlight[id^="key-data"] td { display:block; }
.sub-content-page .strapline-text h2 { font-size:1.8rem; padding: 0 0 10px; }
.sub-content-page .strapline-text { padding:0; }
.sub-content-page #contentwrapper .top-cntnt h3 { font-size:2.0rem; }
.on-page-cs-item h2.dsktp, .on-page-cs-item h2.mbl, .on-page-cs-item h2 { font-size: 3.0rem; }
#contentwrapper .on-page-cs-item table.rad-highlight[id^="key-data"] td { margin-bottom:0; }
/*#contentwrapper .on-page-cs-item table.rad-highlight[id^="key-data"] tr:last-child td { padding-bottom: 40px; }*/
#contentwrapper .on-page-cs-item table.rad-highlight[id^="key-data"] tr:last-child td:last-child { padding-bottom: 0; }
.main-content .on-page-cs-item p.rad-quote { font-size:1.8rem; }
.cs-highlighted-text { width:100%; }
.main-content .on-page-cs-item p.rad-quote, .main-content .top-cntnt p.rad-quote { max-width:100%; }
body#ip3-sourcing-map .map-bottom-content.col-sm-offset-1 {margin-left: 0;}

}

@media all and (max-width: 639px) {

.sub-content-page .top-cntnt .cs-img { margin: 0 0 15px 0; }
.core-cntnt-page.main-content.sub-content-page h3 { margin-bottom: 9px; padding: 0 0 10px 0; }
.on-page-cs-item { /*padding-top: 3px;*/ }
.on-page-cs-item h2.dsktp, .on-page-cs-item h2.mbl { margin: 0 0 6px; }
#contentwrapper .on-page-cs-item table.rad-highlight[id^="key-data"] { margin: 10px auto; }
.on-page-cs-item p.rad-caption { padding-bottom: 12px; }
.on-page-cs-item h2 { margin-bottom: 11px; }
.cs-highlighted-text { padding-bottom: 5px; }



}