/*--  Content sub page  --*/

.main-content .h1.subpage-ttl { margin: -101px 0 0 0; }
.subpage-ttl h1 { margin: 0; font-weight: 600; }
.subpage-ttl h1:after { display:none; }
.sub-content-page .strapline-text { display:inline-block; padding-top: 12px; }
.sub-content-page .strapline-text h2 { font-size:2.6rem; color:#666; text-transform:uppercase; margin-bottom:0; line-height:1.444em; padding-bottom:25px; }
.sub-content-page .strapline-text h2:after { display:none; }
.core-cntnt-page.main-content.sub-content-page h3 { margin-bottom: 11px; padding: 0 0 17px 0; font-size:2.2rem; text-transform: none; }
.core-cntnt-page.main-content.sub-content-page h3.topspace { margin-top: 57px; }
.sub-content-page .top-cntnt .cs-img{    position: relative; float:right; margin: 0 0 20px 7%; }
.sub-content-page #contentwrapper .top-cntnt h3 { clear: left; display: block; }

.top-cntnt { float:left; width:100%; }
body.ip3-edit .top-cntnt > span.scWebEditInput  { display: inline; }
.onpage-cs-wrapper { float:left; width:100%; }

.on-page-cs-item { clear:left; padding-top:36px; }
.on-page-cs-item .cs-img { position: relative;float:left; margin:0 11% 36px 0; max-width:42.5%; }
.on-page-cs-item .cs-img a.vid.rad-video { display:block; }
.on-page-cs-item h2.dsktp:after, .on-page-cs-item h2.mbl:after { display:none; }
.on-page-cs-item h2 { font-size:4.5rem; margin-bottom: 10px; padding-bottom: 18px; }
.on-page-cs-item h3, .on-page-cs-item h2 { display:inline-block; }
.on-page-cs-item .mbl, .on-page-cs-item .mbl { display:none; }

#contentwrapper .on-page-cs-item table.rad-highlight[id^="key-data"] { width:auto; float:none; margin: 35px 0 0px; }
#contentwrapper .on-page-cs-item table.rad-highlight[id^="key-data"] td { padding-bottom:60px; max-width: 400px; }
#contentwrapper .on-page-cs-item table.rad-highlight[id^="key-data"] tr:last-child td { padding-bottom:30px; }
/*#contentwrapper .on-page-cs-item table.rad-highlight[id^="key-data"] tr:last-child td { padding-bottom:0; }*/

#contentwrapper .on-page-cs-item table.rad-highlight[id*=break] { width:100%; }

.on-page-cs-item h2.no-pad { padding:0; }
.on-page-cs-item h2.dsktp, .on-page-cs-item h2.mbl { margin: 57px 0 25px; }
#ip3-how-we-do-it .on-page-cs-item h2.dsktp, #ip3-how-we-do-it .on-page-cs-item h2.mbl {margin-top:20px;}
.main-content .on-page-cs-item p.rad-quote, .main-content .top-cntnt p.rad-quote{ line-height: 1.417em; font-size: 2.4rem; margin: 0; padding-bottom: 17px; max-width: 937px; }
.on-page-cs-item p.rad-caption { font-size:1.5rem; margin-bottom: 7px; }
.on-page-cs-item p.rad-caption strong { font-family: "Futura LT W01 X Bold Condensed", Arial, Helvetica; font-weight: unset; font-size: 1.3rem; margin-bottom: -2px; display: inline-block; }
.cs-highlighted-text { width: 70%; padding-bottom: 56px; }
.main-content .top-cntnt p.rad-quote{clear:none;}
h3.dsktp ~ p { margin-top: 11px;}
.sub-content-page h3.dsktp{display:table-cell;}

.cs-img strong{position: absolute;    bottom: 35px;    z-index: 1;}
.cs-img .rad-big{line-height: 1.48em;
    font-family: "Futura LT W01 Medium Condensed", Arial, Helvetica;
    position: relative;
    padding: 0 5px 0 10px;
    font-size: 3.0rem;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    display: inline;
    line-height: 1.4em;
    /* box-shadow: 15px 0 0 #fff, -15px 0 0 #fff; */
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    text-align: left;
    margin-left: -1px;
    overflow: hidden;}
.cs-img .rad-small{    padding: 0 10px;
    font-size: 1.6rem;
    color: #000;
    background-color: #fff;
    display: table;
    /* box-shadow: 15px 0 0 #fff, -15px 0 0 #fff; */
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    text-align: left;
    margin-top: 1px;}
    
.our-story-landing .static.section0.landing-banner {
    min-height: 748px;
}
