/*@font-face{ font-family: 'syke-bold';src:  url('fonts/syke-bold-webfont.woff') format('woff'), url('fonts/syke-bold-webfont.woff2') format('woff'); }
@font-face{ font-family: 'fonts/syke-light';src:  url('syke-light-webfont.woff') format('woff'), url('fonts/syke-light-webfont.woff2') format('woff');}
@font-face{ font-family: 'fonts/syke-medium';src:  url('syke-medium-webfont.woff') format('woff'), url('fonts/syke-medium-webfont.woff2') format('woff');}*/
.inv_playerContainer ul,.inv_playerContainer ul li{list-style-type: none !important;padding:0;margin:0;}
.inv_playerContainer,.inv_playerContainer * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}
.inv_playerContainer:before,.inv_playerContainer *:before,
.inv_playerContainer:after,.inv_playerContainer *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

/*----------------------------------------------Player/Gallery Container----------------------------------------------*/
.inv_hide,.defaultPlayerControls .inv_videoControls,.defaultPlayerControls .inv_overlayPlay,.defaultPlayerControls .inv_videoStillArea,.defaultPlayerControls .inv_videoLoaderArea
{
	display:none !important;		
}
.inv_show
{
	display:block !important;
}
.inv_userInteractionOnPlayer.inv_mobilelarge[inv_videoDataType='youtube'] .inv_hotspotVideoWrapper,.inv_userInteractionOnPlayer.inv_mobilesmall[inv_videoDataType='youtube'] .inv_hotspotVideoWrapper,.inv_userInteractionOnPlayer.inv_iostablet[inv_videoDataType='youtube'] .inv_hotspotVideoWrapper, 
.inv_userInteractionOnPlayer.inv_mobilelarge[inv_videoDataType='youtube'] .inv_overlayPlay,.inv_userInteractionOnPlayer.inv_mobilesmall[inv_videoDataType='youtube'] .inv_overlayPlay,.inv_userInteractionOnPlayer.inv_iostablet[inv_videoDataType='youtube'] .inv_overlayPlay, 
.inv_userInteractionOnPlayer.inv_mobilelarge[inv_videoDataType='youtube'] .inv_videoStillArea,.inv_userInteractionOnPlayer.inv_mobilesmall[inv_videoDataType='youtube'] .inv_videoStillArea,.inv_userInteractionOnPlayer.inv_iostablet[inv_videoDataType='youtube'] .inv_videoStillArea,
.inv_userInteractionOnPlayer.inv_mobilelarge[inv_videoDataType='youtube'] .inv_videoLoaderArea,.inv_userInteractionOnPlayer.inv_mobilesmall[inv_videoDataType='youtube'] .inv_videoLoaderArea,.inv_userInteractionOnPlayer.inv_iostablet[inv_videoDataType='youtube'] .inv_videoLoaderArea,
.inv_userInteractionOnPlayer.inv_mobilelarge[inv_videoDataType='youtube'] .inv_videoControls,.inv_userInteractionOnPlayer.inv_iostablet[inv_videoDataType='youtube'] .inv_videoControls
{
	display:none !important;	
}
.inv_playerContainer
{
	position:relative;
	
	width:100%;	
	height:auto;
	min-height:180px;
	
	overflow:hidden;
	
	background-image:url('../images/loader.gif');
	background-repeat:no-repeat;
	background-position:center;
	/*background-color:white;	*/
	font-style: normal;
/*	background-color:red;*/
}
.inv_bannerPlayer.inv_tablet.inv_playerContainer,.inv_bannerPlayer.inv_desktop.inv_playerContainer,.inv_bannerPlayer.inv_iostablet.inv_playerContainer{
	width:100%;
	height:100%;
}
/*.inv_playerContainer.inv_tablet 
{
	width:80%;  temp - for QA testing of previous version 
}*/
.inv_playerContainer.inv_playerReady,.inv_playerContainer.inv_noData
{
	background-image:none;
}
.inv_playerContainer.inv_playerReady.inv_playerLoading
{
	background-image:url('../images/loader.gif');	
}
.inv_playerAvailable
{
	width:100%!important;	
	height:auto!important;
	display:block!important;
}
.inv_playerContainer.inv_noData:before
{
	content:'No Data Found';	
}
.inv_mobilelarge.inv_playerContainer
{
	min-height:180px;
}
.inv_mobilesmall.inv_playerContainer
{
	min-height:136px;
}
/*----------------------------------------------Video Area Container----------------------------------------------*/
.inv_videoMainContainer
{
	padding:0px;
	margin:0px;
	
	float:left;
	position:relative;
	
	width:100%;
	height:auto;
	overflow:hidden;
	
	display:none;
}
.inv_ie .inv_videoMainContainer
{
	width:100.1%;
}
.inv_bannerPlayer.inv_desktop .inv_videoMainContainer,.inv_bannerPlayer.inv_tablet .inv_videoMainContainer,.inv_bannerPlayer.inv_iostablet .inv_videoMainContainer{
	width:100%;
	height:100%;
}
.inv_playerContainer.inv_playerReady .inv_videoMainContainer
{
	display:block;	
}
.inv_playerContainer.inv_playerReady.inv_playerLoading .inv_videoMainContainer
{
	display:none;	
}
.inv_mobilelarge .inv_videoMainContainer,.inv_mobilesmall .inv_videoMainContainer
{
	z-index: 5;
}
.inv_videoMainContainer.inv_noData:before 
{
    content:'No Data Found';	
}
.inv_FullScreen .inv_videoMainContainer
{
	height:100%;
	background-color:black;
}
.inv_ratio
{
	padding-top: 56.25%;
	display:block;
}
.IE9 .inv_ratio,.IE10 .inv_ratio
{
	display:none !important;
}
.inv_videoMainContainer_inner
{
	padding:0px;
	margin:0px;
	
	position:relative;
	float:left;
	
	z-index:1;	
	
	width:100%;	
	height:auto;
}
.inv_ie .inv_videoMainContainer_inner
{
	width:100.1%;
}
.inv_bannerPlayer.inv_desktop .inv_videoMainContainer_inner,.inv_bannerPlayer.inv_tablet .inv_videoMainContainer_inner,.inv_bannerPlayer.inv_iostablet .inv_videoMainContainer_inner{
	width:100%;
	height:100%;
}
.inv_FullScreen .inv_videoMainContainer_inner
{
	height:100%;	
}
.inv_mobilelarge .inv_videoMainContainer_inner, .inv_mobilesmall .inv_videoMainContainer_inner
{
    z-index: 6;
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_videoMainContainer_inner
{
	padding:0px;
	margin:0px;
	
	position:absolute;
	float:left;
	
	z-index:1;	
	
	width:100%;	
	height:100% !important;
	
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.inv_playerContainer[inv_vrPlayer='true'].IE9 .inv_videoMainContainer_inner,.inv_playerContainer[inv_vrPlayer='true'].IE10 .inv_videoMainContainer_inner
{
	position:relative;
	height: 100% !important;
}
/*----------------------------------------------Video Display Area----------------------------------------------*/
.inv_videoDisplay
{
	width:100%;
	height:auto;
	
	position:relative;
	float:left;
	
	border:none;
	vertical-align:middle;
	
}
.inv_bannerPlayer.inv_desktop .inv_videoDisplay,.inv_bannerPlayer.inv_tablet .inv_videoDisplay,.inv_bannerPlayer.inv_iostablet .inv_videoDisplay{
	width:100%;
	height:100%;
}
.inv_FullScreen .inv_videoDisplay
{
	top: 50%;
    left: 50%;    
	
	-ms-transform: translateX(-50%) translateY(-50%); /*IE 9*/
	-moz-transform: translateX(-50%) translateY(-50%); /* FireFox*/
	-webkit-transform: translateX(-50%) translateY(-50%); /* Chrome */
	-o-transform: translateX(-50%) translateY(-50%); /*Opera*/
	transform: translateX(-50%) translateY(-50%);
}
.inv_bannerPlayer.inv_desktop .inv_videoDisplay
{
	opacity: 0!important;
}
.inv_bannerPlayer.inv_desktop.inv_videoPlaying .inv_videoDisplay
{
	opacity: 1!important;
 	transition: opacity 0.5s linear!important;	
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_videoDisplay
{
	height:100%;
}
.inv_playerContainer[inv_vrPlayer='true'].IE9 .inv_videoDisplay,.inv_playerContainer[inv_vrPlayer='true'].IE10 .inv_videoDisplay
{
	height: 100%;
}
.inv_bannerPlayer.inv_desktop .inv_videoStillArea
{
	display:none!important;
}
/*----------------------------------------------Video Overlay----------------------------------------------*/
.inv_overlayPlay
{
	width:100%;
	height:100%;
	
	top:0px;
	left:0px;
	z-index:3 !important;
	position:absolute;
	overflow:hidden;
	cursor:pointer;
	background-image:url('../images/overlay-play.png');
	background-repeat:no-repeat;
	background-position:center;
	border:none;
	display: none;
	
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_overlayPlay
{
	z-index: 4 !important;
}
.inv_bannerPlayer .inv_overlayPlay {
	display: none !important;
}
.applyhover .inv_overlayPlay:hover
{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:3 !important;
	position:absolute;
	overflow:hidden;
	cursor:pointer;
	background-image:url('../images/overlay-playHover.png');
	background-repeat:no-repeat;
	background-position:center;
	border:none;
}
.applyhover.inv_playerContainer[inv_vrPlayer='true'] .inv_overlayPlay:hover
{
	z-index: 4 !important;
}
.inv_overlayPlayClicked
{
	background-image:url('../images/overlay-playClicked.png')!important;
}
.inv_videoReady .inv_overlayPlay
{
	display: block;
}
.inv_desktop .inv_vrPlayer .inv_overlayPlayClicked
{
	pointer-events:none;
}
.IEold.inv_vrPlayer .inv_overlayPlayClicked
{
	display:none;
}.inv_noimage
{
	background-image:url('../images/noimage.png')!important;
	background-repeat:no-repeat;
	background-position:center;
}
/*.applyhover.inv_bannerPlayer .inv_overlayPlay,
.applyhover.inv_bannerPlayer .inv_overlayPlay:hover,
.applyhover.inv_bannerPlayer .inv_overlayPlayClicked
{
	background-image:url('../images/noimage.png')!important;
	background-repeat:no-repeat;
	background-position:center;
}*/

/*----------------------------------------------Video Loader----------------------------------------------*/
.inv_videoLoaderArea
{
	width:100%;
	height:100%;
	
	z-index:4 !important;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	background-color:Transparent;
	background-image:url('../images/videoLoader.gif');
	background-repeat:no-repeat;
	background-position:center;
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_videoLoaderArea
{
	z-index: 5 !important;
}
.inv_image .inv_videoLoaderArea
{
	display:none !important;
}
/*----------------------------------------------Video Still Area----------------------------------------------*/
.inv_videoStillArea
{
	width:100%;
	height:auto;
	
	position:relative;
	float:left;
	
	z-index:2 !important;
	
	overflow:hidden;
	vertical-align:middle;
	background-color:#000;
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_videoStillArea
{
	z-index: 3 !important;
}
.inv_videoStillArea img
{
	width:100%;
	position:relative;
	float:left;
	height:auto;
}
.inv_bannerPlayer.inv_desktop .inv_videoStillArea img,.inv_bannerPlayer.inv_tablet .inv_videoStillArea img,.inv_bannerPlayer.inv_iostablet .inv_videoStillArea img{
	height:100%;
	width: auto;	
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_videoStillArea img
{
	width:auto;
	position:relative;
	float:left;
	height:100%;
}
/*.inv_bannerPlayer .zoomIn .inv_videoStillArea img{
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;

	-moz-transform:translateX(-50%) translateY(-50%) scale(1.25);
	-webkit-transform:translateX(-50%) translateY(-50%) scale(1.25);
	-o-transform:translateX(-50%) translateY(-50%) scale(1.25);
	-ms-transform:translateX(-50%) translateY(-50%) scale(1.25);
	transform:translateX(-50%) translateY(-50%) scale(1.25);
}*/
.inv_videoReady .inv_videoStillArea
{
	height:100%;	
}
.inv_videoReady .inv_videoStillArea,.inv_videoReady .inv_videoStillArea img
{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%); /*IE 9*/
	-moz-transform: translateX(-50%) translateY(-50%); /* FireFox*/
	-webkit-transform: translateX(-50%) translateY(-50%); /* Chrome */
	-o-transform: translateX(-50%) translateY(-50%); /*Opera*/
	margin: 0;
}

.inv_FullScreen .inv_videoStillArea
{
	background-color:#000000 !important;
}
/*----------------------------------------------Video Area----------------------------------------------*/
.inv_videoArea
{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:absolute;	
	
	z-index:1 !important;
	
	overflow:hidden;
	vertical-align:middle;	
	/*background-color:#ffffff;*/
}
.inv_playerContainer[inv_vrPlayer='true'].IE9 .inv_container,.inv_playerContainer[inv_vrPlayer='true'].IE10 .inv_container
{
	display:none !important;
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_container
{
	width:100%;
	height:100%;
	background:#000;
	border:none;
	cursor: pointer;
	position: absolute;
	z-index: 2;
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_container_clicked
{
	cursor: -webkit-grabbing;
}
.inv_videoReady .inv_videoArea
{
	height:auto;
	position:relative;
	float:left;
}
.inv_playerContainer[inv_vrPlayer='true'].IE9 .inv_videoArea,.inv_playerContainer[inv_vrPlayer='true'].IE10 .inv_videoArea
{
	display:block !important;
	position: relative;
	float:left;
	height:100% !important;
} 
.inv_bannerPlayer.inv_desktop.inv_videoReady .inv_videoArea,.inv_bannerPlayer.inv_tablet.inv_videoReady .inv_videoArea,.inv_bannerPlayer.inv_iostablet.inv_videoReady .inv_videoArea
{
	height:100% !important;
	width: 100% !important;
}
.inv_videoArea video,.inv_videoArea iframe
{
	width:100%;
	height:100%;
	
	position:absolute;	
	
	z-index:1;
	
	top: 0px;
    left: 0px;
    border:0px;
    background-color: #000;
}
.inv_bannerPlayer.inv_desktop .inv_videoArea video,.inv_bannerPlayer.inv_tablet .inv_videoArea video,.inv_bannerPlayer.inv_iostablet .inv_videoArea video
{
	position: absolute;
	right: 0 !important;
	bottom: 0 !important;
	min-width: 100% !important;
	min-height: 100% !important;
	width: auto !important;
	height: auto !important;
	top: 50% !important;
	left: 50% !important;
	-webkit-transform-origin: center;
	-ms-transform: translateX(-50%) translateY(-50%); 
	-moz-transform: translateX(-50%) translateY(-50%); 
	-webkit-transform: translateX(-50%) translateY(-50%); 
	-o-transform: translateX(-50%) translateY(-50%); 
	transform: translateX(-50%) translateY(-50%);	
}
.inv_videoArea img
{
	visibility:hidden;
	
	width:100%;
	height:auto;
	
	position:relative;
	float:left;
	
	z-index:0;
}
.inv_bannerPlayer.inv_desktop .inv_videoArea img,.inv_bannerPlayer.inv_tablet .inv_videoArea img,.inv_bannerPlayer.inv_iostablet .inv_videoArea img {
    height: 100%;
    width: auto;
}
/*.inv_iostablet .inv_videoArea video
{
	height:100%;	
}
.applyhover .inv_videoArea video
{
	height:auto;
}*/
.inv_FullScreen .inv_videoArea
{
	background-color:#000000 !important;
}
.portrait .inv_videoMainContainer_inner,.portrait .inv_videoDisplay,.portrait .inv_videoArea,.portrait .inv_videoArea img,.portrait .inv_videoStillArea,.portrait .inv_videoStillArea,.portrait .inv_videoStillArea img
{
	height:100%;	
	width:auto;
	width:100%\9;
}
.inv_playerContainer[inv_vrPlayer='true'].IE9 .inv_videoArea video,.inv_playerContainer[inv_vrPlayer='true'].IE10 .inv_videoArea video
{
	position:relative;
	height: 100%;
}
.inv_playerContainer[inv_vrPlayer='true'].IE9 .inv_videoArea img,.inv_playerContainer[inv_vrPlayer='true'].IE10 .inv_videoArea img
{
	display:none;
}
/*.portrait .inv_videoStillArea img
{
	width:auto;
}*/
/*----------------------------------------------Fullscreen----------------------------------------------*/
.inv_FullScreen
{
	overflow:visible !important;
	margin:0px !important;
	padding:0px !important;
	left:0px !important;
	top:0px !important;
	border:none !important;
	position:fixed !important;
	z-index:1 !important;
	width:100% !important;
	height:100% !important;	
	min-width:100% !important;
	min-height:100% !important;	
	-webkit-transform: none!important;	
	-o-transform: none!important;	
	transform: none!important;	
}
.inv_FullScreen_Other
{
	position:fixed !important;
	overflow:visible !important;
	margin:0px !important;
	padding:0px !important;
	left:0px !important;
	top:0px !important;
	border:none !important;
	z-index:1 !important;
	width:100% !important;
	height:100% !important;	
	-webkit-transform: none!important;	
	-o-transform: none!important;	
	transform: none!important;	
}
.inv_FullScreen_Siblings
{
	z-index:-1 !important;
	position: fixed;
}
/*----------------------------------------------Player Controls----------------------------------------------*/
.inv_videoControls
{
	width:100%;	
	height:45px;
	bottom:0px;
	left:0px;
	
	position:absolute;
	
	background-image: url('../images/controlsbackground.png');
    background-repeat: repeat;
    background-position: center;
	/*background-color:#213540;*/
	
	z-index:7;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	
	display:none;
}
.inv_bannerPlayer .inv_videoControls
{
	display: none !important;
}
.inv_FullScreen .inv_videoControls
{
	position:fixed !important;
}
.inv_videoReady .inv_videoControls
{
	display:block;
	bottom: -45px;
}
.inv_playerContainer[inv_playerWithoutVideo='true'] .inv_videoControls
{
	display:none!important;
}
/*.inv_videoPaused .inv_videoControls
{
	bottom: -45px;
}*/
/*.inv_FullScreen.inv_videoPaused .inv_videoControls{	
	bottom: 0px !important;
}*/
/*.inv_videoPlaying */.inv_mouseLeave .inv_videoControls
{
	bottom: -45px;
}
/*.inv_videoPlaying */.inv_mouseEnter .inv_videoControls
{
	bottom: 0px;
}
.inv_playerContainer[inv_vrPlayer='true'].IE10 .inv_mouseLeave .inv_videoControls
{
	bottom: -45px;
}
.inv_playerContainer[inv_vrPlayer='true'].IE10 .inv_mouseEnter .inv_videoControls
{
	bottom: 5px;
}
.inv_playerContainer[inv_vrPlayer='true'].IE10.inv_FullScreen .inv_mouseLeave .inv_videoControls
{
	bottom: -45px;
}
.inv_playerContainer[inv_vrPlayer='true'].IE10.inv_FullScreen .inv_mouseEnter .inv_videoControls
{
	bottom: 0px;
}
/*.inv_mobilesmall.inv_mouseLeave.inv_videoPlaying .inv_videoControls
{
	bottom: 0px;
}*/
.inv_mobilelarge .inv_videoControls,.inv_mobilesmall.inv_IOS10Mobile .inv_videoControls 
{
	float: left;
    position: relative;
   /* margin-top: -51px;*/
    z-index: 8;
	bottom: 0px !important;
	/*background-color:white;*/
}
.inv_mobilelarge .inv_videoControls,.inv_mobilesmall.inv_IOS10Mobile .inv_videoControls
{
	position: absolute !important;
}
.inv_mobilesmall:not(.inv_IOS10Mobile) .inv_videoControls
{
	/*height:41px;
	position:relative !important;
	float:left !important;
	bottom: 0px !important;
	background-color:#33444C;*/
	display:none;
	width:0px;
	height:0px;
}
.inv_playBtn
{
	width: 45px;
    height: 40px;
	
	position:relative;
	overflow:hidden;	
	float:left;	
	cursor:pointer;	
	background-image:url('../images/play.png');
	background-repeat:no-repeat;
	background-position:17px 13px;
	
}
.applyhover .inv_playBtn:hover
{
	background-position:17px -33px;
}
.inv_pauseBtn
{
	width: 45px;
    height: 40px;
	
	position:relative;
	overflow:hidden;	
	float:left;	
	cursor:pointer;	
	background-image:url('../images/pause.png');
	background-repeat:no-repeat;
	background-position:16px 11px;
}
.applyhover .inv_pauseBtn:hover
{
	background-position:16px -31px;
}
.inv_fullscreenBtn
{
	width: 50px;
    height: 40px;
	cursor:pointer;	
	background-image:url('../images/fullscreen.png');
	background-repeat:no-repeat;
	background-position:center 12px;
	position:relative;
	overflow:hidden;
	float:right;	
	border:none;
}
.applyhover .inv_fullscreenBtn:hover
{
	background-position:center -32px;
}
.inv_noFullScreen .inv_fullscreenBtn
{
	display:none !important;
}
.inv_normalmodeBtn
{
	background-image:url('../images/normal.png') !important;
	background-position: center 13px !important;
}
.applyhover .inv_normalmodeBtn:hover
{
	background-image:url('../images/normal.png') !important;
	background-position:center -32px !important;
}
.inv_externalLink
{
	width:50px;
	height:40px;
	float:right;
	
	cursor:pointer;	
	background-image:url('../images/external.png');
	background-repeat:no-repeat;
	background-position:center 10px;
	position:relative;
	overflow:hidden;
}
.inv_externalLink:hover
{
	background-position: center -40px;
}
.inv_mobilesmall:not(.inv_IOS10Mobile) .inv_playBtn
,.inv_mobilesmall:not(.inv_IOS10Mobile) .inv_pauseBtn
,.inv_mobilesmall:not(.inv_IOS10Mobile) .inv_stopBtn
,.inv_mobilesmall:not(.inv_IOS10Mobile) .inv_replayBtn
,.inv_mobilesmall:not(.inv_IOS10Mobile) .inv_soundContainer
,.inv_mobilesmall:not(.inv_IOS10Mobile) .inv_startTime
,.inv_mobilesmall:not(.inv_IOS10Mobile) .inv_seperatorTime
,.inv_mobilesmall:not(.inv_IOS10Mobile) .inv_fullscreenBtn
,.inv_mobilesmall:not(.inv_IOS10Mobile) .inv_downloadBtn
,.inv_mobilesmall:not(.inv_IOS10Mobile) .inv_externalLink
{
	display:none;
	width:0;
	height:0;	
}

.inv_playheadWellContainer
{
	width:100%;	
	height:5px;
	
	position:relative;	
	float:left;
	
	z-index:2;
	overflow:visible;
}
.inv_mobilesmall:not(.inv_IOS10Mobile) .inv_playheadWellContainer
{
	display:none;
	width:0px;
	height:0px;
}
.inv_playheadWell
{
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	
	z-index:1;
	position:absolute;
	float:left;	
	border:0px;
	
	background: #858585;
	
	cursor:pointer;
	
}
.inv_playheadWellBuffered
{
	left:0px;
	top:0px;
	height:100%;
	width:0px;
	
	z-index:2;
	position:absolute;
	float:left;	
	border:0px;
	
	background:#7792a0;
	
	cursor:pointer;
	
	transition: all 0.01s ease-in-out;
	-webkit-transition: all 0.01s ease-in-out;
}
.inv_playheadWellWatched
{
	left:0px;
	top:0px;
	height:100%;
	width:0px;
	
	z-index:3;
	position:absolute;
	float:left;	
	border:0px;
	
	background:#36acdc;
	
	cursor:pointer;
	
	transition: all 0.01s ease-in-out;
	-webkit-transition: all 0.01s ease-in-out;
}
.inv_playhead
{
	 
	left:0px;
	top:0px;
	height: 5px;
    width: 5px;
	
	z-index:4;
	position:absolute;	
	float:left;		
	border:0px;
	cursor:pointer;
	
	background:#36acdc;
	
	margin-left: -6px;
}
.applyhover .inv_playhead:hover
{
	/*background-position:-156px -658px;*/
}
.inv_playheadMoveMent .inv_playhead
{
	/*background-position:center -40px;*/
}
.inv_videoPlaying .inv_mouseLeave .inv_playhead
{
	/*background-image:none;*/
	background:#36acdc;
	height:5px;
	width:5px;
	margin-left: 0px;
	top:0px;
}

.inv_startTime
{
	width:45px;
/*	padding-left: 10px;*/
	height:40px;
	line-height:40px;
	float:left;
	font-size:14px;
	color:#ffffff;
	vertical-align:middle;
	text-align:center;
	border:none;
	position:relative;
	overflow:hidden;
	cursor:default;
	font-family: Arial;
}
.inv_mobilelarge .inv_startTime,.inv_iostablet .inv_startTime
{
	width:45px;
	padding-left:0px;
}

.inv_seperatorTime
{
	width:10px;
	height:40px;
	line-height:40px;
	float:left;
	
	font-size:14px;
	
	color:#ffffff;
	vertical-align:middle;
	text-align:center;
	position:relative;	
	overflow:hidden;
	cursor:default;
	font-family: Arial;
}
.inv_endTime
{
	width:45px;
	height:40px;
	line-height:40px;
	float:left;
	font-size:14px;
	color:#ffffff;
	vertical-align:middle;
	text-align:center;
	position:relative;
	overflow:hidden;
	cursor:default;
	font-family: Arial;
}
/*.inv_mobilelarge .inv_startTime,.inv_mobilelarge .inv_endTime
{
	width:32px;
}*/
.inv_mobilelarge .inv_seperatorTime
{
	width:5px;
}
/*.inv_mobilesmall:not(.inv_IOS10Mobile) .inv_endTime
{
	float:right;
}*/
/*.inv_mobilelarge .inv_startTime,.inv_mobilelarge .inv_endTime,.inv_mobilelarge .inv_seperatorTime,
.inv_mobilesmall .inv_startTime,.inv_mobilesmall .inv_endTime,.inv_mobilesmall .inv_seperatorTime
{
	display:none;
}*/
/*----------------------------------------------sound----------------------------------------------*/
.inv_soundContainer{
	width:auto;
	height:40px;
	cursor:default;	
	
	position:relative;
	float:left;
	z-index: 1;	
	
/*	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;*/
	/*padding-right:10px;*/
	display:none;
}

.inv_videoReady .inv_soundContainer
{
	display:block;
}

.inv_mobilesmall .inv_soundContainer,.inv_iostablet .inv_soundContainer,.inv_mobilelarge .inv_soundContainer/*,.inv_tablet .inv_soundContainer*/
{
	display:none !important;
	width:0px;
	height:0px;
}
.inv_mobilelarge .inv_soundContainer
{
	padding-right:5px;
}
.inv_soundOnOffBtn{
	cursor:pointer;
    float:left;
    width: 45px;
    height: 40px;
}
.inv_soundOnBtn{
	background-image:url('../images/soundon.png');
	background-repeat:no-repeat;
	background-position:12px 11px;
}
.inv_soundOffBtn{
	background-image:url('../images/soundoff.png');
	background-repeat:no-repeat;
	background-position:12px 11px;
}
.applyhover .inv_soundOnBtn:hover,.applyhover .inv_soundOnBtn.submenuOpened{	
	background-position:12px -31px;
}
.applyhover .inv_soundOffBtn:hover{	/*.applyhover .inv_soundOffBtn.submenuOpened*/
	background-position:12px -31px;
}


/*----------------------------------------------Htmp5 not supoorted----------------------------------------------*/
.inv_playerContainer.noHtml5Support
{
	min-height:20px !important;		
}
.inv_playerContainer.noHtml5Support .inv_videoMainContainer>div:not(.inv_videoMainContainer_inner)
{
	display:none !important;	
	width:0px !important;	
	height:0px !important;	
}
.inv_playerContainer.noHtml5Support .inv_videoLoaderArea,.inv_playerContainer.noHtml5Support .inv_overlayPlay
{
	display:none !important;	
}
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_vrSphericalControls {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    background: #ccc;
    margin: 15px;
    border-radius: 30px;
    cursor: default;
    box-shadow: 0 0 6px #414141;
    z-index: 3;
}
.inv_playerContainer[inv_vrPlayer='true'].inv_iostablet .inv_vrSphericalControls,
.inv_playerContainer[inv_vrPlayer='true'].inv_mobilelarge .inv_vrSphericalControls,
.inv_playerContainer[inv_vrPlayer='true'].inv_mobilesmall .inv_vrSphericalControls,
.inv_playerContainer[inv_vrPlayer='true'].IE10 .inv_vrSphericalControls,
.inv_playerContainer[inv_vrPlayer='true'].IE9 .inv_vrSphericalControls
{
	display: none;
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_vrSphericalControls div {
    position: relative;
    float: left;
    width: 40%;
    height: 20px;
    cursor: pointer;
    background-image: url(../images/sphericalControlsSprite.png);
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_viewUp {
    margin-left: 30%;
    top: 0;
    left: 0;
    background-position: top;
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_viewLeft {
    
    top: 0;
    left: 0;
    background-position: left;
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_viewRight {
    
    float: right !important;
    top: 0;
    right: 0;
    background-position: right;
}
.inv_playerContainer[inv_vrPlayer='true'] .inv_viewDown {
    margin-left: 30%;
    top: 0;
    left: 0;
    background-position: bottom;
}
/*----------------------------------------------Context Menu----------------------------------------------*/
.contextMenu {
	position: absolute;
	width:auto !important;
	
	z-index: 0;
	padding: 0px;
	margin: 0px;
	
	opacity: 0;
 	transition: opacity 0.1s linear;	
	
	height:auto;
	display:none;
}
.contextMenu.activate
{
	z-index: 99999;
	opacity: 1;
	transition: opacity 0.1s linear;
	display:block;	
}
.contextMenu li {
	text-align:left !important;
	list-style: none outside none !important;
	padding: 0px !important;
	margin: 0px !important;
	
	width:100%;
	height:auto;
	
	background:none !important;
	
	color: #ffffff;
	background-color: #213540;
	
}
.contextMenu a {
	text-decoration: none;
	display: block;
	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	
	position:relative;
	float:left;
	 
	font-size: 12px;
    
	width:100%;
	height:20px;
	line-height: 20px;
	
	text-align:left;
	white-space:nowrap;
	
	color: #213540;
	background-color: #ffffff;
	
	border: solid 1px silver;
}
/*----------------------------------------------colorbox----------------------------------------------*/

#colorbox .inv_playerContainer[inv_integrationMethod='colorbox']
{
	min-height:200px;
}

#colorbox .inv_mobilelarge.inv_Lumia930 .inv_videoControls
{
	position:relative;
	float:left;	
	bottom:0px;
}
#colorbox .inv_mobilelarge.inv_Lumia930.inv_FullScreen .inv_videoControls
{
	position:fixed;
}
/*------------------------------------------------Remove all while fullscreen-----------------------------------------------------*/
.inv_FullScreen.inv_mobilelarge .inv_infoContainer,.inv_FullScreen.inv_mobilesmall .inv_infoContainer
.inv_FullScreen.inv_mobilelarge .inv_videoInformation,.inv_FullScreen.inv_mobilesmall .inv_videoInformation
,.inv_FullScreen.inv_mobilelarge .inv_shareContainer,.inv_FullScreen.inv_mobilesmall .inv_shareContainer
,.inv_FullScreen.inv_mobilelarge .inv_segmentShareHandlers,.inv_FullScreen.inv_mobilesmall .inv_segmentShareHandlers
,.inv_FullScreen.inv_mobilelarge .inv_chaptersContainer,.inv_FullScreen.inv_mobilesmall .inv_chaptersContainer
,.inv_FullScreen.inv_mobilelarge .inv_hotspotVideoWrapper,.inv_FullScreen.inv_mobilesmall .inv_hotspotVideoWrapper
,.inv_FullScreen.inv_mobilelarge .inv_videoRelatedContentWrapper,.inv_FullScreen.inv_mobilesmall .inv_videoRelatedContentWrapper
,.inv_FullScreen.inv_mobilelarge .inv_videoGalleryWrapper,.inv_FullScreen.inv_mobilesmall .inv_videoGalleryWrapper
{
	display:none !important;
}

.inv_videoMainContainer.noCursor,.inv_videoMainContainer.noCursor *
{
	cursor:none !important;
}

/*@media screen 
  and (orientation: landscape) {
  	.inv_playerContainer[inv_vrPlayer='true'].inv_mobilelarge .inv_videoControls
  	{
  		bottom: -25px !important;
  	}
  	.inv_playerContainer[inv_vrPlayer='true'].inv_mobilelarge.inv_FullScreen .inv_videoControls
	{
		bottom: 0px !important;
	}
} */